---
import WalkthroughLayout from '../../layouts/WalkthroughLayout.astro';
import QuestStep from '../../components/QuestStep.astro';
import Image from '../../components/Image.astro';
import Video from '../../components/Video.astro';
import Tip from '../../components/Tip.astro';
import BossFight from '../../components/BossFight.astro';
import MediaGrid from '../../components/MediaGrid.astro';
import NextSteps from '../../components/NextSteps.astro';
import StoryBlurb from '../../components/StoryBlurb.astro';

const sections = [
  { id: "eastern-ograne-grottos", label: "Eastern Ograne Grottos" },
  { id: "phioran-village", label: "Phioran Village" },
  { id: "the-sewers", label: "The Sewers" }
];
---

<WalkthroughLayout
  subtitle="MAIN QUEST WALKTHROUGH" title="Eastern Ograne Grottos" guideId="eastern-ograne-grottos" sections={sections}>
  <QuestStep id="eastern-ograne-grottos" title="Eastern Ograne Grottos">
    <p>Although I have this as <strong>Post Game</strong> content, you can do all this before finishing the game. I know so because all this was done before finishing the game so it is possible. That being said, all this here has some of the most difficult content in the game so I hope you're ready!</p>

    <p>To unlock the eastern side of the Ograne Grottos you need to go through the ruined city of Nhysa, which is basically the end of the game. Right before going down to the last merchant and fast travel crystal is a room that has 2 ghosts chatting. You'll also find a chest that has the <strong>Elevator Key</strong>. This is the item that we need.</p>

    <p>For more info on how to get through Nhysa click the link below.</p>

    <ul>
      <li><a href="/walkthrough/killing-gods">City of Nhysa Walkthrough</a></li>
    </ul>

    <p>So, what do we do with the Elevator Key? Well we need to return to Raminas Tower, head back to the top where the elevator is (before fighting the Valkyrie boss) and using the Elevator Key. Instead of going to the top of the tower we're going DOWN.</p>

    <p>Once down here head south to the next area where you'll find 2 chests, these have <strong>Ovelia FO600</strong> and <strong>Sword &amp; Shield S600</strong>.</p>

    <Image src="https://cdn.staticneo.com/ew/thumb/b/b4/Ce_671.jpg/730px-Ce_671.jpg" alt="Ovelia and Sword &amp; Shield Location" />

    <p>Head back north and there are 2 paths. Go through the eastern path first to find a dead end with two chests containing <strong>Elemental Cannon M600</strong> and <strong>Offensive Drones O600</strong>. There a chest along the way as well that has <strong>Merlin FM600</strong> inside so make sure to grab it.</p>

    <p>Return back up and go down the left path now. Down here go down through stairs marked 3 and on this next floor head north for a dead end and a chest with <strong>Paris FP600</strong>. Head on over to exit 5 but before you leave go to the far right to find a chest with <strong>Great Sword GS600</strong>.</p>

    <Image src="https://cdn.staticneo.com/ew/thumb/8/81/Ce_672.jpg/730px-Ce_672.jpg" alt="Great Sword Location" />

    <p>Go through exit 5 now to reach the next area then go down exit 7, but kill the enemies and open the chest with <strong>Agamemnon FA600</strong> first. Once down here simply go north through exit 8 and use the elevator to go down.</p>

    <p>We are now at the bottom. Simply head south and you'll reach the eastern side of Ograne Grottos.</p>

    <p>Here you'll have the unique monster <strong>Bog the Real Gob</strong>. You need to have completed the <a href="/walkthrough/a-goblins-dilemma">Goblin sidequest</a> and transformed them all back into humans for him to appear. From here though you'll want to go west until you reach a ruined room. The door here is the one that was previously locked so go ahead and open it.</p>

    <p>To the south is a rat merchant? You can buy some Incocybin Berries from him if you need them, some good materials, and the best thing, some key items. These items are:</p>

    <ul>
      <li>Golden Voucher: usable in the Hooge to buy some of the best gear for our SAs.</li>
      <li>Diving Bell: item needed to reach the Phioran village in Arkant.</li>
      <li>Rusty Greatsword: needed for the Ultimate Weapon.</li>
      <li>Dayajir's Soul: upgrade to the Dayajir Seraph Armor we got many moons ago.</li>
    </ul>

    <Image src="https://cdn.staticneo.com/ew/thumb/b/be/Ce_673.jpg/730px-Ce_673.jpg" alt="Rat Merchant" />

    <p>Return to where the unique monster is/was and go east now to find a boat. For this boat you need the <strong>Charon's Coin Bag</strong> item. This can be found inside the mansion in the middle of the lake in Rohlan Fields. Click the link below for more info:</p>

    <ul>
      <li><a href="/walkthrough/world-exploration2">World Exploration</a>: use the TOC to search for Rohlan Fields.</li>
    </ul>

    <Tip type="warning">
      <p><strong>ENDGAME WARNING</strong></p>
      <p>In this part we'll be fighting the 4 most difficult bosses in the game. They are completely optional and people call them super bosses. For this I highly suggest you go get your Ultimate Weapons and the Ultimate Armor. The weapons is more complicated and I have a full page dedicated to that. For the armor, you get this from the Deals at any merchant. I'll leave both pages linked below.</p>
      <p>Of course, besides having these you'll want to fully upgrade them to ++ and attach crystals to them. Of course for skills and whatnot you'll have to read the individual fights!</p>
      <ul>
        <li>Ultimate Weapons: <a href="/walkthrough/ultimate-weapons">Ultimate Weapons</a></li>
        <li>Ultimate Armor: <a href="/walkthrough/deals">Deals</a></li>
      </ul>
    </Tip>

    <p>Once you cross you'll be on the eastern side of the region. Nice! Finally! At the fork we'll get a <strong>Fast Travel Crystal</strong>. Now go back and take the boat again to get the Reward Board node. NBefore continuing the dungeon, you shuold viist the Phioran Village if you haven't already.</p>
  </QuestStep>

  <QuestStep id="phioran-village" title="Phioran Village">
    <p>The entrance to the Phioran Village is in Arkant Archipelago. You can go in by either going to that trapdoor we found in the southeastern corner of the region, or by going to the whirlpool in the water in the southwestern corner of the region. Note that the trapdoor requires you to max out your Clan rank.</p>

    <p>Inside there are only chests for us to get. Let's go over how to get them real quick. When you enter from the whirlpool you'll be left off in front of a little pond with a waterfall. If you come in through the trapdoor go through the tunnel then go north from the first house to find said pond with a waterfall.</p>

    <p>From this pond enter the building on the right, through the back (hidden door). This leads to a little chest with <strong>Rainbow Ore x8</strong> inside. Exit the house and go right and down across the bridge. As soon as you cross you'll find some blue coral on the right. You can go through this wall to find a <strong>Maltet</strong> for Lenne.</p>

    <Image src="https://cdn.staticneo.com/ew/thumb/2/21/Ce_693.jpg/730px-Ce_693.jpg" alt="Maltet Location" />

    <p>From here go right into the wall and follow the path as it takes you north to a hidden chest with <strong>Soul of Farnese</strong>.</p>

    <Image src="https://cdn.staticneo.com/ew/thumb/8/8c/Ce_695.jpg/730px-Ce_695.jpg" alt="Soul of Farnese Location" />

    <p>Head back and go left and from the house with red roof go left through the wall to find a chest with <strong>Blood Stone x4</strong>.</p>

    <Image src="https://cdn.staticneo.com/ew/thumb/1/1c/Ce_694.jpg/730px-Ce_694.jpg" alt="Blood Stone Location" />

    <p>Note that you can go left into the wall from the chest and follow the hidden path north to get to the last chest, this one with <strong>Tekko</strong> for Mikah.</p>

    <p>Returning to the Eastern Ograne fast travel crystal, let's go south first since it's the shortest (we need to go through both).</p>
    <p>At the fork down below go left for a <strong>crystal source</strong> and nearby you'll be able to spot a <strong>hidden cave</strong> with <strong>Blood Stone x3</strong> inside. Afterwards head south into the next area.</p>

    <MediaGrid columns={2}>
      <Image src="https://cdn.staticneo.com/ew/thumb/6/60/Ce_674.jpg/326px-Ce_674.jpg" alt="Crystal Source and Cave" />
      <Image src="https://cdn.staticneo.com/ew/thumb/1/12/Ce_675.jpg/326px-Ce_675.jpg" alt="Hidden Cave Entry" />
    </MediaGrid>

    <p>This is the last marked area so you should get your Reward Board challenge done. Once here though go left and follow the path as it goes around, ignore the ladder going down and continue following the path until you reach a chest with <strong>Emperor's Hide x4</strong>. Continue and at the next fork go left across the bridge to find a chest with <strong>Rainbow Ore x8</strong>.</p>

    <Image src="https://cdn.staticneo.com/ew/thumb/0/0c/Ce_676.jpg/730px-Ce_676.jpg" alt="Rainbow Ore Chest" />

    <p>Return and as you go north you'll find the final <strong>hidden cave</strong>, this one with <strong>13000a</strong>.</p>

    <MediaGrid columns={2}>
      <Image src="https://cdn.staticneo.com/ew/thumb/3/36/Ce_677.jpg/326px-Ce_677.jpg" alt="Final Hidden Cave" />
      <Image src="https://cdn.staticneo.com/ew/thumb/b/b6/Ce_678.jpg/326px-Ce_678.jpg" alt="13000a Treasure" />
    </MediaGrid>

    <p>Back outside go left and go up the wall to find a chest at the top with <strong>Ancient Carcass x5</strong>. Head back down and continue going west to find the ladder from before. Go down the other ladder and continue following the path. Grab the <strong>crystal sources</strong>, kill the enemies and open the chest to the right to find <strong>Divine Wool x4</strong>.</p>

    <Image src="https://cdn.staticneo.com/ew/thumb/3/3d/Ce_679.jpg/730px-Ce_679.jpg" alt="Divine Wool Location" />

    <p>Head south now and you'll find a portal just like the one inside Glenn's mind. There's a boss inside so make sure to save, read the strategy below, and prepare yourself before you head in.</p>

    <BossFight title="Randomage">
      <Video id="8lczaUYRM-Y" title="Randomage Boss Fight" />
      <p>Well, this guy looked pretty easy at first but I quickly realized how difficult he'd be when he kicked my ass like 5 times in a row haha.</p>
      
      <p>Don't worry though because I have a great strat for you. This guy is straight up a copy from the Red Mage job in Final Fantasy XIV! He has his magical phase, and his physical phase. I know because I'm currently leveling up the job haha.</p>
      
      <p>Anyway, this guy LOVES to cast magic, and it's magic that hits the entire party. For the entirety of the fight you'll be dealing with party wide attacks, which make it really hard to keep up with healing... unless you do the following.</p>
      
      <p>To begin with, you of course want to have your best armor, which you get from the deals. I also recommend you get MIND crystals and place them on your armor to increase your MIND as much as you can. Another thing you can/should do is to equip all the MIND UP passive skills you have. Some characters have them default but you can get all your characters (at least the ones you're using in this fight) MIND UP +30% from the Cleric Class Emblem. This one is huge and I highly recommend it.</p>
      
      <p>Besides that, of course try and have the Ultimate Weapons (like I suggested above) and equip the best crystals you have. As for skills there are 2 you REALLY want: Mikah's Larynx Attack and the Rune Knight's Light Coat. The former basically gives your physical attacks the light element, which the boss is weak to. This is great since I recommend having Glenn and Mikah in the party. Mikah is almost a must.</p>
      
      <p>The former skill, Larynx Attack, inflicts the boss with Silence. This guy is a mage and 90% of his arsenal is magic. Yeah, using Mikah's attack basically makes this fight a joke! Maxing out her skill hits the boss with 4 turns of silence. That lets you debuff him, buff yourself, use Light Coat on your party and go ham on him.</p>
      
      <p>Yeah, he'll basically do nothing throughout the fight while silenced except for his Enchanted Combo, which hits for around 100 dmg. on Victor. If you don't silence him he'll of course use his magic spells and can use his Randomizer, which gives everyone (including himself) a random buff, or debuff, or status ailment. This one is weird because he can buff your whole party while debuffing himself, and the other way around. He won't use this while silenced though so another reason to have him silenced.</p>
      
      <p>One good thing though, is that you can continue silencing him. I recommend you Silence him once, let a turn or two pass, then use Larynx Attack until his silence is refreshed, rinse and repeat.</p>
      
      <p>There are a couple of things to take note here though. First is that he scrambles the OD gauge, which is as annoying as ever. Another thing he does, and this is something unique to him, is that he hides your OD gauge which prevents you from knowing what's safe and what's not. Here you normally want to try and go down until you're in the green part then try to keep yourself there, but given that we're not taking that much damage you can ignore this and still be fine.</p>
      
      <p>Once the OD gauge is hidden though, this means that the fight is almost over. Do be careful because when the fight "ends" he'll actually drop the OD gauge on your party haha, dealing around 130 dmg. to them all. Make sure to stay healed before then.</p>
      
      <p>And of course the fight is not over because the fight continues for a bit longer. He'll summon a couple little things, one of them being a Hana Doll. As you may know from fighting the Hana Dolls before reaching the boss, you need to deplete their HP in order to not take damage so make sure to do so, then focus on the boss to kill him. That's pretty much it. Pretty easy, huh?</p>
      
      <ul>
        <li><strong>Magic Attack</strong>: casts any elemental attack and hits all party members for around 120 dmg.</li>
        <li><strong>Enchanted Combo</strong>: hits a party members 5 times for around 20 dmg. each hit.</li>
        <li><strong>Twisting Wind</strong>: scrambles the OD gauge.</li>
        <li><strong>Twisting Nebula</strong>: completely hides the OD gauge.</li>
        <li><strong>Opening Rift</strong>: summons 2 items and a Hana Doll.</li>
        <li><strong>Randomizer</strong>: gives everyone (including himself) a random buff, or debuff, or status ailment.</li>
      </ul>
    </BossFight>

    <p>After the fight go ahead and leave this place, then go south and grab the <strong>Earth Tablet</strong> from the little shrine.</p>

    <Image src="https://cdn.staticneo.com/ew/thumb/d/db/Ce_698.jpg/730px-Ce_698.jpg" alt="Earth Tablet Location" />

    <p>Fast travel back to the crystal and we're now going to explore the northern side. Follow said path and drop down at the end until you end up... in a completely dark cave with sand on the ground. There are no normal enemies here BUT there is a boss fight! It's also super dark so you'll have to find your way through this place. I'll try to guide you real quick.</p>

    <p>From where we start head right and you'll find a fork. Start by going north, grab the <strong>crystal source</strong> on the right but as you go north stick to the LEFT wall. This will take you to a red chest with <strong>Scholar's Habit</strong>. I don't even think a screenshot helps but here you go.</p>

    <Image src="https://cdn.staticneo.com/ew/thumb/d/d4/Ce_689.jpg/730px-Ce_689.jpg" alt="Scholar's Habit Path" />

    <p>From here continue north following the wall behind the chest, grab the <strong>crystal source</strong> on the way and eventually you'll find a large light with a guy in the middle this is your boss (he's super easy in my opinion) so save your game, prepare yourself and start the fight!</p>

    <BossFight title="Chel &amp; Twi'Tone">
      <Video id="gBFZR-UkXo4" title="Chel &amp; Twi'Tone Boss Fight" />
      <p>As you can tell from the attack below, yeah, this is a pretty easy fight.</p>
      
      <p>So for this fight Chel does absolutely nothing but stand there and use his dart shots to inflict a random status ailment. This is the fight where you actually want to equip your Rubber Ducks, which prevents all status ailments. As far as I know there are only 2 of them: one of them is in a chest in Nhysa while the other one you get from a deal. If you don't have them, or just have one, I recommend you equip an accessory that prevents your characters from doing their job: silence protection for Lenne and Victor, blind protection for Sienna, Mikah, Glenn, etc.</p>
      
      <p>For the fight you want to focus on attacking Twi'Tone, the little shadow. This guy is very weak and you'll do tons of damage to him. He's weak to light so Lenne can exploit that weakness really good. If you have it, have someone learn Light Coat from the Rune Knight (I had Lenne learn that). This gives everyone's physical attacks the light element, letting them do tons of damage. This is especially useful with Glenn's Cross Slash and Mikah's Tiger Combo.</p>
      
      <p>The reason why you want to attack the shadow, besides it being weaker defensively, is because once you get rid of its 5000 HP it'll absorb 5000 HP from Chel. This lets you basically deal 10000 dmg. really fast to Chel. He has 15000 HP so the other 5000 will go down pretty fast.</p>
      
      <p>Other than that, stick to your usual: Glenn debuffing the boss and using his Ultra Move to debuff them again once your OD gauge gets too high while you have Victor/Amalia buff your party and keep them healed. Victor in particular can create a barrier around you so that you take even less damage, give you TP Regen so you don't even have to worry about that, and of course Lenne have her focus on attacking. Mikah can boost your speed dramatically and Sienna can increase your Crit and even inflict Bleed if you want.</p>
      
      <p>Overall a super simple boss. I wonder if this is considered one of the "super bosses".</p>
      
      <ul>
        <li><strong>Chel</strong>: <strong>Dart Shot</strong>: Hits one character with a random status ailment: Silence, Blind, Sleep, Paralyze.</li>
        <li><strong>Twi'Tone</strong>: <strong>Shadow Masks</strong>: hits all party for around 35 dmg. <strong>Absorb</strong>: absorbs Chel's HP.</li>
      </ul>
    </BossFight>

    <p>After the fight, before we continue right, go directly left from the light (from the center of it) and we'll find chests with <strong>Flamberge</strong> and <strong>Diamond Amulet</strong>. Look at the image below for a rough estimate on the location.</p>

    <Image src="https://cdn.staticneo.com/ew/thumb/3/39/Ce_690.jpg/730px-Ce_690.jpg" alt="Flamberge and Diamond Amulet" />

    <p>Head to the right from the light and continue following the path north until you reach a staircase where you exit this dark cave. We are in... a desert? There are no enemies here but you can find a crystal source on the left and right sides. In the middle there's an oasis that has a merchant. This guy sells some really good accessories so buy them if you want. The materials he sells are used for the ultimate weapons and armor so make sure to buy those as well. Note that you can use your airship to get back here whenever you want. The entrance is near New Wyrnshire.</p>

    <p>Directly south of the merchant is our <strong>Fire Tablet</strong>. Go ahead and pick it up.</p>

    <Image src="https://cdn.staticneo.com/ew/thumb/6/69/Ce_691.jpg/730px-Ce_691.jpg" alt="Fire Tablet Location" />

    <p>And that's all there is to this place. We are now going to explore the southern side of the dark cave so to get dark cave I recommend you fast travel back to the crystal in Ograne Grottos, head north and jump back down into the dark cave.</p>

    <p>From the start of the dark cave head right until you reach the fork once again. This time head south while sticking to the left wall. This will eventually take us to the sewers under Farnsport. What are we doing here? How much did we run?</p>

    <p>Anyway, before we do anything in here head back inside the dark cave and go north a tiny bit. You'll find that you can go through the wall on the right. Follow it to find a small room with 6 chests! These contain <strong>Blood Stone x3, Rainbow Ore x4, Emperor's Hide x6, Ancient Carcass x6, Divine Wool x4, and Deluxe Cards</strong>.</p>

    <Image src="https://cdn.staticneo.com/ew/thumb/b/b3/Ce_681.jpg/730px-Ce_681.jpg" alt="6 Chests Location" />

    <p>From here there's another thing to get. Go back left through the wall and go north sticking to the right wall. Doing so will eventually lead you to a wall you can climb up. Climb the wall to be back in Rohlan Fields? There's a golden chest here with <strong>Soul of Farnese</strong>. Nice!</p>

    <Image src="https://cdn.staticneo.com/ew/thumb/1/19/Ce_692.jpg/730px-Ce_692.jpg" alt="Soul of Farnese in Rohlan Fields" />

    <p>Head back south afterwards and enter the sewers. Time to take over this place!</p>

    <p>Back inside the sewers get on the copper pipe and ride the water right to the other room, then down to the next room. Make sure to get off here to open the chest with <strong>Blood Stone x3</strong>.</p>

    <Image src="https://cdn.staticneo.com/ew/thumb/b/b7/Ce_680.jpg/730px-Ce_680.jpg" alt="Blood Stone x3 Location" />

    <p>You'll notice a pipe to the south. We can't go through it so get back on the pipe and follow the water again back into this same room but go right now onto the other pipe BUT as you go move up so you can get off and open the chest here with <strong>Angel Wing x3</strong>.</p>

    <Image src="https://cdn.staticneo.com/ew/thumb/9/99/Ce_682.jpg/730px-Ce_682.jpg" alt="Angel Wing x3 Location" />

    <p>We need to go right from here but before we do so head back on the pipe and ride it down. Ignore the pipe going down and the document going up and when you reach the next room get off to find a pair of enemies and a chest with <strong>Divine Wool x4</strong>.</p>

    <Image src="https://cdn.staticneo.com/ew/thumb/d/d3/Ce_685.jpg/730px-Ce_685.jpg" alt="Divine Wool x4 Location" />
  </QuestStep>
  <QuestStep id="the-sewers" title="The Sewers">
    <p>Get back on the pipe to reach the room from where we found our first chest. Get on it and return to where we got the other chest, where we need to go right. Once back here go right, get on the pipe and head down into the next room.</p>

    <p>We can't go back. Hmm. Use the lever nearby to lower the water, then go down the stairs and go left... we're at the start! Where we got our first Class Emblem! Nice! Now this is a nice shortcut if you just wanna leave this place and come back later.</p>

    <p>Head back right and up the stairs to reach a fork. Going north up the stairs leads back to the copper pipe that brought us down here. There's nothing for us up there yet. Instead head south, kill the enemies on the right and remember this fork right here. For now go right then north at the fork to find a lever at the end you can pull. Do so to lower the water level, return to the fork where you fought the previous enemies and follow the bottom left path.</p>

    <p>You'll reach a room with a couple enemies on the right. To the left is an opened chest from BB... just who is this BB? Anyway, go right past the enemies to find another opened chest. Hmm. Go down the stairs (now you can since you flipped the lever) and open the chest at the end to find <strong>Water Handle</strong>. This is really important! So important in fact that we're going to go use it right now!</p>

    <Image src="https://cdn.staticneo.com/ew/thumb/7/75/Ce_684.jpg/730px-Ce_684.jpg" alt="Water Handle Location" />

    <p>Return to where we fought the first enemies and head north to find that staircase going up to the previous area. Go up and once here go left and get on the copper pipe. As it takes you down be prepared to go right to get off of it. Place the handle on the lever here and use it. This inverts the flow of the water so get on the pipe and it'll take you UP now. Weird.</p>

    <p>Follow the pipe up and go west all the way to find a golden chest with <strong>Soul of Farnese</strong>. Nice!</p>

    <Image src="https://cdn.staticneo.com/ew/thumb/2/2f/Ce_686.jpg/730px-Ce_686.jpg" alt="Soul of Farnese in Sewers" />

    <p>From here go right and use the pipe to go down. Go right, get back on the pipe going up and get off the right side to get back at the staircase going down. Go down, return to the fork before the lever you flipped and head south now, go down the stairs and up the other set to trigger a scene where we meet this NPC that's writing poems? Hmm. He's definitely going to be a boss fight later, huh? His name is <strong>Boutrous</strong>... we're definitely fighting him.</p>

    <p>Once you regain control go right and there's a fork. Both lead to the same point but go south to another fork. To the left is a dead end for now but note that metal bridge below us. This is the actual end of the area (across the bridge) so we need to find a way to raise the water.</p>

    <p>Head right from the fork now to find a lever, a staircase and some enemies. Kill the enemies and before you flip the lever go down the staircase and head north and west past the opening to find a chest with <strong>Snack</strong>.</p>

    <Image src="https://cdn.staticneo.com/ew/thumb/9/9a/Ce_683.jpg/730px-Ce_683.jpg" alt="Snack Location" />

    <p>Return and flip the lever now. This raises the water here. Go back to where we saw Boutrous and go north from the staircase where we originally came from. Cross the bridge that we can now cross (thanks to the lever we flipped) and flip this other lever. This fills up the canal to the north. Now go flip the lever on the left by going north. This other lever fills up the canal where I told you the end is.</p>

    <p>Once you do this head back to the lever on the right, ignore the lever, cross the bridge and head south and left when possible to reach the staircase we need to go up.</p>

    <Image src="https://cdn.staticneo.com/ew/thumb/6/60/Ce_687.jpg/730px-Ce_687.jpg" alt="Staircase to Boutrous" />

    <p>Once up here save your game, prepare yourself, make sure to read the strategy below and prepare yourself for what felt like the most difficult fight in the entire game! Even tougher, in my opinion, than the actual hidden super boss.</p>

    <BossFight title="Boutrous the Boisterous">
      <Video id="IPIF4b9F-n8" title="Boutrous Boss Fight" />
      <p>Let me start by saying... that I hate this boss. I even had to go ask for help on reddit because I couldn't figure it out haha. Now that I slammed my head for around 3 hours I've come up with a strategy. It's not perfect by any means but it works. Have any tips? Make sure to write it down in the comments so other people can also ready it!</p>
      
      <p>The boss's attack themselves aren't that bad. When buffing yourself and debuffing the boss his party wide attack will hit for around 100 dmg. while his regular attack will hit for around 55 dmg. a hit. Again, easy to heal through and if you have 2 party members with Heal All even better.</p>
      
      <p>The difficulty of the fight comes when he rides his little dragon. When he does, be prepared because he'll use Epic Poems, an attack that will most likely kill you. This is what got me out of the picture so many times. Reddit suggested to blind him for this attack, but you can only blind once per fight so this would be the way to go.</p>
      
      <p>What I personally did here is to bring out Amalia and have her use Revival (make sure it's maxed out). Revival grants one party member Reraise, which brings is an automatic revive when killed. Perfect to avoid his attack. I used it on 2 of my characters since I knew Glenn wouldn't die from it. Maxing out the skill gives your Reraise 7 turns before it expires and revives with 50% HP, which is awesome since you can get back to full with probably one good Heal All.</p>
      
      <p>After he uses this he'll continue his regular attacks but he'll ride his dragon again eventually to use Epic Poems. Thankfully the attack is not even close to being as strong. It went from doing around 590 dmg. to Mikah all the way down to 66. His other attacks remain as strong as ever so you'll still have to deal with that!</p>
      
      <p>So for your party you'll want what I've always suggested: Glenn for debuffing the boss and using Cross Slash. Even for using Restrain to keep your OD gauge in check if you need help with that. Mikah can focus on using Double Steps to buff the party's SPD and sticking to Tiger Combo, or you can switch her out for Sienna and have her use X-Slash and stick to Kesa Giri/Petal combo. Lenne here should have 2 functions, or even 3: I have her as my backup healer with Heal All, given that she has pretty high MAG her heals are pretty strong too. But also as one of your main damage dealers with Heaven's Tear, and lastly to use Dark Coat.</p>
      
      <p>Dark Coat is a skill you learn from Rune Knight Emblem Class and it gives all your physical attackers (Glenn, Mikah, Sienna) dark elemental, letting them exploit the boss's weakness and deal even more damage. She's going to be a busy one.</p>
      
      <p>Overall the fight is not so bad. It's relatively easy to keep up with healing from his attacks but having to deal with his Epic Poems first use is pretty much the only difficulty of the fight. If you manage to avoid a wipe from that attack then you're pretty much set to succeed in this fight.</p>
      
      <ul>
        <li><strong>Attack</strong>: hits 4 times randomly for around 60 dmg. per hit.</li>
        <li><strong>Bad Rhymes</strong>: hits all party for around 115-150 dmg.</li>
        <li><strong>Can't lift his sword</strong>: misses a turn</li>
        <li><strong>Epic Poems</strong>: only uses this when riding his dragon and hits all party members for around 550 dmg. to those that don't defend and around 250 to those who defended.</li>
      </ul>
    </BossFight>

    <p>Watch the little scene after the fight and then go ahead and grab the <strong>Water Tablet</strong> from the shrine here.</p>

    <Image src="https://cdn.staticneo.com/ew/thumb/4/49/Ce_688.jpg/730px-Ce_688.jpg" alt="Water Tablet Location" />

    <p>And with this you SHOULD have all the Elemental Tablets. If you don't click the link below for all their locations.</p>

    <ul>
      <li><a href="/walkthrough/elemental-tablets">Elemental Tablets Locations</a></li>
    </ul>

    <p>And with that fast travel back to the crystal on the western side of Ograne Grottos, head north and place all the Elemental Tablets. This activates the teleporter in the center.</p>

    <Image src="https://cdn.staticneo.com/ew/thumb/3/35/Ce_699.jpg/730px-Ce_699.jpg" alt="Teleporter Activation" />

    <p>Going through will lead us to the super boss of the game, supposedly the toughest fight in the game. That Boutrous guy we just fought was way harder in my opinion. I got this super boss in my first try (it's the video below haha). When ready go through and it's fight time!</p>

    <BossFight title="God King Gaemdriel">
      <Video id="WU3_WtsPqGo" title="God King Gaemdriel Boss Fight" />
      <p>Well, this boss is something else. I actually came into the fight ready to die. Just wanted to see what the boss looked like... ended up defeating him on my first try haha. I personally found him much easier than that Boutrous boss, but that's probably because I REALLY prepared for that fight. Oh well, here's how the fight goes.</p>
      
      <p>Let me start by saying that this guy, from the very beginning, has <strong>act thrice</strong> on. Yep, he'll be attacking a TON so make sure to keep your OD down at all times. Luckily for us he doesn't scramble the OD gauge so we just need to worry about keeping it down.</p>
      
      <p>That being said, one of the most important things is to know that he has 2 modes, his physical mode and his magical mode. Like similar boss fights, the attacks he does will depend on what mode he's in. I found the physical mode to be the more dangerous one, but that's mostly because I maxed out my MIND.</p>
      
      <p>Speaking of MIND, I recommend you give yourself as much MIND as possible. Ok, I didn't max out the stat BUT I did max out all the ways I could get MAG like getting the +30% passive from Cleric, equipping the passive if anyone has it (like Victor so he has double MAG UP), having the best armor (which you get from <a href="/walkthrough/deals">Deals</a>), and equipping your armor with as much MAG crystals you could. This one I didn't to as I only got my crystals up to like MAG VI, but that should still be better than nothing. Of course also having the best weapons is important to finish off this fight as soon as you can.</p>
      
      <p>A nice thing about this fight though, is that this is the only boss that actually has a health bar above his head. I have no idea why but he has one. Helps you keep track of how far you are into the fight.</p>
      
      <p>Let's start out by what your characters should be doing in this fight. Like I said above, I came in with my regular party and ready to die, but I managed to pull through so here's what I did. My party was my usual Lenne, Mikah, Glenn, Victor. I didn't really feel like there was any need to change this party since the early game and it looks like I was right! I did swap out Sienna for Mikah, but they're roughly the same.</p>
      
      <Tip type="note">
        <p><strong>NOTE</strong>: although I didn't do it (because I didn't know) I HIGHLY recommend you bring accessories equipped that prevent poison. As you may already know poison in this game is actually deadly so you don't want that on you at all!</p>
      </Tip>
      
      <p>Anyway, Lenne in this fight was my backup healer and main backup support. Given that the boss isn't weak to any particular element, Lenne's value goes down just a tiny bit. She's still super strong so using any of her Thrust skills proves to be really good still. What you REALLY want to bring to this fight is <strong>Cleanse</strong>. This helps you fight off his HP Regen.</p>
      
      <p>Of course, Mikah does what she does best: use Double Steps to massively boost our party's SPD and stick to using her Tiger Combo. Of course if needed she should be using items to either help keeping the OD gauge down or refilling TP. She had the Vampire Class Emblem skills on so she could heal herself and refill her own TP as well.</p>
      
      <p>Glenn does what he does best: debuffing the boss making sure he stays that way and using Cross Slash nonstop. Just like with Mikah, have him use items if ever needed and use "Restrain" to greatly lower the OD gauge.</p>
      
      <p>Victor proved throughout the game that he's the best healer. Maybe Amalia has stronger healing and can revive the entire party, but Victor's offensive spells and, more importantly, his skill to buff the entire party for 8 turns is just unbeatable. Have him do that and heal. If ever possible, have him use Valor Minuet to start your TP regen and let Lenne heal that one turn if required. You can even use Shielding Mazurka to create a barrier around you to prevent some damage. That's always helpful.</p>
      
      <p>Although I didn't use him, I read that you can use Robb to inflict SPD down on the boss. The boss is already somewhat slow so this should really give you an edge with many more turns.</p>
      
      <p>So, for this fight there's a lot of RNG involved, mostly because of what attacks he'll use with his 3 turns. If he uses something like X-Slash 3 times in a row some of your characters will most likely die, or be very close to. You want to hope he only uses it once and then just do some random regular attacks. Of course we'll need Victor to keep up as much as possible with the healing.</p>
      
      <p>This X-Slash is only done during his physical mode, which is basically just attacks. His magic mode is much more annoying to deal with, but note that he starts the fight in physical mode. You could say it's somewhat easy to keep up in this mode, unless he's using X-Slash nonstop.</p>
      
      <p>Eventually the boss will go into his magical mode and he'll become just a bit more annoying. He uses Meditation to give himself HP Regen. Here's where you'll want Lenne to use her Cleanse to get rid of it. Sadly he also has magic and physical resist for a turn so use this time to heal up. Do be careful because, even though they don't tell you, he's preparing a strong attack in 2 turns. That means you want to use the turn where he uses Meditation to pretty much heal up, then on his next turn you'll see the notice that "Preparing the Will" is coming in 1 round.</p>
      
      <p>When you see that note make any last minute preparations (keep track of the turns up above) so you can defend before the attack comes. If you can make sure you debuff him and you buff yourself before the attack comes. The attack, Heavenly Redemption hits for like 120 if you defended. Not bad. It's basically a party wide Dread attack. Make sure to have Victor heal right after, having Lenne or your backup healer help out if needed.</p>
      
      <p>And that's pretty much the fight. Like I said, I feel like he's easier than Boutrous, but also I think a lot of it is RNG dependent. Pray you don't get 3 X-Slashes in a row, or 3 Vengeances in a row and you'll do just fine!</p>
      
      <ul>
        <li><strong>X-Slash</strong>: hits the entire party for around 80 dmg.</li>
        <li><strong>Attack</strong>: hits 2 times randomly for around 65 dmg. Increases to 3 as his HP goes down.</li>
        <li><strong>Modus Operandi</strong>: switches between his physical and magical modes.</li>
        <li><strong>Meditation</strong>: gives him magic and physical resist, as well as HP Regen.</li>
        <li><strong>Dread</strong>: hits one character for around 100 dmg.</li>
        <li><strong>Poison Smoke</strong>: inflicts poison on the party for 2 turns, which each turns deals 70 flat dmg.</li>
        <li><strong>Vengeance</strong>: hits all party members for around 80 dmg.</li>
        <li><strong>Heavenly Redemption</strong>: hits the party for around 120 dmg. while defending and fully buffed and debuffed. That's probably like 150+ if not defending.</li>
      </ul>
    </BossFight>

    <p>After the fight you'll get the <strong>King's Monument</strong> and that would be it for this entire area. Congrats! You've officially beaten the game! I did this before actually completing the game, whoops!</p>

    <Image src="https://cdn.staticneo.com/ew/thumb/6/65/Ce_Crimson_Wings.png/100px-Ce_Crimson_Wings.png" alt="Crimson Wings" />
  </QuestStep>

  <NextSteps links={[{ href: "/walkthrough/deals", label: "Deals" }]} />
</WalkthroughLayout>
