---
import StoryBlurb from "../../components/StoryBlurb.astro";
import WalkthroughLayout from "../../layouts/WalkthroughLayout.astro";
import QuestStep from "../../components/QuestStep.astro";
import Image from "../../components/Image.astro";
import Video from "../../components/Video.astro";
import BossFight from "../../components/BossFight.astro";
import Tip from "../../components/Tip.astro";
import EndLogo from "../../components/EndLogo.astro";

const sections = [
  {
    id: "raminas-tower",
    label: "Raminas Tower",
    subsections: [
      {
        id: "head-for-the-top-of-raminas-tower",
        label: "Head for the top of Raminas Tower",
      },
    ],
  },
];
---

<WalkthroughLayout
  title="End of an Era"
  subtitle="Finale Walkthrough"
  sections={sections}
  guideId="end-of-an-era"
>
  <StoryBlurb>
    <p>
      <em
        >Frederik has set an ultimatum. The Red Wings decide it's time to end
        his rule over Valandis.</em
      >
    </p>
  </StoryBlurb>

  <section id="raminas-tower" class="walkthrough-section">
    <h2 class="section-title">Raminas Tower</h2>

    <QuestStep
      id="head-for-the-top-of-raminas-tower"
      title="Head for the top of Raminas Tower"
    >
      <Tip type="tip">
        <p>
          As the quest starts we're told that there are sidequests to be done.
          Before we do them let us go and do this quest. We'll finish this quest
          and then we'll go through the next world exploration. It'll be a
          pretty lengthy section so I'd rather have you go through this quest
          first because
          <strong>IT'S REALLY GOOD!</strong>. Yeah, bold and capital letters are
          needed!
        </p>
        <p>
          That said, if you find this section difficult, you should do the
          <a
            href="https://www.neoseeker.com/chained-echoes/walkthrough/Two-Winged_Angel"
            >Two-Winged Angel</a
          >
          sidequest first in order to get the Balthasar frame, which will help for
          the SA boss battles. You may also want to buy extra copies of certain SA
          weapons from the Hooge, such as Offensive Drones and Glaive.
        </p>
      </Tip>

      <p>
        Are you ready to go take out Frederik? Let's do this! It's about time!
        Go ahead and get on your airship and make way to the tower that's south
        of Fiorwoods. Several scenes will play as we enter. Generals Alena and
        Kennrich? Are they our buddies now?... nevermind haha.
      </p>
      <p>Eventually we'll regain control once we're inside the tower.</p>

      <p>
        From where we start head north first and go west at the fork to find a
        metal chest with
        <strong>Paris FP400</strong>. Head north at the fork now to find 2
        chests, these have
        <strong>Merlin FM400</strong> and <strong>Elemental Cannon M400</strong
        >.
      </p>

      <Image
        src="https://cdn.staticneo.com/ew/thumb/c/c0/Ce_590.jpg/730px-Ce_590.jpg"
        alt="Raminas Tower entrance area with chests"
      />

      <p>
        Return to the start and go west now. Here we'll be fighting some Sky
        Armors, and several throughout the tower. Note that the Ether Cannon
        Wielders are resistant to physical attacks so you HAVE to defeat them
        with only magic so make sure to have magic on your SAs.
      </p>
      <p>
        After the fight continue down the path and up the stairs. Up here go
        south first to find a chest with
        <strong>Sword & Shield S400</strong>. We are getting tons of upgrades,
        huh? Head back to the fork and continue east. Head north first at the
        next fork, destroy the enemy Sky Armors and past them is a chest with <strong
          >Ovelia FO400</strong
        >.
      </p>
      <p>
        Return and go south now to find some Baki Warriors. They're the same as
        before. Right after them there's a path you can go south to find another
        chest, this one with
        <strong>Offensive Drones O400</strong>.
      </p>

      <Image
        src="https://cdn.staticneo.com/ew/thumb/3/3f/Ce_591.jpg/730px-Ce_591.jpg"
        alt="Raminas Tower path with Baki Warriors"
      />

      <p>Head west now and follow the path up to the next floor.</p>

      <p>
        Up here go east past the fork to find a chest with <strong
          >Kerberos FK400</strong
        >. There are TONS of upgrades! Head south at the fork and follow this
        path until there's a path going north. Follow it to find a chest with <strong
          >Agamemnon FA400</strong
        >. Continue east at the fork, kill the Baki Warriors and continue until
        you reach the next fork. Going west is the way to the top of the tower
        so go north first and go at the top path to find some more enemy Sky
        Armors and a chest at the end with <strong>Great Sword GS400</strong>.
      </p>
      <p>
        And with that head back and move to the center of the floor. Save your
        game, prepare yourself and when ready ride the elevator up to trigger a
        scene and a boss fight right after.
      </p>

      <BossFight title="BOSS FIGHT: MARIA">
        <Video id="a1j63z6cH6E" title="Maria Boss Fight" />

        <p>
          This is a weird fight. This is the first time we fight a person while
          riding our SAs. And yeah, you have to fight her like this. The game
          will start the fight like this whether you had them on or not
          beforehand.
        </p>
        <p>
          So this is a pretty easy fight, but it's a VERY annoying one. Let's
          start out with what we can do. This is a fight where you want to take
          them out one at a time, starting with the Valkyries in the back. They
          give Maria Mirror images, which basically let her avoid an attack per
          mirror image, so if they give her 2 Maria can dodge 2 attacks.
        </p>
        <p>
          You really want someone in this fight to have a Glaive weapon, which
          is what Sienna started with. This weapon has Hornet Dance, a skill
          that lets you hit a target 1-5 times. This is perfect to get rid of
          these mirror images so make sure to use that whenever they have them
          on, including Maria. They are also weak to water so make sure to
          exploit that!
        </p>
        <p>
          One weapon you should have is <strong>Offensive Drones</strong>. These
          give you skills like Command Defense and Command Attack that buff your
          party, but also give you Drone Swarm, an attack that hits all enemies
          several times, also helping in getting rid of the mirror images.
        </p>
        <p>
          Goes without saying that they can continue putting these mirror images
          on themselves, making this fight very annoying and taking longer than
          it needed to be. But that's pretty much the fight. She'll just attack
          and use her mirror images over and over. Again, it's not a hard fight
          AT ALL but it's very annoying.
        </p>

        <div class="boss-stats">
          <h4>Maria's Moveset</h4>
          <ul>
            <li>
              <strong>Attack</strong>: hits 2 party members for around 600 dmg.
            </li>
            <li>
              <strong>Falling Spears</strong>: hits all party members for around
              360 dmg.
            </li>
            <li>
              <strong>Mirror Images</strong>: allows target to automatically
              dodge any attack
            </li>
          </ul>
        </div>
      </BossFight>

      <p>
        Once we regain control after the fight, simply head north using
        whichever path you want and we'll reach the room where Frederik is.
        Several scenes play out here... shocking ones as well. I LOVE THIS! Code
        Geass??? Hello? This is amazing! Enjoy them as they're some of the best
        scenes in the game in my opinion.
      </p>
      <p>
        Once you regain control go ahead and call your ship and head east to
        where we find the Vaen Champion near our island. Make sure to save your
        game before you interact with it because we have a boss fight as soon as
        we start.
      </p>

      <Image
        src="https://cdn.staticneo.com/ew/thumb/e/ee/Ce_592.jpg/730px-Ce_592.jpg"
        alt="Vaen Champion location near the island"
      />

      <BossFight title="BOSS FIGHT: CRYSTAL GUARDIAN">
        <Video id="n7U1Y5kWDFU" title="Crystal Guardian Boss Fight" />

        <p>
          Now ain't this a boss fight! This guy looks incredible and he has 4
          crystals behind him. Each crystal gives him a certain type of skills
          so you can imagine what we need to deal with first, right?
        </p>
        <p>
          Well, for starters the boss acts twice per turn so keep that in mind
          when managing your OD. Now let me talk about his crystals. There are 4
          of them: <strong>Broken Crystal</strong> (white),
          <strong>Healing Crystal</strong> (green), <strong
            >Magic Crystal</strong
          > (yellow), and
          <strong>Metal Crystal</strong> (red).
        </p>
        <p>
          Don't worry, these crystals don't act on their own. I was scared at
          first because I thought we had 5 enemies, but we don't! These crystals
          only give him access to that type of skills, so you'll only see 2
          moves per turn. They are targetable though so you'll want to make sure
          to destroy them to limit his skills. They also do a flat 5000 dmg. to
          the boss so that's good as well.
        </p>
        <p>
          The boss will be using skills that attack all party members and can be
          quite hard to keep up healing so make sure to have 2 characters that
          have Repair All. Thankfully he has a Broken Crystal which means
          sometimes his turns he'll do nothing.
        </p>
        <p>
          For your party you want to do your usual buffing like in the previous
          fight against Maria and keep yourself healed while managing your OD
          gauge.
        </p>
        <p>
          The order in which you destroy the crystals is completely up to you. I
          personally went with the green crystal first to avoid all healing,
          then I went for the yellow crystal, then white, and lastly red. Each
          will do 5000 dmg. to the boss once you destroy them, so that's a
          whopping 20000 total. Once it's out of crystals though, the only thing
          he'll do is attack normally so nothing too bad.
        </p>

        <div class="boss-stats">
          <h4>Crystal Guardian's Moveset</h4>
          <ul>
            <li>
              <strong>Attack</strong>: hits one party member for around 700 dmg.
            </li>
            <li><strong>Heal</strong>: heals himself for 5000 HP.</li>
            <li>
              <strong>Otherworldy Claws</strong>: hits all party for around 800
              physical dmg.
            </li>
            <li>
              <strong>Nirvana</strong>: hits all party for around 850 magical
              dmg.
            </li>
            <li><strong>Nothing</strong>: ... literally does nothing.</li>
          </ul>
        </div>
      </BossFight>

      <p>
        After the fight we'll have many more awesome scenes. God I'm madly in
        love with this game. Right after the quest will come to an end and a new
        one will start!
      </p>

      
    </QuestStep>
  </section>

  <EndLogo />
</WalkthroughLayout>
