---
import WalkthroughLayout from "../../layouts/WalkthroughLayout.astro";
import QuestStep from "../../components/QuestStep.astro";
import Image from "../../components/Image.astro";
import Video from "../../components/Video.astro";
import Tip from "../../components/Tip.astro";
import BossFight from "../../components/BossFight.astro";
import MediaGrid from "../../components/MediaGrid.astro";
import NextSteps from "../../components/NextSteps.astro";
import StoryBlurb from "../../components/StoryBlurb.astro";

const sections = [
  {
    id: "head-to-the-entrance-of-nhysa",
    label: "Head to the entrance of Nhysa",
  },
  { id: "search-for-gwayn", label: "Search for Gwayn" },
];
---

<WalkthroughLayout
  title="Killing Gods"
  guideId="killing-gods"
  sections={sections}
>
  <StoryBlurb>
    <em
      >Man, that last quest was something else huh? And what about all the
      exploration? Got a bunch of upgrades? I bet you did!</em
    >
  </StoryBlurb>

  <Tip type="note">
    You must have completed the quest <a href="/walkthrough/the-gates-of-nhysa"
      >The Gates of Nhysa</a
    > in order to get here.
  </Tip>

  <QuestStep
    id="head-to-the-entrance-of-nhysa"
    title="Head to the entrance of Nhysa"
  >
    <p>
      Go ahead and fast travel to the crystal right outside the city and go left
      to find Maddeleine. She's almost dead. It seems some bandits came here and
      attacked her right after she opened the gate. Oh no. Who could it be?
      Well, she'll stay here while we venture deeper into the city... it seems
      even the Church is here... what's left of it. It cannot be good.
    </p>
  </QuestStep>

  <QuestStep id="search-for-gwayn" title="Search for Gwayn">
    <p>
      Once the scenes are over we are ready to explore the city. Head north from
      where we regain control to find a little plaza. You can speak to the
      ghosts here and make use of the anvil as well. Now, before we continue go
      ahead and open up your map. Do you see the cave openings that have a key
      next to them? Well in Nhysa we need to find keys in order to reach the
      end. There's the 2 "cave" openings here that require a bronze key, and a
      silver key is required to the north. There's also a gold key to keep an
      eye out for. Funny enough, we get the silver key first before getting the
      bronze key.
    </p>

    <p>
      That being said, you'll want to traverse this area on your SAs for the
      most part since the enemies here are meant to be killed with them (except
      those we find in the park... more on that later). For starters go east and
      before exiting the area enter the house to the north to find a chest
      inside with <strong>Orichalcum x2</strong>.
    </p>

    <Image
      src="https://cdn.staticneo.com/ew/thumb/3/3a/Ce_594.jpg/730px-Ce_594.jpg"
      alt="Nhysa"
    />

    <p>
      Return back outside and now continue east into the next area. Here go
      north at the fork and enter the house in the corner. Go through the back
      door to find a chest in the back with <strong>Titan Leather x3</strong>.
    </p>

    <Image
      src="https://cdn.staticneo.com/ew/thumb/9/9d/Ce_595.jpg/730px-Ce_595.jpg"
      alt="Nhysa Chest"
    />

    <p>
      Head through the house and go east now. From the fork head south first to
      find some Two Headed Wyvern enemies. Kill them and go south in between the
      buildings, then go west at the fork to find a chest with <strong
        >Plot Armor</strong
      >.
    </p>

    <Image
      src="https://cdn.staticneo.com/ew/thumb/5/5c/Ce_617.jpg/730px-Ce_617.jpg"
      alt="Plot Armor Location"
    />

    <p>
      Return to the fork right before the Wyverns and head north from the fork
      now to find a <strong>crystal source</strong> at the very top. Return and go
      east now to reach a large playground area. Move to the upper left corner to
      find a metal chest up here with <strong>Support Drones D500</strong>. Just
      what my Victor wanted haha. Check the upper right corner as well to find <strong
        >Kerberos FK500</strong
      > in a chest.
    </p>

    <Image
      src="https://cdn.staticneo.com/ew/thumb/a/a5/Ce_596.jpg/730px-Ce_596.jpg"
      alt="Kerberos Location"
    />

    <p>
      There's an exit here to the east. Ignore it for now, return to the
      entrance and go south now to another fork. Go east here, kill the enemies
      that block your way and right after stick to the bottom walls to find a <strong
        >buried treasure</strong
      > with <strong>5210a</strong>. This one is where the house with the broken
      red roof is (look at images for more info).
    </p>

    <MediaGrid columns={2}>
      <Image
        src="https://cdn.staticneo.com/ew/thumb/8/8c/Ce_615.jpg/326px-Ce_615.jpg"
        alt="Buried Treasure Location 1"
      />
      <Image
        src="https://cdn.staticneo.com/ew/thumb/b/b0/Ce_616.jpg/326px-Ce_616.jpg"
        alt="Buried Treasure Location 2"
      />
    </MediaGrid>

    <p>
      Further east is a fork. Go north first to find 3 NPCs in the middle of the
      fork. Talk to them if you wish then go north for a <strong
        >crystal source</strong
      >. To the right of the fork is a house we can go into. We're not going
      that way right now (although there's a merchant inside the house if you
      need him) so return to the fork to the south and go south then east into
      the next area. This is an enclosed part of this new area but it has 3
      chests, these contain <strong
        >Adamantite, Herbalist's Advice, Orichalcum x2</strong
      >.
    </p>

    <Image
      src="https://cdn.staticneo.com/ew/thumb/a/a2/Ce_618.jpg/730px-Ce_618.jpg"
      alt="Chests Location"
    />

    <p>
      Return to the previous area and go west now. There's nothing in this path
      besides a locked door (still need that bronze key). And that's about it
      for this area. For now head back to the entrance to the north and return
      west to the previous area.
    </p>

    <p>
      Return to the start and go north now. Go east at the next fork to where
      the cave entrance is and you'll be attacked by some <strong
        >Earthworms</strong
      >. Super annoying enemies that hit hard but also have an attack that can
      hit everyone so be careful.
    </p>

    <p>
      After the fight head south to find a sneaky chest with <strong
        >Great Sword GS500</strong
      >.
    </p>

    <Image
      src="https://cdn.staticneo.com/ew/thumb/d/d7/Ce_597.jpg/730px-Ce_597.jpg"
      alt="Great Sword Location"
    />

    <p>
      To the north is locked so return to the fork and go north now. Check the
      right side of the staircase to find our first <strong>hidden cave</strong> that
      has... nothing inside. It seems this "BB" person took it as well. HOW? Who is
      this person? Will we ever find out?
    </p>

    <MediaGrid columns={2}>
      <Image
        src="https://cdn.staticneo.com/ew/thumb/8/8e/Ce_598.jpg/326px-Ce_598.jpg"
        alt="Hidden Cave 1"
      />
      <Image
        src="https://cdn.staticneo.com/ew/thumb/a/ad/Ce_599.jpg/326px-Ce_599.jpg"
        alt="Hidden Cave 2"
      />
    </MediaGrid>

    <p>
      To the right of the cave is a chest with <strong
        >Sword &amp; Shield S500</strong
      > so make sure to pick it up. Head west now to find some <strong
        >Two Headed Wyvern</strong
      > enemies. Not too bad of an enemy. Their single target claw attack really hurts
      so be careful.
    </p>

    <p>
      Just past them is a chest further south that has <strong
        >Bowgun B500</strong
      >. Return to the entrance and now we'll want to go west into the next
      area, which is the market.
    </p>

    <p>
      Once here in the market head all the way west past the fork, fight off the
      Earthworms and open the chest behind them for <strong
        >Hammer &amp; Shield H500</strong
      >. Go north from the fork now to reach the market itself. Talk to the
      first ghost you see here and notice he's standing in front of a tent with
      white and green stripes. Check behind the tent on the left with blue and
      white stripes to find a <strong>buried treasure</strong> with <strong
        >9411a</strong
      > for you. Neat!
    </p>

    <MediaGrid columns={2}>
      <Image
        src="https://cdn.staticneo.com/ew/thumb/b/b1/Ce_600.jpg/326px-Ce_600.jpg"
        alt="Buried Treasure Market 1"
      />
      <Image
        src="https://cdn.staticneo.com/ew/thumb/6/64/Ce_601.jpg/326px-Ce_601.jpg"
        alt="Buried Treasure Market 2"
      />
    </MediaGrid>
    <p>
      Head north from the market area and go east at the fork at the top of the
      area to find a chest with <strong>Ether Cannon E500</strong>. Surprised to
      see it not being guarded at all. Return to the market and head west now to
      reach another fork. North has nothing besides some random collectibles so
      get them and head south to reach another fork. Go north through the grass
      to find a sneaky chest with <strong>Devil's Head x2</strong>. Afterwards
      proceed to the next area.
    </p>

    <Image
      src="https://cdn.staticneo.com/ew/thumb/8/87/Ce_602.jpg/730px-Ce_602.jpg"
      alt="Sneaky Chest Location"
    />

    <p>
      This here is the park section of the city. From the large open area where
      we start you can go northeast to a house but it's locked. We need that
      bronze key! Instead head northwest to the <strong>Purple Pigear</strong> enemies.
      They can hit pretty hard and possibly kill a character if they all hit the same
      person, but they also have a move called Life Thread. This basically kills one
      of your characters when the Pigear dies. Very scummy. Prepare for more of that
      on other enemies. Note that Life Thread is a debuff applied to a player character,
      so you can avoid it by swapping that character out.
    </p>

    <p>
      Past them is a fork. Head west across the bridge, then south to find a
      pair of <strong>Blemmyae</strong>. These guys suck. They hit really hard
      for regular enemies and have a move called Death Stagger. It seems to not
      do anything besides a regular attack but when said character performs an
      action they die, even if defending. However, like regular Stagger, you can
      remove it for free by swapping out the affected character.
    </p>

    <p>
      After the fight though go ahead and pick up the chest with <strong
        >Diamond Armor</strong
      >. Great upgrade for Glenn once you upgrade it.
    </p>

    <Image
      src="https://cdn.staticneo.com/ew/thumb/b/b9/Ce_603.jpg/730px-Ce_603.jpg"
      alt="Diamond Armor Location"
    />

    <p>
      Return to the fork and go north now. Jump across the gaps at the top to
      reach an isle where you'll have to fight off some enemies. Your reward
      here is a <strong>Rain Bow</strong>.
    </p>

    <Image
      src="https://cdn.staticneo.com/ew/thumb/a/a7/Ce_609.jpg/730px-Ce_609.jpg"
      alt="Rain Bow Location"
    />

    <p>
      Return to the fork after the Purple Pigears and go north now around the
      path, grab the <strong>crystal source</strong> when you get to it and jump down
      into the water. Once in here head north to find a large open swimming area.
      Check the northeastern corner of it to find a <strong>hidden cave</strong> with
      <strong>7777a</strong> inside. Neat!
    </p>

    <MediaGrid columns={2}>
      <Image
        src="https://cdn.staticneo.com/ew/thumb/0/06/Ce_604.jpg/326px-Ce_604.jpg"
        alt="Hidden Cave Swimming Area 1"
      />
      <Image
        src="https://cdn.staticneo.com/ew/thumb/4/4e/Ce_605.jpg/326px-Ce_605.jpg"
        alt="Hidden Cave Swimming Area 2"
      />
    </MediaGrid>

    <p>
      Head back outside and go west to find some bubbles in the water. Interact
      with them to go underneath. On the other side get out of the water and
      move forward to reach a fork. Go southwest to find another spot where you
      can jump into the water. Follow this path east and north to find some
      bubbles. Interact with them to go to a little pond where you can get out
      to an island that has a <strong>crystal source</strong> and a chest with <strong
        >Elixir</strong
      >.
    </p>

    <Image
      src="https://cdn.staticneo.com/ew/thumb/e/e8/Ce_606.jpg/730px-Ce_606.jpg"
      alt="Elixir Chest Location"
    />

    <p>
      Return through the bubbles and head south now. Go through the grass stuff
      in the water and when possible go east to find the final <strong
        >hidden cave</strong
      >. This one has a whopping <strong>20000a</strong> inside. Neat!
    </p>

    <MediaGrid columns={2}>
      <Image
        src="https://cdn.staticneo.com/ew/thumb/0/00/Ce_607.jpg/326px-Ce_607.jpg"
        alt="Hidden Cave Location 1"
      />
      <Image
        src="https://cdn.staticneo.com/ew/thumb/3/36/Ce_608.jpg/326px-Ce_608.jpg"
        alt="Hidden Cave Location 2"
      />
    </MediaGrid>

    <p>
      Return outside and continue south to reach a chest with <strong
        >Rubber Duck</strong
      >. This is your "Ribbon" accessory of the game which prevents all status
      ailments. Really useful!
    </p>

    <p>
      Return back north and out of the water where you originally jumped in from
      and head north from the fork to find several Purple Pigears. Be very
      careful in this fight and ONLY fight them one at a time because of their
      Life Thread.
    </p>

    <p>
      At this fork you can follow the left path but there's not much besides
      some ghost NPCs to talk to. Do so if you want and continue east to trigger
      more scenes with the Vaen. They REALLY don't like us huh? They to make
      some very interesting remarks about the church being "good" and doing bad
      things, and the same for them.
    </p>

    <p>
      After the scenes head east and you'll spot some enemies on the northern
      side. Go ahead and kill them and open that chest for <strong
        >Ether Killer Crystal</strong
      >.
    </p>

    <Image
      src="https://cdn.staticneo.com/ew/thumb/4/4f/Ce_610.jpg/730px-Ce_610.jpg"
      alt="Ether Killer Crystal"
    />

    <p>
      At the next fork head you can go south for a <strong
        >crystal source</strong
      >, but then go east into the next area.
    </p>

    <p>
      We are now in the upper city. Start by going north, kill the Earthworms
      that appear and open the chest to find a chest with <strong
        >Paris FP500</strong
      >. Open your map and notice the open area to the east next to the cave
      entrance. Head there to find... <strong>Asnadiel</strong>? That's the true
      king we've been hearing of! Oh man! Thank god it's sleeping! Do make sure
      to pick up the sparkle here for <strong>Silver Key</strong>.
    </p>

    <Image
      src="https://cdn.staticneo.com/ew/thumb/7/7c/Ce_611.jpg/730px-Ce_611.jpg"
      alt="Asnadiel and Silver Key"
    />

    <p>
      The cave entrance to the right is locked and we need the bronze key (even
      though it's not marked). Oh well. Notice there's a door south of us. Go
      around and into the house, but make sure to open the chest next to it for <strong
        >Knightly Sword</strong
      >, excellent upgrade for Glenn.
    </p>

    <Image
      src="https://cdn.staticneo.com/ew/thumb/7/78/Ce_612.jpg/730px-Ce_612.jpg"
      alt="Knightly Sword Location"
    />

    <p>
      Go inside the house now, go through it and exit on the other side. Once
      out here go ahead and open the gate using the silver key we just got and
      go through to the next area.
    </p>

    <p>
      You see where we are now? From where we start go south a bit and you'll
      see a <strong>buried treasure</strong> mark on your left. Check the wall next
      to it to find your treasure, <strong>Plot Armor</strong>. That was... easy
      haha.
    </p>

    <MediaGrid columns={2}>
      <Image
        src="https://cdn.staticneo.com/ew/thumb/f/f1/Ce_613.jpg/326px-Ce_613.jpg"
        alt="Plot Armor Buried 1"
      />
      <Image
        src="https://cdn.staticneo.com/ew/thumb/9/92/Ce_614.jpg/326px-Ce_614.jpg"
        alt="Plot Armor Buried 2"
      />
    </MediaGrid>

    <p>
      From the fork here go west into a larger area and going west only takes us
      back to the other area, so instead head south to find a chest at the end
      with <strong>Glaive V500</strong>. Head back to the fork near the buried
      treasure and go south this time. We are in a large area. Head to the small
      area to the very far south and you'll be able to find a chest down here
      with <strong>Merlin FM500</strong>.
    </p>

    <Image
      src="https://cdn.staticneo.com/ew/thumb/6/6b/Ce_619.jpg/730px-Ce_619.jpg"
      alt="Merlin FM500 Location"
    />

    <p>
      Proceed now to the northeastern corner of the area. We'll be crossing
      boats as we go north and we can go in the second boat. Head inside to find
      a chest at the very end with <strong>Ambrosia</strong>.
    </p>

    <p>
      Head back outside and head north now but save your game before you enter
      the building because inside a scene will play and then a boss fight...
      sorta. Remember we fought these guys back in Act 1? Well, the fight here
      is exactly the same as before. One uses wind magic, one buffs the party,
      all the same. In case you need it I'll leave the link to the original
      fight down below:
    </p>

    <ul>
      <li><a href="/walkthrough/black-sun-gang">Black Sun Gang</a></li>
    </ul>

    <p>
      Well, looks like this time we actually killed them. Damn. I like how you
      actually kill people in this RPG, unlike many others where you leave them
      alive in hopes they do good, or you leave them alive and they still end up
      dead somehow. Thankfully we get here the <strong>Copper Key</strong>.
      About time! Also make sure to pick up the sparkles here to find some
      money. Neat.
    </p>

    <p>
      Leave the room and head on over to the cave entrance to the west in this
      area. The entrance is a house. Inside you'll see it's like tunnels. All of
      the entrances that were blocked with the bronze key all interconnect so
      it's easier to move around.
    </p>

    <p>
      That being said, follow the tunnel and go west at the first fork to find a
      chest with <strong>Graphnel</strong>. Return and go north now through the
      silver door and to a fork. Go west then north to find a chest with <strong
        >Ovelia FO500</strong
      >.
    </p>

    <Image
      src="https://cdn.staticneo.com/ew/thumb/8/8d/Ce_620.jpg/730px-Ce_620.jpg"
      alt="Ovelia FO500 Location"
    />

    <p>
      Now go west and exit the tunnels (going north in here leads to a boss
      fight so ignore it for now). We are now in the upper city area. To the
      north we need a gold key to proceed so for now head south to where we need
      a silver key and we'll be back at the entrance of Nhysa.
    </p>

    <p>
      We have 2 bronze entrances here. They both lead to the same set of rooms
      so let's go inside the top right one. As you come in here open your map.
      Do you see the exit/entrance to the far south? That's where the other
      entrance takes us. We're going in a big circle getting chests. So let's
      start by following the path until we reach a fork. Go north from this
      fork, kill the Phantom enemies that appear and at the end you'll find a
      lone chest with <strong>Scholar's Habit</strong>.
    </p>

    <Image
      src="https://cdn.staticneo.com/ew/thumb/7/75/Ce_621.jpg/730px-Ce_621.jpg"
      alt="Scholar's Habit Location"
    />

    <p>
      Return to the fork, go west then west and north from here, then west to
      the end to find a chest with <strong>Nectar</strong>. Return to the fork
      to the east where you can go south and follow this path until you get to
      the southern fork. Before exiting go west to find a chest at the end with <strong
        >Ambrosia</strong
      >.
    </p>

    <p>
      Return and exit the cellar area through the southern exit. Once back
      outside go west to the market area and head to the cave entrance in the
      northeastern corner. Before you go inside go south from the door to find a
      chest with <strong>Diamond Rapier</strong>. Now head north into the
      cellar.
    </p>

    <p>
      This is the last area of the cellar. Head east at the first fork you find
      to get a chest with <strong>Elixir</strong>. Head north from the fork now
      and continue north until you reach the top hallway. Once here go west and
      south when possible to find a metal chest with <strong
        >Agamemnon FA500</strong
      >.
    </p>

    <Image
      src="https://cdn.staticneo.com/ew/thumb/d/d2/Ce_622.jpg/730px-Ce_622.jpg"
      alt="Agamemnon FA500 Location"
    />

    <p>
      And that about it for this area. The western exit leads to the little
      house in the park so feel free to ignore it and head back from whence we
      came to the market area.
    </p>

    <p>Once outside we want to go back to the entrance marked below:</p>

    <Image
      src="https://cdn.staticneo.com/ew/thumb/1/15/Ce_624.jpg/730px-Ce_624.jpg"
      alt="Entrance Marker"
    />

    <p>
      Remember how to get there? If not simply head east from the start of Nhysa
      to reach this area. Once inside though simply head north to find the last
      2 chests in the cellar area, containing <strong
        >Muramasa and Silver Bolero</strong
      >.
    </p>

    <Image
      src="https://cdn.staticneo.com/ew/thumb/8/80/Ce_623.jpg/730px-Ce_623.jpg"
      alt="Muramasa and Silver Bolero Location"
    />

    <p>
      And now to proceed to the end of Nhysa. Head back outside and open the
      map. See the entrance to the cellar on the eastern side of the area? We
      are to go there now!
    </p>

    <Image
      src="https://cdn.staticneo.com/ew/thumb/1/13/Ce_625.jpg/730px-Ce_625.jpg"
      alt="Cellar Entrance"
    />

    <p>
      Once in here head north past the silver key, save your game and continue
      north now. Remember I told you there was a boss fight? Well as you go
      north you'll immediately be in a boss fight. I was NOT expecting a boss
      fight here.
    </p>

    <BossFight title="Wiederganger">
      <Video id="aSdBn0xJM4w" title="Wiederganger Boss Fight" />
      <p>
        This is a boss that came out of nowhere and luckily for us it's not
        difficult at all.
      </p>

      <p>
        The boss, all it really does is attack normally. His attacks hit twice
        but as the fight progresses he'll start attacking 3 times instead. He
        can also interrupt your turns and summon his children, little minions
        that can be easily dealt with with Mikah's Dragon Combo and even
        Sienna's skills. The one thing that's very annoying is his Poison skill.
        It poisons you for 2 turns and he likes to use it. Equip Rubber Ducks if
        you have them to prevent this, or any other accessory that helps against
        it.
      </p>

      <p>
        As for your party members, the strat here remains the same as it's
        always been, with Glenn debuffing the boss while Victor buffs your
        party. Make sure to have Sienna steal from the boss though. You'll get <strong
          >Tekko</strong
        >, a good weapon for Mikah. The boss is weak to dark so Thraz is really
        good in this fight, and Lenne's Heaven's Tear as well to exploit the
        weakness.
      </p>

      <ul>
        <li><strong>Attack</strong>: hits twice for around 50 dmg. per hit.</li>
        <li>
          <strong>Poison Odem</strong>: poisons all party members for 2 turns.
        </li>
        <li><strong>Calling Children</strong>: summons 2 minions.</li>
      </ul>
    </BossFight>

    <p>
      There will be some scenes after the fight, but once they're done head
      north until we reach the next area, which is just a house. Note that
      there's a boss in here as well but it changes depending on your answers.
      Crazy right? Talk to the ghost in front of you and he'll mention that they
      created "it" but don't remember what it looks like. Uh oh.
    </p>

    <p>
      Head south through the door to find a chest with <strong
        >Devil's Head x2</strong
      >. Grab it, go right and head south to find another ghost. This ghost will
      ask you what color it is. This basically tells us what element the boss is
      going to be, what kind of attacks it'll use and what it'll be weak
      against. Personally I picked <strong>"Red as Fire"</strong> but any would've
      been ok for me.
    </p>

    <p>
      East from here are some Pigears so be careful and remember to kill them
      one by one. Before we go upstairs head to the northeastern corner of this
      floor and talk to the ghost. The question he asks you is about the boss
      being magical or physical. Personally I said <strong
        >"You were impressed by its magical aura?"</strong
      > so the boss focuses more on magic. Also open the chest behind him for <strong
        >Scholar's Habit</strong
      >.
    </p>

    <Image
      src="https://cdn.staticneo.com/ew/thumb/3/31/Ce_626.jpg/730px-Ce_626.jpg"
      alt="Scholar's Habit Location"
    />

    <p>
      Head upstairs now and go south following the hallway on the left to find a
      chest in the bottom room with <strong>Diamond Armor</strong>.
    </p>

    <Image
      src="https://cdn.staticneo.com/ew/thumb/d/d6/Ce_627.jpg/730px-Ce_627.jpg"
      alt="Diamond Armor Location 2"
    />

    <p>
      Head to the northeastern corner room and the ghost will ask you about the
      Phoenix. I believe here the boss will resurrect itself if you pick that he
      knew about the Phoenix before creating "it" so I picked <strong
        >"You read about the Phoenix much later"</strong
      >.
    </p>

    <p>
      In the room to the south is the last ghost. Here you can have it inflict
      status ailments, or have it attack all party members with magic or
      physical attacks. Personally I picked <strong
        >"It could flail around like crazy"</strong
      >. After you talk to this last ghost try leaving the room to head a loud
      noise. Head to the northwestern room and you'll find a door in the back
      left. It was previously blocked.
    </p>

    <p>
      Save your game and when ready go through the door to find your custom made
      boss.
    </p>

    <BossFight title="Memory">
      <Video id="49az8CbrWI4" title="Memory Boss Fight" />
      <p>
        Ok, this fight changes a lot depending on what you picked when talking
        to the ghosts in the building.
      </p>

      <p>
        So to begin with, this boss is made out of fire (again, or any other
        element you picked), which means super weak to water magic. You want to
        start like you always do, buffing and debuffing the party and enemy.
        From here simply go all out. The boss only has 2 attacks and they don't
        even hit that hard at all so you'll have a super easy time. There's also
        no double act per turn so that's even better.
      </p>

      <ul>
        <li><strong>Attack</strong>: hits one character for around 50 dmg.</li>
        <li>
          <strong>Flail All Night Long</strong>: hits all party members for
          around 50 dmg.
        </li>
      </ul>
    </BossFight>

    <p>
      After the fight go ahead and check the sparkle on the right side to find <strong
        >Gold Key</strong
      >. We finally got it!
    </p>

    <Image
      src="https://cdn.staticneo.com/ew/thumb/d/d6/Ce_628.jpg/730px-Ce_628.jpg"
      alt="Gold Key Location"
    />

    <p>
      And with that go ahead and leave the building completely from whence you
      came and when in the cellar make sure to take the left exit. This leads
      you to the upper city area where we use the gold key.
    </p>

    <p>
      And do just that, head to the northern side of the area and use the gold
      key to open the gate then move to the next area.
    </p>

    <p>
      This area is just one long bridge but make sure to save your game and
      prepare yourself because as you move forward some scenes will play out and
      then a boss fight. I'm not going to lie... I completely forgot about him
      haha.
    </p>

    <BossFight title="Whyatt">
      <Video id="Zu7xOfrF_Sk" title="Whyatt Boss Fight" />
      <p>I'm not going to lie, I had completely forgotten about him!</p>

      <p>
        This is a crazy fight because we're fighting him on our SAs and he's
        keeping up with us. Whyatt himself doesn't really have that many
        attacks. In fact he only has one, and that's his regular attack. Yeah...
        that's it. Eventually throughout the fight he'll get his Act Twice. Ok,
        that's a bit better but still it'll continue using his normal attack.
      </p>

      <p>
        Eventually he'll start summoning a support orb. This is a little blue
        orb that floats behind him that gives him a new skill, <strong
          >Cross</strong
        >. Cross is pretty much just an attack that hits all party members for
        less damage. Nothing a Repair All can't fix. Of course this can be a bit
        more "dangerous" if he uses 2 Crosses in a row. For this you'll want to
        fully focus on destroying the orb so he goes back to using his normal
        attack over and over.
      </p>

      <p>
        Eventually... for the first time ever he'll have "Act Thrice"! Yeah,
        first boss that acts 3 times! Again he'll only attack or use Cross if
        the orb is up, but that's it.
      </p>

      <p>
        Where the bit of difficulty comes into play is balancing your OD gauge.
        Yeah, given that he has so many turns, or acts so many times per turn,
        the gauge will be going right like crazy, making you be in Gear 2 a lot
        to keep the gauge going left. But that's still not so bad. You do want
        to stay out of the Overheat area because his Cross can actually deal
        quite a bit of damage.
      </p>

      <p>
        Of course, given that we can actually change our characters' skills I
        can't tell you exactly what to use, but having something to debuff the
        boss is amazing. This is from Hammer & Shield weapon. The Offensive
        Drones are great to buff your party. This greatly helps in preventing
        your characters from possibly dying.
      </p>

      <ul>
        <li><strong>Attack</strong>: hits one character for around 800 dmg.</li>
        <li>
          <strong>Summoning Support Orb</strong>: summons an orb that grants him
          skills.
        </li>
        <li>
          <strong>Cross</strong>: hits all party members for around 700 dmg.
        </li>
        <li><strong>Counter Stance</strong>: counters any attack.</li>
      </ul>
    </BossFight>

    <p>
      Watch the scenes after the fight and move across the bridge and north into
      the next area. Here we have 2 exits at the top. Enter the top left room
      first and you'll find a pair of ghosts in here you can talk to. They tell
      you something REALLY interesting.
    </p>

    <p>
      More important though, go ahead and open the chest to find <strong
        >Elevator Key</strong
      > and read the book on the table. It tells you of a small flying island on the
      western side of Valandis. Hmm.
    </p>

    <Image
      src="https://cdn.staticneo.com/ew/thumb/c/c5/Ce_629.jpg/730px-Ce_629.jpg"
      alt="Elevator Key Location"
    />

    <Tip type="note">
      <p>
        Note that what we just got here, the Elevator Key and the info on the
        book about the flying island pretty much unlock the Eastern Ograne
        Grottos area and the Ultimate Weapons respectively.
      </p>
      <ul>
        <li>
          Eastern Ograne Grottos: <a href="/walkthrough/eastern-ograne-grottos"
            >Eastern Ograne Grottos</a>
        </li>
        <li>
          Ultimate Weapons: <a href="/walkthrough/ultimate-weapons"
            >Ultimate Weapons</a>
        </li>
      </ul>
    </Tip>

    <p>
      Head through the northern door now and you'll be in a long hallway with
      tons of books on the left and right sides.
    </p>

    <p>
      Head through the northern door once you've spoken to the ghosts and read
      the books and follow this path until you go inside the large building, go
      through several gates and reach a desk. Go down either staircase (left or
      right) and down here you'll find a <strong>fast travel crystal</strong>,
      an anvil and the merchant. He'll thank us for literally making him rich
      haha and that the least he could do was to stick with us through to the
      end. That's really nice.
    </p>
    <Tip type="note">
      <p>
        <strong>NOTE</strong>: please take note that I fought and wrote the
        final bosses after completing the <a
          href="/walkthrough/eastern-ograne-grottos">Eastern Ograne Grottos</a
        > area, which is considered to be post game content (with super bosses and
        whatnot) so I'm extremely powerful. My strategies below will be skewed due
        to that but I will try my best to give you as detailed strategies as I can.
      </p>
    </Tip>

    <p>
      If you want you can also go through the <a
        href="/walkthrough/eastern-ograne-grottos">Eastern Ograne Grottos</a
      > area before going to the end to grow stronger.
    </p>

    <p>
      And with that last note out of the way head down from the vendor and
      follow this path until we reach a bridge. This is it! There will be 3
      fights in a row here so you better be prepared! Read the last boss
      strategy for what skills to equip and whatnot and once ready save your
      game and proceed. We'll find Gwayn where a couple of scenes play out,
      things turn and we'll be in our first boss fight.
    </p>

    <BossFight title="Labrodia-Dervinas">
      <Video id="SWoiZ9fzVq0" title="Labrodia-Dervinas Boss Fight" />
      <p>
        Ok, exactly what I don't like: boss fights aboard our Sky Armors! This
        one is, thankfully, relatively easy. As it's been usual throughout the
        fight, I won't give you exact strats because everyone's SAs will be
        different but we'll talk about what he does and what I did to overcome
        it.
      </p>

      <p>
        To begin with, the boss acts thrice, which means the OD gauge will be
        going right like crazy. For this of course we'll be wanting to be in
        Gear 2 as much as we possibly can.
      </p>

      <p>
        And of course, we couldn't start a fight without our buffs. If you have
        Command Attack and Command Defense, this is the fight to use them. They
        buff up the party real nice. I recommend you start by buffing your
        defense of course and debuffing his attack.
      </p>

      <p>
        Note that the boss has 2 states, offensive and defensive. While in the
        offensive he'll of course be attacking more, but he's weak to fire.
        Exploit this as much as you can because you can do a ton of damage to
        him. While in defensive though, he's weak to earth so make sure to get
        that right!
      </p>

      <p>
        When in the offensive, be very careful AND ready. During this phase he
        uses Hopeless Strike every now and then. This deas 99,999 dmg. to one
        party member, basically insta kill. Be ready to revive said character
        ASAP. From what I saw this only goes for Glenn so be ready. This is
        pretty much what you want to be careful of. His regular attack barely
        does any damage. He has a party wide attack called Light Barrage that
        his the party for the same as a regular attack, which is STILL pretty
        unimpressive.
      </p>

      <p>
        While in his defensive phase though, he'll normally start by preparing
        his Ultima Strike. Takes him 2 turns in which he doesn't do anything for
        the first turn, giving you ample time to get back to Gear 0 and defend,
        or staying in Gear 1 and also defending. Even if you don't defend the
        attack itself doesn't do that much damage, especially if you went
        through the Eastern Ograne Grotto and got some of the SA upgrades. The
        boss can also heal himself, but it's for less than 2000 HP, which is
        like half of one of my attacks.
      </p>

      <ul>
        <li>
          <strong>Attack</strong>: hits one party member for around 400 dmg.
        </li>
        <li>
          <strong>Change of Plans</strong>: swaps between offensive and
          defensive skills.
        </li>
        <li>
          <strong>Hopeless Strike</strong>: instantly kills one party member
          while in his offensive phase.
        </li>
        <li>
          <strong>Light Barrage</strong>: hits all party members for around
          400-500 dmg.
        </li>
        <li>
          <strong>Ultima Strike</strong>: hits all party for around 1400 dmg.
          while in his defensive phase.
        </li>
        <li><strong>Heal</strong>: heals himself for around 1900 HP.</li>
      </ul>
    </BossFight>

    <BossFight title="Alfreed Monster">
      <Video id="BtAYx8M3IJU" title="Alfreed Monster Boss Fight" />
      <p>
        This boss... what is this boss? I have no idea why we're fighting this,
        but Alfreed was the one Kylian used to really admire so I'm guessing
        that's why. Like I said before, I am incredibly strong at this point so
        please keep that in mind as I write this strat.
      </p>

      <p>
        So, like we've been doing for the entire game, we want to start with
        buffs. You can have Victor buff your party while we have Glenn use his
        Ultra Move to debuff all 4 enemies. There are 4 enemies but they have
        relatively low HP, which is good. Mikah should buff the speed as per
        usual while we have Lenne use Heaven's Tear to exploit weakness, but
        make sure you have Light Coat skill equipped (you learn it from the Rune
        Knight). This is to have Glenn, Mikah, Sienna do extra damage since all
        the enemies are weak to Light.
      </p>

      <p>
        As you can tell from the attacks below, they don't really do much. You
        want to focus first on the Healer first to prevent it from healing the
        other enemies. After him I recommend you focus on the Magician because
        his magic hits all party members. The next one would be Alfreed because
        he also attacks all party members, then lastly the Tank.
      </p>

      <p>
        Note that they gain act twice once their HP goes down a certain amount
        (I'd say 50%). For this reason focus on one enemy at a time. If you're
        using someone like Mikah, use her Tiger Combo instead of her Dragon
        Combo to prevent them all getting to act twice per turn because
        otherwise... yeah things can get pretty nasty pretty quick.
      </p>

      <ul>
        <li>
          <strong>Tank</strong>: <strong>Shield Bash</strong>: hits one
          character for around 100 dmg.
        </li>
        <li>
          <strong>Healer</strong>: <strong>Heal</strong>: heals one enemy for
          around 450 HP.
        </li>
        <li>
          <strong>Alfreed</strong>: <strong>Alfreed's Will</strong>: grants an
          attack and magic buff to one enemy. <strong>Weapons of an Army</strong
          >: hits all party members for around 60 dmg.
        </li>
        <li>
          <strong>Magician</strong>: <strong>Ice Age</strong>: hits all party
          members for a round 80 dmg.
        </li>
      </ul>
    </BossFight>

    <BossFight title="Vaen">
      <Video id="e2QaeysgLBw" title="Vaen Boss Fight" />
      <p>
        This is a pretty neat fight for a final fight. Around the first half of
        the fight is scripted but after that it'll be all you.
      </p>

      <p>
        Throughout the fight there will be some scripted scenes where Kylian
        helps you out, like the boss draining all of our TP and Kylian healing
        us back to full, the boss creating 5 copies of itself behind us and
        Kylian destroying them.
      </p>

      <p>
        The fight here is relatively the same as it's always been, with Glenn
        and Victor buffing and debuffing the party and enemy, and Mikah/Sienna
        buffing SPD/CRIT. Of course a very good thing to have is Dark Coat to
        give your physical attackers the dark element to exploit the Vaen's
        weakness to it. This makes the fight REALLY easy.
      </p>

      <p>
        The fight always starts with the boss using Big Bang to drop your HP to
        1. If you have 2 party members with Heal All focus on healing first
        before buffing your party (can't buff them if they're dead, right?), but
        after that the fight is fairly linear.
      </p>

      <p>
        The boss's attacks aren't anything to really worry about and eventually
        the first scripted part plays where the Vaen create a duplicate. This
        one you HAVE to destroy first because the boss gets magic and physical
        resist, which means no attack works on them. The duplicate is a much
        weaker version of the Vaen and should go down relatively fast. After
        that the fight will continue as it normally would and for the next phase
        the boss will drain all the TP you have. Although I was shocked at
        first, Kylian comes out and fills it back up to full. Pretty much a mid
        fight refresh. I do believe this is halfway through the fight.
      </p>

      <p>
        As you continue through the same attacks the Vaen will start acting
        twice per round, making it just a bit more challenging, but his attacks
        remain the same. The next phase of the fight is where it tries to use
        "End of the World". I'm guessing this is an attack that would've ended
        the fight but Kylian doesn't let them use it and instead they use "You
        Shall Be As Gods". This gives them a buff in every stat for 4 turns and
        they can have it up alongside Glenn's debuff. Thankfully you can get rid
        of these buffs really easily by using Lenne's <strong>Cleanse</strong>.
        So much for that buff haha.
      </p>

      <p>
        The fight from here continues relatively the same until the Vaen create
        5 duplicates behind you. At first I thought this was going to be a pain,
        but Kylian jumps in to help us out. He'll destroy all the duplicates for
        us. Eventually the boss will try using End of the World... and succeed
        in using it this time. This deals over 6000 dmg. to everybody. The Vaen
        literally kill us here but Kylian revives us back to full, ending his
        help as well.
      </p>

      <p>
        From here the fight is relatively the same, but the Vaen start using a
        new move, "Barrier Switch". This grants it magic or physical resist,
        granting them being immune to one those types of damage. They'll use it
        again to switch it up. This limits who can damage the boss, but it
        shouldn't be that bad. If you can switch out your characters that can't
        damage the boss then do that. If you can't then have them help out
        Victor with healing (with either spells or items) and keep the OD gauge
        low.
      </p>

      <ul>
        <li><strong>Big Bang</strong>: drops your party's HP down to 1.</li>
        <li>
          <strong>Nirvana</strong>: hits all party members for around 60 dmg.
        </li>
        <li>
          <strong>Duplicate</strong>: creates a duplicate behind you and grants
          itself magic and physical resist.
        </li>
        <li>
          <strong>Attack</strong>: hits 3 times randomly for around 60 dmg.
          each.
        </li>
        <li>
          <strong>Barrier Switch</strong>: switches between magic resist and
          physical resist.
        </li>
      </ul>
    </BossFight>

    <p>
      After the fight enjoy all the scenes. There's a ton of them and, I'm not
      going to lie, even the ending will throw a curveball at you! Something
      really good so enjoy the scenes!
    </p>

    <StoryBlurb>
      <p>
        <i
          >I hope you enjoyed this guide as we played through Chained Echoes
          together. I came into this guide knowing absolutely nothing of it
          until I was asked if I wanted to write a guide, and that was like a
          week after released, but I am an RPG afficionado (you can see all the
          RPG guides I've written) so of course I had to say yes! And I'm not
          going to lie, this is one of my GOTY games from 2022, including GOW
          Ragnarok, Elden Ring, and Xenoblade 3! That means that I REALLY loved
          this game, from start to finish!</i>
      </p>

      <p>
        <i
          >So thank you for sticking with me through to the end, and remember,
          if you enjoyed the guide be sure to comment below as this guide
          wouldn't be here without Neoseekers support. Thanks for playing along
          with me everyone!</i>
      </p>
    </StoryBlurb>
  </QuestStep>

  <NextSteps
    links={[
      {
        href: "/walkthrough/eastern-ograne-grottos",
        label: "Eastern Ograne Grottos",
      },
    ]}
  />
</WalkthroughLayout>
