---
import WalkthroughLayout from "../../layouts/WalkthroughLayout.astro";

const sections = [
  { id: "side-quests", label: "Side quests" },
  { id: "meet-mysterious-person", label: "Meet the mysterious person in the north of New Wyrnshire" },
  { id: "check-news-lady-bran", label: "Check if there is any news from Lady Bran" },
  { id: "talk-torman", label: "Talk to Torman after finishing preparations" }
];
---

<WalkthroughLayout title="Looking for Allies" sections={sections}>
  <div class="story-blurb">
    <p><em>The group is waiting for Cameron's word. Until then, you should search for new clan members.</em></p>
  </div>

  <section id="side-quests" class="walkthrough-section">
    <h2 class="section-title">Side quests</h2>
    <div class="step-content">
      <p>Well, after that previous quest we now have Amalia in our party and some resistance members on our island. Before we continue the main quest, there are some side quests we can do. I actually did these before continuing with the story so I recommend you do the same. The first link below, we start this one here on our island.</p>
      <ul>
        <li><a href="/walkthrough/the-gates-of-nhysa">The Gates of Nhysa</a></li>
        <li><a href="/walkthrough/into-the-maelstrom">Into the Maelstrom</a></li>
      </ul>
      <p>Once you're done with those sidequests, let us continue!</p>
    </div>
  </section>

  <section id="meet-mysterious-person" class="walkthrough-section">
    <h2 class="section-title">Meet the mysterious person in the north of New Wyrnshire</h2>
    <div class="step-content">
      <p>Fast travel to any crystal in New Wyrnshire and a scene will play out where we see the church people talking to the people. Seems like they're doing a good job convincing them to believe in their god. Hmm.</p>
      <p>Once we regain control, fast travel to the crystal to the north and head west into the alley. Go inside the marked building to trigger a scene where we see none other than Kylian. Nice to see you again traitor. Seeing this scene here reminded me a lot of Delita from Final Fantasy Tactics.</p>
    </div>
  </section>

  <section id="check-news-lady-bran" class="walkthrough-section">
    <h2 class="section-title">Check if there is any news from Lady Bran</h2>
    <div class="step-content">
      <p>Leave the building and go talk to Bran to the north of New Wyrnshire. A scene will play before we enter the castle where we see Sandar hanging. He's the guy that was keeping tabs on Bran in the name of Frederik. Ooh, she's officially joining us? Head inside to have these scenes continue.</p>
    </div>
  </section>

  <section id="talk-torman" class="walkthrough-section">
    <h2 class="section-title">Talk to Torman after finishing preparations</h2>
    <div class="step-content">
      <p>Once these scenes are over we are to storm Tormund and take back the Grimoire. We have to make preparations before we leave because we won't be able to come back. Don't worry, if you've been following the guide you shouldn't really need to make any preparations, unless of course you haven't been upgrading your equipment (we'll still find shops and an anvil where we're going). Leave a save file just in case you need it.</p>
      <p>Once you're ready go ahead and talk to the bird next to Bran and let him know we're ready to leave to have some scenes play out where we ride our ship and Sky Armors towards Tormund. During these quests we'll land and the quest itself will end, starting the next one right away. See you in the next page!</p>
      <div class="media-container wide">
        <a href="https://cdn.staticneo.com/ew/6/65/Ce_Crimson_Wings.png" target="_blank">
          <img src="https://cdn.staticneo.com/ew/thumb/6/65/Ce_Crimson_Wings.png/100px-Ce_Crimson_Wings.png" alt="Crimson Wings ending scene" />
        </a>
      </div>
    </div>
  </section>
</WalkthroughLayout>
