---
import WalkthroughLayout from "../../layouts/WalkthroughLayout.astro";
import QuestStep from "../../components/QuestStep.astro";
import Image from "../../components/Image.astro";
import MediaGrid from "../../components/MediaGrid.astro";
import Tip from "../../components/Tip.astro";
import EndLogo from "../../components/EndLogo.astro";
import StoryBlurb from "../../components/StoryBlurb.astro";

const baseUrl = import.meta.env.BASE_URL;

const sections = [
  {
    id: "mysterious-girl",
    label: "Mysterious Girl",
    subsections: [{ id: "orb-puzzles", label: "Orb Puzzles" }],
  },
];
---

<WalkthroughLayout
  title="Mysterious Girl"
  subtitle="Act 2 Epilogue"
  sections={sections}
  guideId="mysterious-girl-2"
>
  <StoryBlurb>
    <p>
      <em>Lenne is bored and wants to get away from the evening's event.</em>
    </p>
  </StoryBlurb>

  <p>
    Although we technically finished Act II, let's add this in there as well.
  </p>

  <section id="mysterious-girl" class="walkthrough-section">
    <h2 class="section-title">Mysterious Girl</h2>

    <QuestStep id="orb-puzzles" title="Orb Puzzles">
      <p>
        Enjoy the scenes that play as we start where we see Lenne and Timothy
        listening to the speech. Eventually this guy called Van comes in and it
        seems he's to marry Lenne? Hmm? Anyway, we'll end up in a puzzle. Our
        objective here is to move the red orb onto the golden plate.
      </p>

      <Image
        src="https://cdn.staticneo.com/ew/thumb/a/a3/Ce_450.jpg/730px-Ce_450.jpg"
        alt="First Orb Puzzle"
      />

      <p>
        Once you do it we'll have a slightly harder puzzle. Here we're told
        about the green/blue blocks and that we can move the orbs towards them.
        The gray ones will break if you throw the orb at them so they're only
        useful once.
      </p>

      <p>
        And with that push the orb right, then up then right again. Up to
        another puzzle! Here we're told about orbs being able to stop other
        orbs. Good to know. For this one, first move the left orb right to break
        the block, then move it left to break the other block. Now move the
        right orb to the left to hit the other orb, then push them up and right <strong
          >BUT</strong
        > one at a time, otherwise they'll be together and you won't be able to push
        them.
      </p>

      <Image
        src="https://cdn.staticneo.com/ew/thumb/b/bf/Ce_451.jpg/730px-Ce_451.jpg"
        alt="Orb Rules & Puzzles"
      />

      <p>
        Now onto the last one! This one has a bunch of blocks! Move the orb
        right, then up, then left, up again, and lastly right. That's it. And
        with that enjoy the scenes that play out and the quest will come to an
        end. See you in the next page!
      </p>

      
    </QuestStep>
  </section>

  <EndLogo />
</WalkthroughLayout>

<style>
  .walkthrough-section {
    margin-bottom: 4rem;
  }

  .section-title {
    font-size: 2rem;
    color: var(--accent-gold);
    border-bottom: 2px solid var(--border-color);
    padding-bottom: 0.5rem;
    margin-bottom: 2rem;
  }
</style>
