---
import WalkthroughLayout from "../../layouts/WalkthroughLayout.astro";

const sections = [
  {
    id: "rohlan-fields",
    label: "Rohlan Fields",
    subsections: [
      { id: "search-basil", label: "Search for the contact in Basil" },
    ],
  },
  {
    id: "farnsport",
    label: "Farnsport",
    subsections: [
      { id: "search-farnsport", label: "Search for the contact in Farnsport" },
      { id: "head-phyon-oasis", label: "Head for the Phyon Oasis" },
    ],
  },
  {
    id: "phyon-oasis",
    label: "Phyon Oasis",
    subsections: [
      { id: "rescue-amalia", label: "Rescue Amalia" },
      { id: "search-resistance", label: "Search for the other resistance members" },
      { id: "leave-north", label: "Leave the Phyon Oasis to the north" },
      { id: "boss-matthye", label: "Boss Fight: Matthye" },
    ],
  },
];
---

<WalkthroughLayout
  title="Searching for a Princess"
  subtitle="Main Quest Walkthrough"
  sections={sections}
>
  <div class="story-blurb">
    <p><em>Our clan needs more allies. Princess Amalia might be the right candidate. Let's find her!</em></p>
  </div>

  <section id="rohlan-fields" class="walkthrough-section">
    <h2 class="section-title">Rohlan Fields</h2>

    <article id="search-basil" class="quest-step">
      <h3 class="step-title">
        <img src="https://cdn.staticneo.com/ew/b/bf/Ce_OBJ.png" alt="Objective Icon" class="obj-icon" />
        Search for the contact in Basil
      </h3>
      <div class="step-content">
        <p>How was that exploration page? Was it long? Took me a while to write up. For this quest head on over to Basil in Rohlan Fields and a scene will play as we approach. It seems Frederik's army already came and destroyed everything. Damn. We'll also meet Heinlein. He's the goat that was with Victor at the very start of the game, the one that gave us our chips to play.</p>
        <p>After a little talk with him we'll know that we need to contact Princess Amalia, but for this we need to talk to another contact, and he's in Farnsport. Time to head over there.</p>
        <p>Once you regain control go ahead and fast travel to the crystal inside the city.</p>
      </div>
    </article>
  </section>

  <section id="farnsport" class="walkthrough-section">
    <h2 class="section-title">Farnsport</h2>

    <article id="search-farnsport" class="quest-step">
      <h3 class="step-title">
        <img src="https://cdn.staticneo.com/ew/b/bf/Ce_OBJ.png" alt="Objective Icon" class="obj-icon" />
        Search for the contact in Farnsport
      </h3>
      <div class="step-content">
        <p>Once in the city head east into the next area (which is where we previously found the blacksmith) and from here head south towards the docks but before go down the last set of stairs go west across the boxes. Remember back then there was nothing in these tunnels? Well now here's our contact. Head north twice to trigger a scene with our contact, Faran. You remember him!</p>
        <p>It seems some enemy soldiers were following us. Oh well, time to kill them all! They're not hard (your normal soldier enemies) so go ahead and kill them, focusing on the mage first. After you deal with them Faran will trust us and tell us that Amalia is being held at a military base near Arkant. After a little back and forth we'll go rescue the Princess with the help of Faran and the others.</p>
      </div>
    </article>

    <article id="head-phyon-oasis" class="quest-step">
      <h3 class="step-title">
        <img src="https://cdn.staticneo.com/ew/b/bf/Ce_OBJ.png" alt="Objective Icon" class="obj-icon" />
        Head for the Phyon Oasis
      </h3>
      <div class="step-content">
        <p>Once you regain control, leave the tunnel and call your airship. Phyon Oasis is located northeast of Farnsport.</p>

        <div class="media-container wide">
          <a href="https://www.neoseeker.com/chained-echoes/File:Ce_396.jpg" target="_blank">
            <img src="https://cdn.staticneo.com/ew/thumb/6/65/Ce_396.jpg/730px-Ce_396.jpg" alt="Phyon Oasis Location" />
          </a>
        </div>
      </div>
    </article>
  </section>

  <section id="phyon-oasis" class="walkthrough-section">
    <h2 class="section-title">Phyon Oasis</h2>

    <article id="rescue-amalia" class="quest-step">
      <h3 class="step-title">
        <img src="https://cdn.staticneo.com/ew/b/bf/Ce_OBJ.png" alt="Objective Icon" class="obj-icon" />
        Rescue Amalia
      </h3>
      <div class="step-content">
        <p>Watch the scene as we enter and it'll be time to rescue Amalia. We have an optional objective to skip all the fights but I have no idea what this gives us. I couldn't skip them all so that's probably why.</p>
        <p>From where we regain control don't go through the main entrance. Instead let's go north first. As you get to the top area past the merchant (stock up if you need to), you can find a <strong>crystal source</strong> and almost in front of it is a chest under a palm tree that has <strong>Angel Wing</strong> inside.</p>
        
        <div class="media-container wide">
          <a href="https://www.neoseeker.com/chained-echoes/File:Ce_399.jpg" target="_blank">
            <img src="https://cdn.staticneo.com/ew/thumb/8/88/Ce_399.jpg/730px-Ce_399.jpg" alt="Phyon Oasis North Chest" />
          </a>
        </div>

        <p>Return to the entrance and go south now. You'll find a metal chest near the water with <strong>Sword & Shield S200</strong> inside.</p>

        <div class="media-container wide">
          <a href="https://www.neoseeker.com/chained-echoes/File:Ce_397.jpg" target="_blank">
            <img src="https://cdn.staticneo.com/ew/thumb/b/bd/Ce_397.jpg/730px-Ce_397.jpg" alt="Phyon Oasis South Chest" />
          </a>
        </div>

        <p>Get on your SA, go around the wall and to the right you'll find a pier. At the end of it is a metal chest. Get off on the beach and head south to get to it. It has <strong>Bowgun B200</strong>.</p>

        <div class="tip-card">
          <p>If you do want the reward for the stealth objective, you can travel along the sea to the south and postpone getting most of the treasure in the dungeon. This will get you to the building Amalia is held in without running into enemies.</p>
        </div>

        <div class="media-container wide">
          <a href="https://www.neoseeker.com/chained-echoes/File:Ce_398.jpg" target="_blank">
            <img src="https://cdn.staticneo.com/ew/thumb/5/5a/Ce_398.jpg/730px-Ce_398.jpg" alt="Phyon Oasis Sea Path" />
          </a>
        </div>

        <p>Head back up to the beach and go left to find a chest with <strong>Demon Leather x3</strong>. Head east and go north up the slope to reach a fork. To the west is towards the entrance and there are some enemy Sky Armors. Ignore this path and go north across the bridge. As soon as you do to the left you can jump into the river. This just takes you back to the entrance so ignore it, but instead follow the edge of the river north and you'll find a chest on the left side with <strong>Elastic Wing x2</strong>.</p>
        <p>Go inside the house here and the back door leads to a tunnel. Follow said tunnel and at the top you'll see a fork. Go up the door to reach higher ground back outside. Out here go right and north to find some enemies. Deal with them and board your SA to cross the river to find a pair of chests, these with <strong>Defense Gorget</strong> and <strong>Danforth</strong>.</p>

        <div class="media-container wide">
          <a href="https://www.neoseeker.com/chained-echoes/File:Ce_400.jpg" target="_blank">
            <img src="https://cdn.staticneo.com/ew/thumb/c/cd/Ce_400.jpg/730px-Ce_400.jpg" alt="Phyon Oasis River Crossing" />
          </a>
        </div>

        <p>Return back inside and continue right. This will take you to some enemies. We already killed some so we might as well. Ignore the first path leading north, kill the enemies and go north at the fork past them to get to a chest with <strong>Phantom Cloak</strong>.</p>

        <div class="media-container wide">
          <a href="https://www.neoseeker.com/chained-echoes/File:Ce_401.jpg" target="_blank">
            <img src="https://cdn.staticneo.com/ew/thumb/6/62/Ce_401.jpg/730px-Ce_401.jpg" alt="Phantom Cloak Chest" />
          </a>
        </div>

        <p>Head south from here and outside. Board your SA and take out the enemies to the south. From here go east past the bridge and enter the first building to the north. As you go through it a scene will play where we meet with Amalia, which is the little girl that helped us at the start of the game. After some scenes we'll have to fight some soldiers. These are the same as the ones we fought back in Farnsport.</p>
        <p>After the fight watch some more scenes and Amalia will join the party. Nice! If you succeeded in the stealth objective, you'll get <strong>Healer's RAM</strong>.</p>

        <div class="media-container wide">
          <a href="https://www.neoseeker.com/chained-echoes/File:Ce_402.jpg" target="_blank">
            <img src="https://cdn.staticneo.com/ew/thumb/1/16/Ce_402.jpg/730px-Ce_402.jpg" alt="Amalia Joins Scene" />
          </a>
        </div>

        <div class="tip-card">
          <p><strong>NOTE:</strong> Amalia is a healer, a big time healer. Sadly all of her skills are lv.1 and she only gets 500SP, which is barely enough to level up a couple skills. She is really good, especially if you give her some Class Emblems so she can learn some offensive spells like the Summoner, but she feels weak right now in comparison to your main healer (Victor for me). Keep using her and having her gain SP so you can level up her skills and you won't regret it.</p>
        </div>
      </div>
    </article>

    <article id="search-resistance" class="quest-step">
      <h3 class="step-title">
        <img src="https://cdn.staticneo.com/ew/b/bf/Ce_OBJ.png" alt="Objective Icon" class="obj-icon" />
        Search for the other resistance members
      </h3>
      <div class="step-content">
        <p>When you regain control head southeast in between the crates and open the chest to find <strong>Fine Wool x2</strong> inside. Continue east into the next room. There's nothing in here so head to the bottom of the room but keep an eye on the right side for a lever you can flip. Do so. This opens the gate halfway.</p>

        <div class="media-container wide">
          <a href="https://www.neoseeker.com/chained-echoes/File:Ce_403.jpg" target="_blank">
            <img src="https://cdn.staticneo.com/ew/thumb/6/61/Ce_403.jpg/730px-Ce_403.jpg" alt="Phyon Oasis Lever 1" />
          </a>
        </div>

        <p>Exit the building through the door on the bottom left and once outside head right (the half opened gate is to the north) and enter the next building. In here go right when possible and follow this path to find a chest in the corner with <strong>Ancient Skull x2</strong>. Head north now and right once again when you can to find another chest, this one with <strong>Cool Scarf</strong>.</p>
        <p>Head north from here and in the upper left corner you'll be able to find the second lever to open the gate fully.</p>

        <div class="media-container wide">
          <a href="https://www.neoseeker.com/chained-echoes/File:Ce_404.jpg" target="_blank">
            <img src="https://cdn.staticneo.com/ew/thumb/9/98/Ce_404.jpg/730px-Ce_404.jpg" alt="Phyon Oasis Lever 2" />
          </a>
        </div>

        <p>Enter the eastern room now and check the right wall to find another lever. this one will open the gate to the right. From here head back west and exit the building. Once back outside head north now through the gate we just opened and go left when you can to find a chest behind the building with <strong>Crit Damage Up Crystal</strong>.</p>
        <p>Head east now, destroy the enemy Sky Armors and at the fork go north first to find a chest at the end with <strong>Gain TP after Kill Crystal</strong>.</p>

        <div class="media-container wide">
          <a href="https://www.neoseeker.com/chained-echoes/File:Ce_405.jpg" target="_blank">
            <img src="https://cdn.staticneo.com/ew/thumb/5/55/Ce_405.jpg/730px-Ce_405.jpg" alt="Sky Armor Enemies" />
          </a>
        </div>

        <p>Head south now through the gate and being careful go left and into the building. Once inside go right and flip the lever to fully open the gate, and open the chest for <strong>Alarm Clock x2</strong>.</p>
        <p>Head back outside and back north so you can get in your SA and destroy the ones to the south. After you do go southwest to find a <strong>crystal source</strong> and a very sneaky chest with <strong>Platinum Ore x2</strong>.</p>

        <div class="media-container wide">
          <a href="https://www.neoseeker.com/chained-echoes/File:Ce_406.jpg" target="_blank">
            <img src="https://cdn.staticneo.com/ew/thumb/7/74/Ce_406.jpg/730px-Ce_406.jpg" alt="Platinum Ore Chest" />
          </a>
        </div>

        <p>Head east and the path will start going north. Keep your eyes peeled because there's a path going east. Follow it for a pair of chests, they have <strong>Yahnagi Bow</strong> and <strong>Ether Cannon E200</strong>.</p>
        <p>Head north now and when you go up the slope, before you continue going north go west first for a chest with <strong>Gemstone Jerkin</strong> and a <strong>source crystal</strong>.</p>

        <div class="media-container wide">
          <a href="https://www.neoseeker.com/chained-echoes/File:Ce_407.jpg" target="_blank">
            <img src="https://cdn.staticneo.com/ew/thumb/8/81/Ce_407.jpg/730px-Ce_407.jpg" alt="Phyon Oasis North Cave" />
          </a>
        </div>

        <p>Return and go north now and inside the building. From the entrance go right, open the chest with <strong>Tsurugi</strong> (awesome upgrade for Sienna) then continue north to trigger a scene where we find the rest of the members and then we'll be fighting some more soldiers. Your normal soldiers.</p>
      </div>
    </article>

    <article id="leave-north" class="quest-step">
      <h3 class="step-title">
        <img src="https://cdn.staticneo.com/ew/b/bf/Ce_OBJ.png" alt="Objective Icon" class="obj-icon" />
        Leave the Phyon Oasis to the north
      </h3>
      <div class="step-content">
        <p>Once you re gain control leave this building and head towards the quest marker but make sure to save your game before you get there. There's a merchant and a <strong>crystal source</strong> on your way so that's a great spot to save. Using your SA, go over the river to the NW of the merchant to find a chest containing <strong>Great Sword GS200</strong>.</p>
        <p>Once ready continue to trigger some scenes where we find who's our traitor and that damn Matthye. Time to fight him! We've got 2 boss fights back to back so I'll leave you to them.</p>
      </div>
    </article>

    <article id="boss-matthye" class="quest-step">
      <h3 class="step-title">Boss Fight: Matthye</h3>
      <div class="step-content">
        <div class="boss-fight-card">
          <h4 class="boss-title">BOSS FIGHT: MATTHYE (Tank)</h4>
          <div class="video-container">
            <iframe width="100%" height="433" src="https://www.youtube.com/embed/OKofM7YOFH8?wmode=transparent&amp;start=" frameborder="0" allowfullscreen></iframe>
          </div>
          <p>Time to fight this guy! I've been wanting to do this ever since he killed that NPC in the castle! He's in a tank so that means we're using our SAs for this fight!</p>
          <p>Honestly, in comparison to our last fight with SAs (which was that damn Kondor!), this one is much easier to deal with. One of the reasons is because he doesn't have double turn. He only has one turn and his attacks do ok damage. Oddly enough his party wide attack hits much harder to all party members than the individual attack. That's usually not the case but it definitely is here. But nothing a Repair All or two can't take care of.</p>
          <p>So for this fight you'll mostly want to attack... yeah. Pretty bland, huh? Well, since you probably exchanged weapons and chassis of the Sky Armors I can't give you detailed things, but I can definitely give you pointers. Poison works well on this guy. You can poison him for quite a bit of damage every turn. That's really nice. If you still have counter mode with Glenn that also works. For some reason Matthye tends to attack Glenn a lot so that'll come in handy.</p>
          <p>Ba'Thraz, if he's still using elemental attacks, wind is the way to go. Matthye takes SO much wind damage is crazy, especially if you're in Gear 2. If you haven't changed anything with Victor, have him heal whenever you need it and use Defensive and Offensive Break to really mess with him.</p>
          <p>As for Sienna, Hornet Dance is amazing. If you manage to hit him more than twice then it's really good. Use that and ignore using stuff like Leg Sweep.</p>
          <p>When the boss is nearly dead he'll start a countdown. You'll see these countdowns more in future SA fights. You need to kill the boss before the countdown reaches 0, otherwise... goodbye. Once this countdown starts Matthye will stop attacking and just prepare the attack. Go ALL out here to deal with him ASAP.</p>
          
          <div class="boss-stats">
            <ul>
              <li><strong>Attack</strong>: hits one character for around 550 dmg.</li>
              <li><strong>Cannon Storm</strong>: hits all party members for around 1000 dmg.</li>
              <li><strong>Ultimate Attack</strong>: game over.</li>
            </ul>
          </div>
        </div>

        <p>There are some very creepy scenes that play out after the fight, but we'll end up in a second fight against him. Thankfully they give you a chance to save your game so do so in another save file if you want.</p>

        <div class="boss-fight-card">
          <h4 class="boss-title">BOSS FIGHT: MATTHYE (On Foot)</h4>
          <div class="video-container">
            <iframe width="100%" height="433" src="https://www.youtube.com/embed/903ahMTGK8g?wmode=transparent&amp;start=" frameborder="0" allowfullscreen></iframe>
          </div>
          <p>Fight #2 with this jerk! Thankfully this is also a fairly simple fight and we're fighting without our SAs. These fights are MUCH easier.</p>
          <p>Well, to begin with, Matthye now acts twice per turn so keep that OD gauge in check at all times. But honestly that's pretty much where the "difficulty" of the fight ends. We have Amalia now which is an amazing healer, but given that we just got her she'll feel super underwhelming in comparison to Victor (which I had already said). Unlike Victor though (or whoever your healer has been at this point), she does have a skill called <strong>Risky Heal</strong>, which super heals your party. The bad thing is that she'll have to skip her next turn. This is used mostly in emergencies where you REALLY need the healing... but here is not the case.</p>
          <p>Forgotten Matthye may look intimidating, but he is just another boss. You can have Sienna and Robb inflict Bleed/Poison to have him take a bunch of damage each turn. He also has a Danforth weapon you can steal (weapon for Tomke the goat) so grab that. Lenne isn't your main damage dealer this time since he's weak to darkness so have Ba'Thraz come out and use his darkness weapons. He can do quite a bit of damage, especially when you summon your weapons so that's great. Sadly I had him paired up with Sienna so I had to switch her out after inflicting Bleed and stealing.</p>
          <p>As for Glenn, he'll do his usual: use your Ultra Move to lower all the boss's stats then just straight up spam Cross Slash and lower his stats whenever it's needed. Victor we already talked about, but also have him buff the party up.</p>
          <p>As for the fight... there's nothing to say. He only has the 2 attacks listed below and he usually just uses one and one, making it super easy to heal.</p>

          <div class="boss-stats">
            <ul>
              <li><strong>Attack</strong>: hits one party member for around 35 dmg.</li>
              <li><strong>Fists of Nova</strong>: hits the entire party for around 40 dmg.</li>
            </ul>
          </div>
        </div>

        <p>After the fights several scenes will play out where we'll be back in New Wyrnshire with Bran. Enjoy the scenes that play out. (Amalia seems to be a fun character.)</p>
      </div>
    </article>
  </section>

  <div class="next-steps-card">
    <ul>
      <li><a href="/walkthrough/world-exploration">Optional - World Exploration</a></li>
      <li><a href="/walkthrough/three-months-later">Back to Three Months Later</a></li>
    </ul>
    <div class="clan-crest">
      <img src="https://cdn.staticneo.com/ew/thumb/6/65/Ce_Crimson_Wings.png/100px-Ce_Crimson_Wings.png" alt="Crimson Wings Crest" />
    </div>
  </div>

</WalkthroughLayout>

<style>
  .walkthrough-section {
    margin-bottom: 4rem;
  }

  .section-title {
    font-size: 2rem;
    color: var(--accent-gold);
    border-bottom: 2px solid var(--border-color);
    padding-bottom: 0.5rem;
    margin-bottom: 2rem;
  }

  .quest-step {
    margin-bottom: 3rem;
  }

  .step-title {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    font-size: 1.5rem;
    color: var(--accent-blue);
    margin-bottom: 1.5rem;
    background: rgba(58, 113, 221, 0.1);
    padding: 0.5rem 1rem;
    border-radius: 4px;
  }

  .obj-icon {
    width: 24px;
    height: 24px;
  }

  .btn-icon {
    display: inline-block;
    vertical-align: middle;
  }

  .step-content p {
    line-height: 1.6;
    margin-bottom: 1.25rem;
    color: rgba(255, 255, 255, 0.85);
  }

  .step-content strong {
    color: var(--accent-gold);
  }

  .media-container, .media-grid {
    margin: 2rem 0;
    text-align: center;
  }

  .media-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 1.5rem;
  }

  img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    border: 2px solid var(--border-color);
    transition: transform 0.3s, border-color 0.3s;
  }

  img:hover {
    transform: scale(1.02);
    border-color: var(--accent-blue);
  }

  .boss-fight-card {
    background: rgba(200, 50, 50, 0.1);
    border: 1px solid rgba(200, 50, 50, 0.3);
    border-radius: 8px;
    padding: 2rem;
    margin: 3rem 0;
  }

  .boss-title {
    color: #ff6b6b;
    font-size: 1.6rem;
    text-align: center;
    margin-bottom: 1.5rem;
    text-shadow: 0 0 10px rgba(255, 107, 107, 0.5);
  }

  .video-container {
    margin-bottom: 2rem;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 10px 30px rgba(0,0,0,0.5);
  }

  .boss-stats {
    margin-top: 2rem;
    background: rgba(0,0,0,0.3);
    padding: 1.5rem;
    border-radius: 6px;
  }

  .boss-stats ul {
    list-style: disc;
    padding-left: 2rem;
    margin-top: 1rem;
  }

  .boss-stats li {
    margin-bottom: 0.5rem;
    color: #e0e0e0;
  }

  .tip-card {
     background: rgba(226, 180, 59, 0.1);
     border-left: 4px solid var(--accent-gold);
     padding: 1rem 1.5rem;
     margin: 2rem 0;
     border-radius: 0 4px 4px 0;
  }

  .tip-card p {
    margin-bottom: 0;
    color: #e0e0e0;
  }

  .next-steps-card {
    background: linear-gradient(145deg, var(--bg-card), rgba(21, 24, 33, 0.9));
    border: 1px solid var(--accent-gold);
    border-radius: 8px;
    padding: 2rem;
    margin-top: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
  }

  .next-steps-card ul {
    list-style: none;
    font-size: 1.2rem;
    padding: 0;
  }

  .next-steps-card li {
    margin-bottom: 1rem;
  }

  .next-steps-card a {
    color: var(--accent-blue);
    display: flex;
    align-items: center;
    gap: 0.5rem;
    text-decoration: none;
    transition: color 0.2s;
  }

  .next-steps-card a::before {
    content: "→";
    color: var(--accent-gold);
  }

  .next-steps-card a:hover {
    color: var(--accent-gold);
  }
</style>
