---
import StoryBlurb from "../../components/StoryBlurb.astro";
import WalkthroughLayout from "../../layouts/WalkthroughLayout.astro";
import EndLogo from "../../components/EndLogo.astro";
const baseUrl = import.meta.env.BASE_URL;

const sections = [
  {
    id: "kortara-mountain-range",
    label: "Kortara Mountain Range",
    subsections: [
      { id: "buy-some-groceries", label: "Buy some groceries" },
      {
        id: "return-to-abandoned-mansion",
        label: "Return to the abandoned mansion",
      },
      { id: "look-after-children", label: "Look after the children" },
    ],
  },
  {
    id: "mount-rydell",
    label: "Mount Rydell",
    subsections: [
      { id: "reach-peak-mt-rydell", label: "Reach the peak of Mt. Rydell" },
    ],
  },
];
---

<WalkthroughLayout
  title="Three Months Later"
  subtitle="Act 2 Walkthrough"
  sections={sections}
  guideId="three-months-later"
>
  <StoryBlurb>
    <p>
      <em>After the battle over Rohlan, Glenn found his way to Flandern.</em>
    </p>
  </StoryBlurb>

  <section id="kortara-mountain-range" class="walkthrough-section">
    <h2 class="section-title">Kortara Mountain Range</h2>

    <article id="buy-some-groceries" class="quest-step">
      <h3 class="step-title">
        <img
          src="https://cdn.staticneo.com/ew/b/bf/Ce_OBJ.png"
          alt="Objective Icon"
          class="obj-icon"
        />
        Buy some groceries
      </h3>
      <div class="step-content">
        <p>
          Well, it's been a whopping 3 months since the incident in the Aurora
          and Glenn is just being eaten alive by guilt. Who's to blame him, huh?
        </p>
        <p>
          After the initial scenes, we'll be left in the middle of the street.
          Before we start exploring, go inside the house to the right of the
          fast travel crystal. This is the shop. Head inside and talk to the
          people behind the counter to trigger a little scene. It seems Glenn's
          taking care of some orphans. Good for him.
        </p>
        <p>We'll regain control back outside.</p>
      </div>
    </article>

    <article id="return-to-abandoned-mansion" class="quest-step">
      <h3 class="step-title">
        <img
          src="https://cdn.staticneo.com/ew/b/bf/Ce_OBJ.png"
          alt="Objective Icon"
          class="obj-icon"
        />
        Return to the abandoned mansion
      </h3>
      <div class="step-content">
        <p>
          Before we go to the mansion, let's go explore real quick. Enter the
          house to the left of the crystal and go up to the second floor for an
          item. Talk to the NPCs in the house if you want then head back
          outside. We can't go north so head south and go up the slopes and
          you'll see a rope bridge at the top. Before you cross it enter the
          house and talk to the man in the kitchen to get <strong>Meal</strong>.
        </p>
        <p>
          Cross the bridge outside now and follow the path until you reach some
          chickens and to the left of them a chest with <strong>Gold Ore</strong
          >.
        </p>

        <div class="media-container">
          <a
            href="https://www.neoseeker.com/chained-echoes/File:Ce_284.jpg"
            target="_blank"
          >
            <img
              src="https://cdn.staticneo.com/ew/thumb/b/b7/Ce_284.jpg/730px-Ce_284.jpg"
              alt="Walkthrough Screenshot 1"
            />
          </a>
        </div>

        <p>
          To the southeast is a house you can go inside. Do so, pick up the item
          on the right and head downstairs to find a cave? Follow it to be
          outside, but on the southern side of the village. Go right and around,
          grabbing the <strong>crystal sources</strong> then crossing the wooden bridge
          going west. As you cross it open the southeastern chest for <strong
            >Repair Kit x2</strong
          > and go to the far west to find a pair of chests, these have <strong
            >Blueprint</strong
          > and <strong>Festival Ribbon</strong> in them.
        </p>

        <div class="media-container">
          <a
            href="https://www.neoseeker.com/chained-echoes/File:Ce_285.jpg"
            target="_blank"
          >
            <img
              src="https://cdn.staticneo.com/ew/thumb/1/1c/Ce_285.jpg/730px-Ce_285.jpg"
              alt="Walkthrough Screenshot 2"
            />
          </a>
        </div>

        <p>
          Now before we leave, a little bit to the right you'll be able to find
          a <strong>hidden cave</strong> on the northern wall. This should be the
          last one and inside you can find... nothing! Someone called "BB" stole our
          treasure and even made sure to put the pile of rocks blocking the entrance.
          Wow.
        </p>

        <div class="media-grid">
          <a
            href="https://www.neoseeker.com/chained-echoes/File:Ce_286.jpg"
            target="_blank"
          >
            <img
              src="https://cdn.staticneo.com/ew/thumb/5/5f/Ce_286.jpg/326px-Ce_286.jpg"
              alt="Hidden Cave Empty"
            />
          </a>
          <a
            href="https://www.neoseeker.com/chained-echoes/File:Ce_287.jpg"
            target="_blank"
          >
            <img
              src="https://cdn.staticneo.com/ew/thumb/7/70/Ce_287.jpg/326px-Ce_287.jpg"
              alt="Treasure Stolen"
            />
          </a>
        </div>

        <p>
          Head back to the crystal in town and go west now. When possible head
          north to find a building that kinda looks like a church and a chest
          next to it with <strong>Giant's Hide</strong> inside. Continue south to
          find the abandoned mansion. Go right and approach the entrance to trigger
          a scene where we see how Glenn got to meet the orphans. Looks like he was
          indeed ready to die. Damn.
        </p>
        <p>
          When you're ready go ahead and talk to the kids playing with the
          swing. The answer you pick here doesn't change anything so pick
          whichever you want and go inside the building now. Inside you can talk
          to the kids when you see them, but enter the bottom right room first
          to find a chest with <strong>Yak Grass Fiber x4</strong>.
        </p>
        <p>
          Head upstairs and enter the bottom left room to find a chest with <strong
            >Repair Kit x2</strong
          > and you can go right in here to the next room to find a pair of chests
          that have <strong>Break Extender</strong> and <strong
            >Hard Shell x3</strong
          >.
        </p>

        <div class="media-container">
          <a
            href="https://www.neoseeker.com/chained-echoes/File:Ce_288.jpg"
            target="_blank"
          >
            <img
              src="https://cdn.staticneo.com/ew/thumb/d/d8/Ce_288.jpg/730px-Ce_288.jpg"
              alt="Mansion Upstairs Chest"
            />
          </a>
        </div>

        <p>
          Once you've talked to the kids enter the northern room up here (where
          the yellow bed is) and a scene will play out.
        </p>
      </div>
    </article>

    <article id="look-after-children" class="quest-step">
      <h3 class="step-title">
        <img
          src="https://cdn.staticneo.com/ew/b/bf/Ce_OBJ.png"
          alt="Objective Icon"
          class="obj-icon"
        />
        Look after the children
      </h3>
      <div class="step-content">
        <p>
          Once you regain control head back downstairs to have the scenes
          continue where none other than Victor finds us. Looks like he was
          looking for us all this time. He tells us that he needs us, and that
          all the gang is still together, making emphasis on "even Sienna" haha.
          They are even making use of Sienna's airship, which is pretty neat!
        </p>
        <p>
          Enjoy the scenes as they continue and Glenn will give his goodbyes to
          the kids... which were ghosts. Whoa! The scenes will continue as you
          leave and Victor tells us that we have 4 Sky Armor. Nice! We can now
          use them whenever we want! Once the scenes are over we'll be out of
          town and we'll get some info on "Sky Armor Traversal".
        </p>

        <div class="media-grid">
          <a
            href="https://www.neoseeker.com/chained-echoes/File:Ce_289.jpg"
            target="_blank"
          >
            <img
              src="https://cdn.staticneo.com/ew/thumb/4/4b/Ce_289.jpg/326px-Ce_289.jpg"
              alt="Sky Armor Intro 1"
            />
          </a>
          <a
            href="https://www.neoseeker.com/chained-echoes/File:Ce_290.jpg"
            target="_blank"
          >
            <img
              src="https://cdn.staticneo.com/ew/thumb/8/86/Ce_290.jpg/326px-Ce_290.jpg"
              alt="Sky Armor Intro 2"
            />
          </a>
        </div>
      </div>
    </article>
  </section>

  <section id="mount-rydell" class="walkthrough-section">
    <h2 class="section-title">Mount Rydell</h2>

    <article id="reach-peak-mt-rydell" class="quest-step">
      <h3 class="step-title">
        <img
          src="https://cdn.staticneo.com/ew/b/bf/Ce_OBJ.png"
          alt="Objective Icon"
          class="obj-icon"
        />
        Reach the peak of Mt. Rydell
      </h3>
      <div class="step-content">
        <p>
          Good info we got here. Talk to the merchant here if you need to and
          press <img
            src="https://cdn.staticneo.com/ew/thumb/8/86/PSR1.png/21px-PSR1.png"
            alt="R1 Button"
            class="btn-icon"
          /> twice to enter your Sky Armor then enter fly mode. Well, it is now time
          to climb Mount Rydell. It's pretty short and you'll be using your Sky Armors
          quite a bit. Directions will be a bit more loose here since we can now fly
          so please keep that in mind.
        </p>
        <p>
          From the merchant you'll want to go east to find a chest with <strong
            >Gold Ore x2</strong
          >. Really close by.
        </p>

        <div class="media-container">
          <a
            href="https://www.neoseeker.com/chained-echoes/File:Ce_291.jpg"
            target="_blank"
          >
            <img
              src="https://cdn.staticneo.com/ew/thumb/5/52/Ce_291.jpg/730px-Ce_291.jpg"
              alt="Gold Ore Chest"
            />
          </a>
        </div>

        <p>
          Go to the northwestern area now to find a red chest, this one with <strong
            >Leather Breastplate</strong
          >.
        </p>

        <div class="media-container">
          <a
            href="https://www.neoseeker.com/chained-echoes/File:Ce_292.jpg"
            target="_blank"
          >
            <img
              src="https://cdn.staticneo.com/ew/thumb/f/f8/Ce_292.jpg/730px-Ce_292.jpg"
              alt="Leather Breastplate Chest"
            />
          </a>
        </div>

        <p>
          On the eastern side you'll find a new enemy, the <strong
            >Bighead</strong
          >. These guys... are a pain to deal with but not too difficult. They
          have a ton of HP and you can only fight them with your Sky Armors. Try
          fighting them on foot... and you'll die in one hit.
        </p>
        <p>
          Once you've killed them get off your Sky Armors and enter the cave.
          Open the chest for <strong>Exchange Parts x2</strong> then climb up the
          wall for a new enemy, the <strong>Ice Devil</strong>. Nothing
          particularly worth mentioning about them. Kill them and head up
          another wall, exiting the cave afterwards where Sienna tells us about
          Sky Armors and not being able to land in high grass or near enemies.
          Good to know.
        </p>
        <p>
          Get on your Sky Armors and to the right you'll have a chest with some
          Bigheads guarding it. Land to the right of them, fight them off and
          open it to find <strong>Scale Armor</strong> inside.
        </p>

        <div class="media-container">
          <a
            href="https://www.neoseeker.com/chained-echoes/File:Ce_293.jpg"
            target="_blank"
          >
            <img
              src="https://cdn.staticneo.com/ew/thumb/1/1a/Ce_293.jpg/730px-Ce_293.jpg"
              alt="Scale Armor Chest"
            />
          </a>
        </div>

        <p>
          Further right are more Bigheads and just past them is a place where
          you can land. BEFORE you do that, just north is another place you can
          land, on a ledge above you. Land there and follow the thin passage
          west until you reach a chest that has <strong>Robust Coat</strong> in it.
        </p>

        <div class="media-container">
          <a
            href="https://www.neoseeker.com/chained-echoes/File:Ce_294.jpg"
            target="_blank"
          >
            <img
              src="https://cdn.staticneo.com/ew/thumb/3/39/Ce_294.jpg/730px-Ce_294.jpg"
              alt="Robust Coat Chest"
            />
          </a>
        </div>

        <p>
          Land on the area below now, kill the Bigheads and proceed past them
          into a cave. There's a scene that plays out in here where we meet with
          Lenne and Robb. nice. Lenne seems to be very happy to see Glenn.
          Anyway, party's back together now!
        </p>
        <p>
          Leave the cave and we'll be introduced to Mt. Rydell proper. Here
          Sienna will give us a bit more info on the Sky Armors. Get on it and
          fly to the bottom left little isle to find a chest with <strong
            >Spatha</strong
          >, an upgrade for Glenn!
        </p>

        <div class="media-container">
          <a
            href="https://www.neoseeker.com/chained-echoes/File:Ce_295.jpg"
            target="_blank"
          >
            <img
              src="https://cdn.staticneo.com/ew/thumb/e/e5/Ce_295.jpg/730px-Ce_295.jpg"
              alt="Spatha Chest"
            />
          </a>
        </div>

        <p>
          Land on the left side of the river and start hovering east. There's a
          small path going north you should follow for a chest with <strong
            >Demon Leather</strong
          >. Continue east to fight some more Bigheads, then continue east into
          the cave. In here as you go west you'll fight some Ice Devils and a <strong
            >Skadi Elemental</strong
          >. This is the same as the earth one we previously fought, but of
          course ice elemental.
        </p>
        <p>
          After the fight go north (both the western and eastern paths lead to
          the same area) and into the next tunnel where you can find a chest
          with <strong>Ancient Skull</strong>. Return downstairs to where you
          fought the enemies and go west to find a chest with <strong
            >Repair Kit</strong
          > on the bottom path.
        </p>

        <div class="media-container">
          <a
            href="https://www.neoseeker.com/chained-echoes/File:Ce_296.jpg"
            target="_blank"
          >
            <img
              src="https://cdn.staticneo.com/ew/thumb/5/52/Ce_296.jpg/730px-Ce_296.jpg"
              alt="Ancient Skull Chest path"
            />
          </a>
        </div>

        <p>
          From here simply go west, grab the <strong>crystal source</strong> and exit
          the cave.
        </p>
        <p>
          Once outside go south and jump across the gap going east. Once you do
          open your map and you'll notice there's 2 exits labelled as 7 and 8.
          Go inside 8 real quick to find a chest with <strong
            >Giant's Hide x2</strong
          > and another one above we cannot get just yet. Exit the cave, get on your
          Sky Armor and go down the slope onto the river and follow said river north
          and into the cave.
        </p>

        <div class="media-container">
          <a
            href="https://www.neoseeker.com/chained-echoes/File:Ce_297.jpg"
            target="_blank"
          >
            <img
              src="https://cdn.staticneo.com/ew/thumb/8/8f/Ce_297.jpg/730px-Ce_297.jpg"
              alt="River Cave Entrance"
            />
          </a>
        </div>

        <p>
          Kill the enemies once in here and open the chest on the bottom for <strong
            >Exchange Parts</strong
          >. Climb the tall wall here and exit the cave. Once out here get on
          your Sky Armor and while flying go south and fight the Bigheads
          guarding the chest because it has <strong>Ancient Skull</strong> inside.
        </p>

        <div class="media-container">
          <a
            href="https://www.neoseeker.com/chained-echoes/File:Ce_298.jpg"
            target="_blank"
          >
            <img
              src="https://cdn.staticneo.com/ew/thumb/7/7c/Ce_298.jpg/730px-Ce_298.jpg"
              alt="Ancient Skull Chest outside"
            />
          </a>
        </div>

        <p>
          Return to the area above (west of the river) and while hovering cross
          the river at the bottom and go northeast after you do to find a chest
          amongst the grass with <strong>Fine Wool x2</strong>.
        </p>
        <p>
          To the south is a little ramp that's going down. You CANNOT go down
          with your Sky Armors to get off them and walk south to fight some
          enemies. Get on your Sky Armor afterwards and head northeast to fight
          some Bigheads. From here you'll see a cave to the north. BEFORE we go
          there open your map and notice the exit on the bottom left corner
          labelled as 9. Head there and go inside.
        </p>
        <p>
          In here you'll see there's a bunch of ledges going down. Go down while
          getting all the <strong>crystal sources</strong> and at the bottom you'll
          see the chest we previously saw. Open it up to find <strong
            >Attack Gorget</strong
          > inside.
        </p>

        <div class="media-container">
          <a
            href="https://www.neoseeker.com/chained-echoes/File:Ce_299.jpg"
            target="_blank"
          >
            <img
              src="https://cdn.staticneo.com/ew/thumb/8/89/Ce_299.jpg/730px-Ce_299.jpg"
              alt="Attack Gorget Chest"
            />
          </a>
        </div>

        <p>
          Return up the walls and enter the northern cave now (labelled as 11).
          In here kill the enemies, grab the <strong>crystal source</strong> and exit
          the cave, then simply use your Sky Armors to go up the remaining part of
          the mountain to see Haku. Swap around Sky Armor equipment so that Sienna
          has a single-target skill, <strong>SAVE YOUR GAME</strong>, and
          prepare yourself for the worst boss fight in the game!
        </p>

        <div class="boss-fight-card">
          <h4 class="boss-title">BOSS FIGHT: KORTARA KONDOR</h4>
          <div class="video-container">
            <iframe
              width="100%"
              height="433"
              src="https://www.youtube.com/embed/nejr27CcKS0?wmode=transparent&start="
              frameborder="0"
              allowfullscreen></iframe>
          </div>

          <p>
            Welcome to the worst boss fight in the game! Well, at least up to
            this point! I normally don't recommend this, but this is the first
            boss where I recommend you lower the difficulty and get it over with
            haha. It's still mathematically possible to win on the highest
            settings, but there's barely any room for error and you might have
            to use most of your Sky Armor healing items.
          </p>
          <p>
            The reason why this boss is so difficult is because, for one, he's
            very tough. He hits like a truck, acts twice, and LOVES to hit all
            the party at once. The second reason is because you just got your
            Sky Armors, which means you don't have any upgrades or spare parts
            so you can't really "upgrade" your characters. You have to do with
            what you have. My biggest recommendation if you're going on normal
            mode is to watch my video above. Took me like 10 tries (rage quit
            once and went to bed haha) but I got it.
          </p>
          <p>
            So let me talk about your characters first. Your most important
            thing to keep track of in this fight is your OD gauge. Given that
            the boss takes 2 actions per turn that means the gauge will be going
            right a lot. For this you want to be in Gear 2 as much as you
            possibly can to move the gauge to the left. It's basically a fight
            between you and the damn bird. Of course, being in Gear 2 means more
            damage that Victor needs to heal. Feel free to use as many items as
            you need as well.
          </p>
          <p>
            For attacks, you'll want Victor to heal almost all the time while
            you have him use Defensive Break whenever you can to lower his
            defenses. Thraz is one of your main damage dealers here with Fire
            Shot. Use this nonstop and ignore Wild Slash.
          </p>
          <p>
            For Glenn, have him use Poison Salvo to have the boss take like 650
            dmg. per turn. Really good. Other than that you can use Counter Mode
            if you want but stick to Piercer to deal the most damage. For
            Sienna, if you got her skill that allows you to attack the Kondor
            several times in a row use that nonstop. If you didn't get it (I
            don't think there's enough enemies for you to fight to get it to be
            honest) then stick to regular attacks like I did. Your normal
            attacks hit harder than Leg Sweep. Don't even bother with it.
            Alternatively, if you swapped her melee weapon for either Sword
            &amp; Shield or Greatsword, she'll be able to charge up a
            single-target skill, though the latter does more damage.
          </p>
          <p>
            The one thing you'll want to be careful of in the fight, besides the
            OD gauge, is when the Kondor starts channeling his magic. He'll
            release a really powerful attack that hits all. You'll want to get
            back to Gear 0 and defend to lower the damage you take, but you're
            still ok if you're in Gear 1. When in Gear 0 though, as you move
            through Gear 1 to get back to Gear 2 try not attacking and just
            defending. The reason for this is because attacking while in Gear 1
            will help the Kondor move the OD gauge to the right and it's VERY
            hard getting it back to the left.
          </p>
          <p>
            Overall a REALLY tough fight. Again, I really recommend you give it
            a go once or twice, but if you can't just switch it to potato
            difficulty and get it over with haha. There are more bosses where we
            use our SAs and they are MUCH more fun!
          </p>

          <div class="boss-stats">
            <p>
              All attacks below will show approximate damages while in Gear 1
              unless specified. Of course you can expect more while in Gear 2.
              It'll be the same in all boss fights where we use our Sky Armors.
            </p>
            <ul>
              <li>
                <strong>Attack</strong>: hits one character for around 580 dmg.
              </li>
              <li>
                <strong>Blizzard</strong>: hits all party members for 500 dmg.
                (this is in Gear 2)
              </li>
              <li>
                <strong>Shifting Sky</strong>: hits all party members for around
                320 dmg. (while in Gear 0 AND defending)
              </li>
            </ul>
          </div>
        </div>

        <p>
          Watch the scenes that play out after the fight where we see Frederik
          and his minions, as well as <strong>Bran</strong>, the queen of New
          Wyrnshire. During these scenes we tell her about wanting to deal with
          Frederik and his reign, but also destroy the Grimoire. Thankfully we
          get her help, mostly due to the fact that Lenne is with us. A Princess
          and Frederik's own sister wants to take him down. I dig this.
        </p>
        <p>
          On an even better note, Bran will give us <strong
            >Hermit's Isle</strong
          >, our very own isle so we can have our base of operations, our HQ.
          The scenes transition to us being inside the caves on the isle... and
          THIS ONLY reminded me of the Returner's Hideout in FFVI. Such good
          vibes. Victor comes in and tells us the paperwork is done... to become
          an adventurer's clan... what? We get our clan crest and name, the <strong
            >Crimson Wings</strong
          >. Of course this is inspired by FFIV, but I also like to think
          heavily inspired by Trails of Cold Steel II. LOVE THIS!
        </p>
        <p>
          Well, it seems this was needed mostly so we could fly around and be
          armed... to a certain degree. Victor will also name Glenn our leader,
          at least on paper, cus why not, right? Well, after our talk we'll
          finally have <strong>sidequests</strong> available! They're not your typical
          sidequest but I'll have them listed in their own page so you can take a
          look at them. I'll be linking you to them whenever we get a new one. Of
          course we also have some info on the World Map and Clan.
        </p>

        <div class="media-grid">
          <a
            href="https://www.neoseeker.com/chained-echoes/File:Ce_300.jpg"
            target="_blank"
          >
            <img
              src="https://cdn.staticneo.com/ew/thumb/b/b5/Ce_300.jpg/326px-Ce_300.jpg"
              alt="Info 1"
            />
          </a>
          <a
            href="https://www.neoseeker.com/chained-echoes/File:Ce_301.jpg"
            target="_blank"
          >
            <img
              src="https://cdn.staticneo.com/ew/thumb/0/00/Ce_301.jpg/326px-Ce_301.jpg"
              alt="Info 2"
            />
          </a>
        </div>

        <p>
          And of course, our quest will end here and a new one will start. <strong
            >HOWEVER</strong
          >, now that we have an airship, Sky Armors, and an isle there's, quite
          literally, a whole world for us to explore. If you DO NOT care about
          exploration then skip it and proceed to the next quest. If you're
          interested, however, continue to the exploration page. Both will be
          listed below.
        </p>

        <EndLogo />
      </div>
    </article>
  </section>
</WalkthroughLayout>

<style>
  .walkthrough-section {
    margin-bottom: 4rem;
  }

  .section-title {
    font-size: 2rem;
    color: var(--accent-gold);
    border-bottom: 2px solid var(--border-color);
    padding-bottom: 0.5rem;
    margin-bottom: 2rem;
  }

  .quest-step {
    margin-bottom: 3rem;
  }

  .step-title {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    font-size: 1.5rem;
    color: var(--accent-blue);
    margin-bottom: 1.5rem;
    background: rgba(58, 113, 221, 0.1);
    padding: 0.5rem 1rem;
    border-radius: 4px;
  }

  .obj-icon {
    width: 24px;
    height: 24px;
  }

  .btn-icon {
    display: inline-block;
    vertical-align: middle;
  }

  .step-content p {
    line-height: 1.6;
    margin-bottom: 1.25rem;
    color: rgba(255, 255, 255, 0.85);
  }

  .step-content strong {
    color: var(--accent-gold);
  }

  .media-container,
  .media-grid {
    margin: 2rem 0;
    text-align: center;
  }

  .media-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 1.5rem;
  }

  img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    border: 2px solid var(--border-color);
    transition:
      transform 0.3s,
      border-color 0.3s;
  }

  img:hover {
    transform: scale(1.02);
    border-color: var(--accent-blue);
  }

  .boss-fight-card {
    background: rgba(200, 50, 50, 0.1);
    border: 1px solid rgba(200, 50, 50, 0.3);
    border-radius: 8px;
    padding: 2rem;
    margin: 3rem 0;
  }

  .boss-title {
    color: #ff6b6b;
    font-size: 1.6rem;
    text-align: center;
    margin-bottom: 1.5rem;
    text-shadow: 0 0 10px rgba(255, 107, 107, 0.5);
  }

  .video-container {
    margin-bottom: 2rem;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
  }

  .boss-stats {
    margin-top: 2rem;
    background: rgba(0, 0, 0, 0.3);
    padding: 1.5rem;
    border-radius: 6px;
  }

  .boss-stats ul {
    list-style: disc;
    padding-left: 2rem;
    margin-top: 1rem;
  }

  .boss-stats li {
    margin-bottom: 0.5rem;
    color: #e0e0e0;
  }

  .next-steps-card {
    background: linear-gradient(145deg, var(--bg-card), rgba(21, 24, 33, 0.9));
    border: 1px solid var(--accent-gold);
    border-radius: 8px;
    padding: 2rem;
    margin-top: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
  }

  .next-steps-card ul {
    list-style: none;
    font-size: 1.2rem;
  }

  .next-steps-card li {
    margin-bottom: 1rem;
  }

  .next-steps-card a {
    color: var(--accent-blue);
    display: flex;
    align-items: center;
    gap: 0.5rem;
    text-decoration: none;
    transition: color 0.2s;
  }

  .next-steps-card a::before {
    content: "→";
    color: var(--accent-gold);
  }

  .next-steps-card a:hover {
    color: var(--accent-gold);
  }

  .clan-crest {
    text-align: center;
  }

  .clan-crest img {
    border: none;
    filter: drop-shadow(0 0 10px rgba(226, 180, 59, 0.5));
  }
</style>
