---
import StoryBlurb from "../../components/StoryBlurb.astro";
import Tip from "../../components/Tip.astro";
import WalkthroughLayout from "../../layouts/WalkthroughLayout.astro";
import NextSteps from "../../components/NextSteps.astro";
const baseUrl = import.meta.env.BASE_URL;

const sections = [
  { id: "hermits-isle", label: "Hermit's Isle" },
  { id: "overworld", label: "Overworld" },
  { id: "arkant-archipelago", label: "Arkant Archipelago" },
  { id: "new-wyrnshire", label: "New Wyrnshire" },
  { id: "fiorwoods", label: "Fiorwoods" },
  { id: "mount-rydell", label: "Mount Rydell" },
  { id: "kortara-mountain-range", label: "Kortara Mountain Range" },
  { id: "perpetua-flower-fields", label: "Perpetua Flower Fields" },
  { id: "farnsport", label: "Farnsport" },
  { id: "rohlan-fields", label: "Rohlan Fields" },
];
---

<WalkthroughLayout
  title="World Exploration"
  subtitle="Act 2 - The Whole World Opens Up"
  sections={sections}
  guideId="world-exploration"
>
  <StoryBlurb>
    <p>
      <em
        >Welcome to one of the biggest pages I've written for this guide thus
        far. We're going to go explore the entire world so be ready !!
      </em>
    </p>
  </StoryBlurb>
  <Tip
    ><h3>A couple things to note:</h3>
    <ul>
      <li>
        We'll be getting several sidequests while on this exploration page. I'll
        be listing them in their own separate pages and will be linking them.
        Open them up in a new tab if you want/need help with them.
      </li>
      <li>
        We'll be recruiting several people for our island. I will have a page
        with all of them up so keep an eye there if you need help.
      </li>
      <li>
        <em>There'll be A LOT of fighting</em>. This is 100% optional for you
        guys but you can always lower the difficulty of the game so that the
        fights go by much faster. Personally I did this during this whole page <strong
          >BUT</strong
        > I have to be clear here: I always fight the enemies first on normal difficulty
        so I know they're actually killable, and bosses are ALWAYS fought on normal
        difficulty. Lowering the difficulty is just to make things go faster (you
        have no idea how many hours it takes to write these haha).
      </li>
      <li>
        Speaking of fighting, make sure to do your Rewards Board, as much as you
        can do. Note for the challenges where you need to fight enemies you can
        use your Sky Armors in many cases. Use that to your advantage.
      </li>
    </ul>
    <p>
      And those are my tips/notes. Do with them as you will. An now though,
      we're going to go explore. You ready? I hope so because we have a lot to
      tackle!
    </p></Tip
  >

  <section id="hermits-isle" class="walkthrough-section">
    <h2 class="section-title">Hermit's Isle</h2>
    <div class="step-content">
      <p>
        There's not much to do in our island since we don't have people here.
        You can find Victor and Thraz in the room to the right of where we
        regain control. Sienna is to the left, in the large dining room. If you
        go upstairs you can find Lenne in her room. Outside, you can go right
        and up the slope to find Robb up here. Further up past him is Haku
        looking out at the distance.
      </p>

      <p>
        Head outside the cave (if you're inside that is). Approach the pier to
        the south to trigger a little scene where we recruit our very first
        member of the Crimson Wings, <strong>Falora</strong>. She's a fortune
        teller and will help us find the other people we can recruit. Awesome!
        Of course I'm telling you as well so does that make me a fortune teller?
        Probably not.
      </p>

      <div class="tip-card">
        <p>
          <strong>NOTE:</strong> a big tip! She charges 1000a per consultation. You
          can save your game, ask her about the people you can recruit, then reload
          your save file so you don't have to spend a dime.
        </p>
      </div>

      <p>
        Afterwards, press <img
          src="https://cdn.staticneo.com/ew/thumb/5/58/PSv_Touch.png/21px-PSv_Touch.png"
          alt="Touch pad"
          class="inline-icon"
        /> to ride your ship! Let's go!
      </p>
    </div>
  </section>

  <section id="overworld" class="walkthrough-section">
    <h2 class="section-title">Overworld</h2>
    <div class="step-content">
      <p>
        As you can see we can move around the entire island. For now most of the
        areas you can enter are the ones where you've already been. There are,
        however, a couple of new areas you can check out. Also note that we have
        a new marker for our sidequests. It's the blue icons, one with the
        chevron and the exclamation mark <img
          src="https://cdn.staticneo.com/ew/f/fe/Ce_SQ.png"
          alt="Sidequest Icon"
          class="inline-icon"
        />.
      </p>

      <p>
        From Hermit's Isle open your map and locate the 2 lakes to the west. Do
        you see the larger one south of the hole in the center of the map? Head
        on over there and you'll see there's an isle in the middle where we can
        land (it has a sparkle like the items we collect).
      </p>

      <div class="media-grid">
        <a
          href="https://www.neoseeker.com/chained-echoes/File:Ce_304.jpg"
          target="_blank"
          ><img
            src="https://cdn.staticneo.com/ew/thumb/e/ea/Ce_304.jpg/326px-Ce_304.jpg"
            alt="Map Lakes"
          /></a
        >
        <a
          href="https://www.neoseeker.com/chained-echoes/File:Ce_302.jpg"
          target="_blank"
          ><img
            src="https://cdn.staticneo.com/ew/thumb/e/e9/Ce_302.jpg/326px-Ce_302.jpg"
            alt="Isle Landing"
          /></a
        >
      </div>

      <p>
        Approach the center of this tiny isle to find Vesta! Remember him from
        when we left Farnsport?
      </p>

      <div class="media-container wide">
        <a
          href="https://www.neoseeker.com/chained-echoes/File:Ce_303.jpg"
          target="_blank"
          ><img
            src="https://cdn.staticneo.com/ew/thumb/0/00/Ce_303.jpg/730px-Ce_303.jpg"
            alt="Vesta"
          /></a
        >
      </div>

      <p>
        Talk to him and after a little talk he'll join the clan. Awesome! Having
        him as part of the clan will let us know if we're missing any chests.
        These are counting per square area on the map (there are 9 squares max
        per map). Awesome.
      </p>

      <p>
        There's another area we can go to called <strong
          >Isle of Messages</strong
        > in the northwestern corner of the isle.
      </p>

      <div class="media-grid">
        <a
          href="https://www.neoseeker.com/chained-echoes/File:Ce_305.jpg"
          target="_blank"
          ><img
            src="https://cdn.staticneo.com/ew/thumb/1/18/Ce_305.jpg/326px-Ce_305.jpg"
            alt="Isle of Messages Map"
          /></a
        >
        <a
          href="https://www.neoseeker.com/chained-echoes/File:Ce_306.jpg"
          target="_blank"
          ><img
            src="https://cdn.staticneo.com/ew/thumb/a/af/Ce_306.jpg/326px-Ce_306.jpg"
            alt="Tombstones"
          /></a
        >
      </div>

      <p>
        There's actually nothing here but <strong>crystal sources</strong> but there
        are tombstones that seems to be messages from Kickstarter backers? Go ahead
        and read through them if you want.
      </p>

      <p>
        Something important! I don't know if they appear everywhere but I found
        on the western edge of the island an airship flying around with musical
        notes coming out of it. These are a group of musicians that are playing
        music for the people a couple hundred meters in the air. I don't think
        people can even use hear them haha. Anyway, after a little scene with
        them Eddie will join the clan. Nice!
      </p>

      <div class="media-container wide">
        <a
          href="https://www.neoseeker.com/chained-echoes/File:Ce_307.jpg"
          target="_blank"
          ><img
            src="https://cdn.staticneo.com/ew/thumb/1/1d/Ce_307.jpg/730px-Ce_307.jpg"
            alt="Recruiting Eddie"
          /></a
        >
      </div>

      <p>
        Another cool thing. Head to the southwestern corner of the map and
        you'll be able to spot a raft. "Land" on it and talk to the octopus man.
        After a little talk he'll join the clan.
      </p>

      <p>
        <strong>NOTE:</strong> I don't think the answer you gives him changes him
        joining or not, but I chose: <strong
          >It's never too late to start a new life!</strong
        >.
      </p>

      <div class="media-grid">
        <a
          href="https://www.neoseeker.com/chained-echoes/File:Ce_373.jpg"
          target="_blank"
          ><img
            src="https://cdn.staticneo.com/ew/thumb/f/f5/Ce_373.jpg/326px-Ce_373.jpg"
            alt="Octopus Map"
          /></a
        >
        <a
          href="https://www.neoseeker.com/chained-echoes/File:Ce_374.jpg"
          target="_blank"
          ><img
            src="https://cdn.staticneo.com/ew/thumb/1/1d/Ce_374.jpg/326px-Ce_374.jpg"
            alt="Octopus Man"
          /></a
        >
      </div>

      <p>
        This guy is good because every in-game hour from here on out he'll get
        you a random item. I've only gotten Ancient Skulls from him haha.
      </p>

      <p>
        And that's about it for overworld exploration. We'll now go from area to
        area so brace yourself.
      </p>
    </div>
  </section>

  <section id="arkant-archipelago" class="walkthrough-section">
    <h2 class="section-title">Arkant Archipelago</h2>
    <div class="step-content">
      <p>
        This place is located southwest of our isle, where the <img
          src="https://cdn.staticneo.com/ew/f/fe/Ce_SQ.png"
          alt="Sidequest Icon"
          class="inline-icon"
        /> is.
      </p>

      <div class="media-grid">
        <a
          href="https://www.neoseeker.com/chained-echoes/File:Ce_309.jpg"
          target="_blank"
          ><img
            src="https://cdn.staticneo.com/ew/thumb/3/3e/Ce_309.jpg/326px-Ce_309.jpg"
            alt="Archipelago Map"
          /></a
        >
        <a
          href="https://www.neoseeker.com/chained-echoes/File:Ce_308.jpg"
          target="_blank"
          ><img
            src="https://cdn.staticneo.com/ew/thumb/5/58/Ce_308.jpg/326px-Ce_308.jpg"
            alt="Archipelago Sky"
          /></a
        >
      </div>

      <p>
        As we land the party will note how nice it feels here, but it seems
        there's Taryn cannons here so we can't fly with our Sky Armors. We can
        hover around though. That's good to know.
      </p>

      <p>
        From where we start you can go directly south to find a pier where you
        can find some items at the bottom. The house directly to the north has
        an item you can pick up. You can go right to find the <strong
          >fast travel crystal</strong
        >. From here get on your SA and start following the sea north. When you
        get to a fork go west to find a new enemy, the <strong>Sea Monk</strong
        >. These octopus enemies are a pain, mostly just due to how much HP they
        have. You normally find them in groups of 4 so kill them one by one.
        They also almost just use "Water Splash" to deal around 600 dmg. to a
        SA.
      </p>

      <p>
        From the fight go north to find a cave. Remember where it is because
        we'll be coming back here in a bit. From here head right and you'll find
        a waterfall to the north. Follow this northern wall east to find a chest
        with <strong>Demon Leather x3</strong> but most importantly a <strong
          >hidden cave</strong
        > to the north with <strong>Ancient Skull x7</strong> inside.
      </p>

      <div class="media-grid">
        <a
          href="https://www.neoseeker.com/chained-echoes/File:Ce_313.jpg"
          target="_blank"
          ><img
            src="https://cdn.staticneo.com/ew/thumb/7/7a/Ce_313.jpg/326px-Ce_313.jpg"
            alt="Hidden Cave Map"
          /></a
        >
        <a
          href="https://www.neoseeker.com/chained-echoes/File:Ce_312.jpg"
          target="_blank"
          ><img
            src="https://cdn.staticneo.com/ew/thumb/9/9b/Ce_312.jpg/326px-Ce_312.jpg"
            alt="Hidden Cave Entrance"
          /></a
        >
      </div>

      <p>
        Return to the waterfall, go south a bit to find a fork. From here follow
        the path to the right. As you start going down keep an eye on the right
        to find a <strong>buried treasure</strong> mark. This one is close. Head back
        north and you can find it near the corner (check image below). You'll get
        an <strong>ATK Up Crystal</strong> from it.
      </p>

      <div class="media-grid">
        <a
          href="https://www.neoseeker.com/chained-echoes/File:Ce_311.jpg"
          target="_blank"
          ><img
            src="https://cdn.staticneo.com/ew/thumb/7/74/Ce_311.jpg/326px-Ce_311.jpg"
            alt="Treasure Mark"
          /></a
        >
        <a
          href="https://www.neoseeker.com/chained-echoes/File:Ce_310.jpg"
          target="_blank"
          ><img
            src="https://cdn.staticneo.com/ew/thumb/9/9e/Ce_310.jpg/326px-Ce_310.jpg"
            alt="Treasure Location"
          /></a
        >
      </div>

      <p>
        Right above the mark is a hidden passage to the right where you can go
        north to find some <strong>crystal sources</strong>. Return to where we
        saw the mark and go south. You'll see that your SAs seem to fit between
        the trees. We can actually get off here.
      </p>

      <div class="media-container wide">
        <a
          href="https://www.neoseeker.com/chained-echoes/File:Ce_696.jpg"
          target="_blank"
          ><img
            src="https://cdn.staticneo.com/ew/thumb/d/d6/Ce_696.jpg/730px-Ce_696.jpg"
            alt="Getting off SA"
          /></a
        >
      </div>

      <p>
        Go to the south part of this watery area to find a chest with <strong
          >Water Belt</strong
        >.
      </p>

      <div class="media-container wide">
        <a
          href="https://www.neoseeker.com/chained-echoes/File:Ce_697.jpg"
          target="_blank"
          ><img
            src="https://cdn.staticneo.com/ew/thumb/1/18/Ce_697.jpg/730px-Ce_697.jpg"
            alt="Water Belt Chest"
          /></a
        >
      </div>

      <p>
        Return northwest to where the cave was and head inside. Follow it to be
        back outside. On the bottom left you can find another cave, but here you
        can't see where you're going so use the camera as indication. You want
        to go up a little it, then go west a little bit and as you go start
        trying going south. This will lead to the first cannons. Flip the switch
        to turn them off. Now we have 3 more to go.
      </p>

      <div class="media-container wide">
        <a
          href="https://www.neoseeker.com/chained-echoes/File:Ce_314.jpg"
          target="_blank"
          ><img
            src="https://cdn.staticneo.com/ew/thumb/0/0b/Ce_314.jpg/730px-Ce_314.jpg"
            alt="Cannon Switch"
          /></a
        >
      </div>

      <p>
        Head back up into the cave, go left some more, then down to exit the
        caves and head west into the next area. Here you'll find a lone house
        and a chest out here with <strong>2a</strong>... really? Head inside the
        house and through the room in the back to find... a cave? In here you
        can find another chest, this one with <strong>900a</strong>.
      </p>

      <p>
        Return to where we shut off the cannon and jump down the wall and go
        right to trigger some scenes. Here we'll meet a goat named <strong
          >Tomke</strong
        >. It seems he doesn't remember anything but you'll see him fighting a
        Boxfly and canning it.... then drinking it? Disgusting! We'll talk a bit
        more and then the sidequest itself will start. Nice!
      </p>

      <div class="tip-card">
        <p>
          <strong>NOTE:</strong> I highly suggest you explore this place then do the
          sidequest. Doing the sidequest will have Tomke join the party and he's a
          <strong>Blue Mage</strong> of sorts from Final Fantasy. He doesn't have
          stills of his own but he'll get skills from the enemies he cans and eats.
          Neat!
        </p>
      </div>

      <ul>
        <li>
          <a href={`${baseUrl}sidequests/the-food-the-chap-and-the-hungry`}
            >The Food, the Chap, and the Hungry</a
          >
        </li>
      </ul>

      <p>
        Go west now to the next area and speak to the person here named <strong
          >Tehlla</strong
        >. They'll end up joining the clan. Neat! This one is great because
        you'll be able to see directly from your inventory which enemy drops
        these items.
      </p>

      <div class="media-container wide">
        <a
          href="https://www.neoseeker.com/chained-echoes/File:Ce_316.jpg"
          target="_blank"
          ><img
            src="https://cdn.staticneo.com/ew/thumb/5/51/Ce_316.jpg/730px-Ce_316.jpg"
            alt="Tehlla"
          /></a
        >
      </div>

      <p>
        Get on your SA and head northwest. You'll find a cave you can go into.
      </p>

      <div class="media-container wide">
        <a
          href="https://www.neoseeker.com/chained-echoes/File:Ce_376.jpg"
          target="_blank"
          ><img
            src="https://cdn.staticneo.com/ew/thumb/0/08/Ce_376.jpg/730px-Ce_376.jpg"
            alt="Cave Entrance"
          /></a
        >
      </div>

      <p>
        Go inside and there's nothing in here. Do follow the path, get out of
        the water and follow the path east and around. This leads back outside
        where we can turn off another one of the cannons. Nice. You'll also note
        that there's a <strong>hidden cave</strong> here as well with <strong
          >1900a</strong
        > inside.
      </p>

      <div class="media-container wide">
        <a
          href="https://www.neoseeker.com/chained-echoes/File:Ce_512.jpg"
          target="_blank"
          ><img
            src="https://cdn.staticneo.com/ew/thumb/5/55/Ce_512.jpg/730px-Ce_512.jpg"
            alt="Second Cannon"
          /></a
        >
      </div>

      <p>
        Back down and outside go south from the cave to find an isle where you
        can find several <strong>crystal sources</strong> and a chest in the middle
        with <strong>Silence Resistance Crystal</strong>.
      </p>

      <div class="media-container wide">
        <a
          href="https://www.neoseeker.com/chained-echoes/File:Ce_317.jpg"
          target="_blank"
          ><img
            src="https://cdn.staticneo.com/ew/thumb/4/4e/Ce_317.jpg/730px-Ce_317.jpg"
            alt="Silence Resistance Crystal"
          /></a
        >
      </div>

      <p>
        Head south now to the next area. Here you can find a large isle that
        connects to a smaller one via a rope bridge that has another one of the
        cannons. Note that there's also a whirlpool near the southwestern corner
        that we can't do anything with.
      </p>

      <p>
        Back at the island, go to the southern part of it to find a metal chest
        on the beach out in the open with <strong>Glaive v200</strong> inside. If
        you haven't changed the weapons, this is an upgrade for Sienna's SA.
      </p>

      <div class="media-container wide">
        <a
          href="https://www.neoseeker.com/chained-echoes/File:Ce_318.jpg"
          target="_blank"
          ><img
            src="https://cdn.staticneo.com/ew/thumb/7/75/Ce_318.jpg/730px-Ce_318.jpg"
            alt="Glaive v200"
          /></a
        >
      </div>

      <p>
        Just north of here on the other side of the hill is an open area full or
        coral. Check in the middle to find a couple of <strong
          >buried treasure</strong
        > marks. Oh this is going to be fun. It's basically east from the left mark
        and southwest from the right mark. You'll get a <strong
          >Tank's RAM</strong
        > from it.
      </p>

      <div class="media-grid">
        <a
          href="https://www.neoseeker.com/chained-echoes/File:Ce_322.jpg"
          target="_blank"
          ><img
            src="https://cdn.staticneo.com/ew/thumb/c/cb/Ce_322.jpg/326px-Ce_322.jpg"
            alt="Treasure Map"
          /></a
        >
        <a
          href="https://www.neoseeker.com/chained-echoes/File:Ce_321.jpg"
          target="_blank"
          ><img
            src="https://cdn.staticneo.com/ew/thumb/4/4e/Ce_321.jpg/326px-Ce_321.jpg"
            alt="Digging Treasure"
          /></a
        >
      </div>

      <p>
        Now, on the northwestern side of this "coral forest" is a <strong
          >hidden cave</strong
        > with <strong>Demon Leather x6</strong> inside.
      </p>

      <div class="media-grid">
        <a
          href="https://www.neoseeker.com/chained-echoes/File:Ce_320.jpg"
          target="_blank"
          ><img
            src="https://cdn.staticneo.com/ew/thumb/5/5b/Ce_320.jpg/326px-Ce_320.jpg"
            alt="Coral Forest Cave 1"
          /></a
        >
        <a
          href="https://www.neoseeker.com/chained-echoes/File:Ce_319.jpg"
          target="_blank"
          ><img
            src="https://cdn.staticneo.com/ew/thumb/1/1b/Ce_319.jpg/326px-Ce_319.jpg"
            alt="Coral Forest Cave 2"
          /></a
        >
      </div>

      <p>
        On the northern shore of the island you can find a <strong
          >crystal source</strong
        > and a chest to the right of it with <strong>Exchange Parts</strong>.
        Return to the coral forest and enter the cave in the upper right side of
        it. This takes you to the area above.
      </p>

      <p>
        Up here grab the <strong>crystal source</strong> and go west across the rope
        bridge until you reach the cannon. Turn it off!
      </p>

      <div class="media-container wide">
        <a
          href="https://www.neoseeker.com/chained-echoes/File:Ce_323.jpg"
          target="_blank"
          ><img
            src="https://cdn.staticneo.com/ew/thumb/2/2c/Ce_323.jpg/730px-Ce_323.jpg"
            alt="Third Cannon"
          /></a
        >
      </div>

      <p>
        And that's all for this isle. There's a Class Emblem Statue on the
        southern side but we can't get to it until we can fly. Go east into the
        next area now.
      </p>

      <p>
        This area consists mostly of one large isle that connects to a smaller
        one, similar to the previous area. On the northwestern side of the
        island you can find a <strong>crystal source</strong>. You can also find
        a pier further right with nothing on it.
      </p>

      <p>
        Head south to find an enemy camp where we'll have to fight a couple of
        enemy Sky Armors. These guys are pretty easy and basically the same you
        fought back on the Aurora. Focus on the "Support Drone Wielder" first to
        have an easier time.
      </p>

      <p>
        Go around the building in the middle and on the western side there are 2
        paths going north. Go up the right side first to find another cannon at
        the end we can shut off. This should be our last one and we can now fly.
        It wasn't my last one so I continue on foot from here.
      </p>

      <div class="media-container wide">
        <a
          href="https://www.neoseeker.com/chained-echoes/File:Ce_324.jpg"
          target="_blank"
          ><img
            src="https://cdn.staticneo.com/ew/thumb/a/a6/Ce_324.jpg/730px-Ce_324.jpg"
            alt="Fourth Cannon"
          /></a
        >
      </div>

      <p>
        Return back down and go up the left path now. This has you go south down
        a wall Jump down and go inside the cave to find a chest with <strong
          >Dragon Mail</strong
        >. Excellent upgrade for Glenn. Continue following the path and at the
        fork go north to get back outside, but on higher ground.
      </p>

      <p>
        Out here notice that you can jump across the gap to the left. We'll do
        that in a bit. Instead head north to find a chest with <strong
          >Ancient Skull x2</strong
        > and further up a <strong>crystal source</strong>.
      </p>

      <p>
        Jump across the gap to the south now and follow this path until you
        cross a bridge and reach an open area with nothing it seems. There's a <strong
          >buried treasure</strong
        > here. Check directly west from the top mark to find it. This one gives you
        <strong>Fine Wool x2</strong>.
      </p>

      <div class="media-grid">
        <a
          href="https://www.neoseeker.com/chained-echoes/File:Ce_325.jpg"
          target="_blank"
          ><img
            src="https://cdn.staticneo.com/ew/thumb/3/39/Ce_325.jpg/326px-Ce_325.jpg"
            alt="Treasure Map 2"
          /></a
        >
        <a
          href="https://www.neoseeker.com/chained-echoes/File:Ce_326.jpg"
          target="_blank"
          ><img
            src="https://cdn.staticneo.com/ew/thumb/0/05/Ce_326.jpg/326px-Ce_326.jpg"
            alt="Digging Fine Wool"
          /></a
        >
      </div>

      <p>
        To the left is a platform with a trapdoor. Go inside and you'll be in a
        hallway with a Fishman at the end. It seems there's some sort of
        underwater village up ahead but he won't let us in. Hmm. Oh well. We at
        least know there's something here, right?
      </p>

      <p>
        Head back outside and go west to the other area. Remember the <strong
          >Class Emblem Statue</strong
        > we previously saw? It's on the southern part of the island and you need
        flying to get to it. Of course land here, save your game and it's time to
        prove we're worthy!
      </p>

      <div class="media-grid">
        <a
          href="https://www.neoseeker.com/chained-echoes/File:Ce_378.jpg"
          target="_blank"
          ><img
            src="https://cdn.staticneo.com/ew/thumb/3/3e/Ce_378.jpg/326px-Ce_378.jpg"
            alt="Statue Pre-Fight 1"
          /></a
        >
        <a
          href="https://www.neoseeker.com/chained-echoes/File:Ce_379.jpg"
          target="_blank"
          ><img
            src="https://cdn.staticneo.com/ew/thumb/9/99/Ce_379.jpg/326px-Ce_379.jpg"
            alt="Statue Pre-Fight 2"
          /></a
        >
      </div>

      <div class="boss-fight-card">
        <h4 class="boss-title">CLASS EMBLEM CHALLENGE: SUMMONER</h4>
        <p>
          This is a pretty crazy fight, especially because we're fighting a
          whopping 10 enemies at the same time. I'm not kidding! We're fighting
          10 Adamant Crabs. These guys don't do much damage on their own (around
          30 dmg. per attack) but they also have a water spell that hits
          everyone for about the same. Of course I feel like luck is a big
          factor in this fight due to that. If they all decide to use it at one
          after the other you're dead.
        </p>

        <p>
          For this fight I highly suggest you have 2 characters with Heal All
          just in case one is not enough. I had both Victor and Lenne with it
          and I did good. This is also good because having Victor buff you in
          both attacks and defenses is a must. I also recommend using Nukitsuke
          with Sienna (if you have it). This raises crit rate by 15%. You want
          to use as soon as you start Glenn's Ultra Move to lower their attack.
          This will help you out big time. And like I've said throughout the
          entire game, use single target attacks. They're stronger and the
          faster you kill them the less damage you take and less heals you need.
        </p>

        <p>
          Of course, having Victor and Lenne healing is their job mostly, but
          your other characters also want to keep an eye on that OD gauge. Being
          that there are 10 enemies it's going to fill up pretty quickly. Use
          items if you need to keep it down. Also, if you already have Tomke as
          a party member (the goat we met at the start of the area) make sure to
          have him eat one of the crabs to learn a new skill.
        </p>

        <p>
          After the fight we'll get <strong>Leanna the Summoner</strong>, the <strong
            >Summoner Class Emblem</strong
          >. This one is pretty good. It gives the character a huge boost in TP,
          with some MAG and MIND in the mix. Pretty good for both Lenne and
          Victor (and some other characters in the future. For skills, it has a
          skill that hits for either fire or wind, and another for either earth
          or water. Pretty neat. The passives are also great, increase TP and
          increase damage against ether enemies.
        </p>
      </div>

      <div class="media-container wide">
        <a
          href="https://www.neoseeker.com/chained-echoes/File:Ce_380.jpg"
          target="_blank"
          ><img
            src="https://cdn.staticneo.com/ew/thumb/3/35/Ce_380.jpg/730px-Ce_380.jpg"
            alt="Summoner Class Emblem"
          /></a
        >
      </div>

      <p>
        And one last thing now that we can fly, head back to the northwestern
        area (where the cave in the water is) and look to the right of the
        cannon to find a metal chest. This one has <strong
          >Support Drones D200</strong
        >.
      </p>

      <div class="media-container wide">
        <a
          href="https://www.neoseeker.com/chained-echoes/File:Ce_381.jpg"
          target="_blank"
          ><img
            src="https://cdn.staticneo.com/ew/thumb/b/b7/Ce_381.jpg/730px-Ce_381.jpg"
            alt="Support Drones D200"
          /></a
        >
      </div>

      <p>
        Go right from here and you'll find a golden chest, this one has a <strong
          >Soul of Farnese</strong
        >.
      </p>

      <div class="media-container wide">
        <a
          href="https://www.neoseeker.com/chained-echoes/File:Ce_382.jpg"
          target="_blank"
          ><img
            src="https://cdn.staticneo.com/ew/thumb/d/d5/Ce_382.jpg/730px-Ce_382.jpg"
            alt="Soul of Farnese"
          /></a
        >
      </div>

      <p>And that about wraps up what we can do in this place!</p>
      <p>
        Now it's time to go back to New Wyrnshire. This place is located just
        northwest of your island.
      </p>

      <div class="media-container wide">
        <a
          href="https://www.neoseeker.com/chained-echoes/File:Ce_333.jpg"
          target="_blank"
          ><img
            src="https://cdn.staticneo.com/ew/thumb/2/29/Ce_333.jpg/730px-Ce_333.jpg"
            alt="New Wyrnshire Location"
          /></a
        >
      </div>
    </div>
  </section>

  <!-- INSERT_PART_2 -->

  <section id="fiorwoods" class="walkthrough-section">
    <h2 class="section-title">Fiorwoods</h2>
    <div class="step-content">
      <p>
        As we land here we'll be right in the middle of the map. Go ahead and
        fast travel to the crystal outside the city and head west. At this point
        you should be able to take out these Forest Wyrms. These guys hit for
        around 70 dmg. to one person. If you don't want to fight them take the
        southwestern exit inside Tormund to reach the rafters in the Fiorwoods.
        Continue after the image above if you do this.
      </p>

      <p>
        Go ahead and kill this Forest Wyrm and head west to find 2 more Forest
        Wyrms. These are a bit harder of course because they're 2, but still
        very doable. Follow the path past them to reach a fork. Go southwest and
        you'll reach a new area, which I don't know what it is. We don't have a
        map for it nor a location but there's a chest here with <strong
          >Healing Belt</strong
        >. We'll have to find another way into this place.
      </p>

      <div class="media-container wide">
        <a
          href="https://www.neoseeker.com/chained-echoes/File:Ce_344.jpg"
          target="_blank"
          ><img
            src="https://cdn.staticneo.com/ew/thumb/7/75/Ce_344.jpg/730px-Ce_344.jpg"
            alt="Fiorwoods Unmapped Area"
          /></a
        >
      </div>

      <p>
        Return to the fork and go east now to find a way up the rafters. If you
        go north at the fork here you'll enter Tormund. There's nothing we need
        to do here but it's good to know we can get up here without the need of
        fighting the Forest Wyrms. Go east at the fork and east at the next one
        to find 2 <strong>crystal sources</strong> and a chest with <strong
          >Meal x2</strong
        >.
      </p>

      <div class="media-container wide">
        <a
          href="https://www.neoseeker.com/chained-echoes/File:Ce_345.jpg"
          target="_blank"
          ><img
            src="https://cdn.staticneo.com/ew/thumb/f/f7/Ce_345.jpg/730px-Ce_345.jpg"
            alt="Fiorwoods Meal Chest"
          /></a
        >
      </div>

      <p>
        Head south now to find another fork and an adventurer. He gives you some
        hints for the Unique Monsters in the Fiorwoods:
      </p>
      <ul>
        <li>
          Some kids were playing in the center of the Fiorwoods. They were
          chasing each other around a group of trees and the monster appeared.
        </li>
        <li>
          Best friend with a turtle. Kill the turtle and don't leave the forest
          for it to take revenge. It'll appear on these wooden bridges to the
          west.
        </li>
      </ul>

      <p>
        From here go east for a <strong>crystal source</strong> and a chest at the
        end with <strong>Chain Mail</strong>. Return and head south now to
        another fork. Head south into the next area.
      </p>

      <p>
        At the first fork here head east and go down the stairs. This is the
        large area where we first saw the Forest Wyrms many hours ago. At the
        bottom of the stairs is a fork. Go south down the wall first, kill the
        pair of Forest Wyrms and open the chest they were guarding for <strong
          >Platinum Ore x3</strong
        >.
      </p>

      <div class="media-container wide">
        <a
          href="https://www.neoseeker.com/chained-echoes/File:Ce_346.jpg"
          target="_blank"
          ><img
            src="https://cdn.staticneo.com/ew/thumb/9/90/Ce_346.jpg/730px-Ce_346.jpg"
            alt="Fiorwoods Platinum Ore"
          /></a
        >
      </div>

      <p>
        To the left of here is the open area. Return up the wall and go west
        this time for another couple of Forest Wyrms. Past them, as you go west
        you'll see a cave but go past it first to find a chest with <strong
          >Ancient Skull x4</strong
        >. Go inside the cave now.
      </p>

      <div class="media-container wide">
        <a
          href="https://www.neoseeker.com/chained-echoes/File:Ce_347.jpg"
          target="_blank"
          ><img
            src="https://cdn.staticneo.com/ew/thumb/6/62/Ce_347.jpg/730px-Ce_347.jpg"
            alt="Fiorwoods Cave Entrance"
          /></a
        >
      </div>

      <p>
        While in here follow the tunnel and enter the first room to find a
        lever. Flip it. Remember we were in these same tunnels and also flipped
        a lever back in Rohlan Fields? Yeah, these are for a sidequest we'll do
        in a bit. There's nothing else in here so go ahead and leave.
      </p>

      <p>
        Return to the fork on the wooden rafters and head south grabbing the <strong
          >crystal sources</strong
        > as you go and you'll reach the southern fork. Going west leads back to the
        northern area. There's only one <strong>crystal source</strong> so go grab
        it if you want but go south into the next area, grabbing that <strong
          >fast travel crystal</strong
        > on the way.
      </p>

      <p>
        As we start this area go west first to find a chest with <strong
          >1900a</strong
        >. Head east now, grab the <strong>crystal source</strong> from the corner
        and as you go south you'll spot a bridge going west. You can follow it to
        find a little isle with a house. There's nothing here but it looks like the
        house was attacked by something. Continue following the path outside and we'll
        reach a fork. Go north to get a chest with <strong>Raincoat</strong> then
        head west to find a dead end.
      </p>

      <p>
        There's a boat here that we can't use so I guess that'll be it for the
        Fiorwoods. You'll want to board your ship and head southwest and enter <strong
          >Mount Rydell</strong
        >.
      </p>
    </div>
  </section>

  <section id="mount-rydell" class="walkthrough-section">
    <h2 class="section-title">Mount Rydell</h2>
    <div class="step-content">
      <p>
        As soon as you land you'll see a frozen monk where you fought the Kondor
        boss. Go ahead and talk to him... he's still alive? We wanted to take
        him back as a statue of some sort haha. Anyway, he'll end up joining our
        clan which is really nice. He's cool because we get a 50% chance after
        every fight to get additional SP. Neat!
      </p>

      <div class="media-container wide">
        <a
          href="https://www.neoseeker.com/chained-echoes/File:Ce_349.jpg"
          target="_blank"
          ><img
            src="https://cdn.staticneo.com/ew/thumb/8/80/Ce_349.jpg/730px-Ce_349.jpg"
            alt="Recruiting the Monk"
          /></a
        >
      </div>

      <p>
        Now let's head on over to Kortara Mountain Range. Go ahead and land in <strong
          >Rockbottom</strong
        >.
      </p>
    </div>
  </section>

  <section id="kortara-mountain-range" class="walkthrough-section">
    <h2 class="section-title">Kortara Mountain Range</h2>
    <div class="step-content">
      <p>
        As we land we'll be where the anvil and crystal are. We want to go up
        this building but before we do that head east across the bridge and
        enter the house to the north. Remember the woman that wanted us to take
        lunch to her hubby in the tunnels? Well, they are here fighting and end
        up getting divorced... but she signed with a fake name so they're
        technically not married. Wow what a b... ahem. Anyway the guy, <strong
          >Bernd</strong
        > will end up joining our clan which is pretty nice.
      </p>

      <div class="tip-card">
        <p>
          <strong>NOTE:</strong> you take lunch to the hubby once as part of getting
          through here as Sienna. We came here later and we could do it again. I said
          to do it if you wanted to but I did it. I don't know if you have to give
          the lunch to the miner twice in order to have him join, or if once is just
          ok. If anyone can confirm this I'd appreciate it!
        </p>
      </div>

      <div class="media-container wide">
        <a
          href="https://www.neoseeker.com/chained-echoes/File:Ce_372.jpg"
          target="_blank"
          ><img
            src="https://cdn.staticneo.com/ew/thumb/d/d9/Ce_372.jpg/730px-Ce_372.jpg"
            alt="Recruiting Bernd"
          /></a
        >
      </div>

      <p>
        Return west and go up the building now. Head to the top and exit the
        building. Outside go east up the stairs and exit the town via the
        northern exit (which previously with Sienna was blocked). <strong
          >BEFORE</strong
        > you leave the area though open your map and you'll see there's a little
        patch of area going west.
      </p>

      <div class="media-container wide">
        <a
          href="https://www.neoseeker.com/chained-echoes/File:Ce_350.jpg"
          target="_blank"
          ><img
            src="https://cdn.staticneo.com/ew/thumb/f/f5/Ce_350.jpg/730px-Ce_350.jpg"
            alt="Kortara Patch West"
          /></a
        >
      </div>

      <p>
        Go in between the trees to find a bunch of crabs...? What are they doing
        here? More importantly though, there's a <strong
          >Class Emblem Statue</strong
        > here. Time to prove ourselves.
      </p>

      <div class="media-grid">
        <a
          href="https://www.neoseeker.com/chained-echoes/File:Ce_353.jpg"
          target="_blank"
          ><img
            src="https://cdn.staticneo.com/ew/thumb/6/63/Ce_353.jpg/326px-Ce_353.jpg"
            alt="Crabs Area"
          /></a
        >
        <a
          href="https://www.neoseeker.com/chained-echoes/File:Ce_351.jpg"
          target="_blank"
          ><img
            src="https://cdn.staticneo.com/ew/thumb/5/51/Ce_351.jpg/326px-Ce_351.jpg"
            alt="Statue Fight Area"
          /></a
        >
      </div>

      <div class="boss-fight-card">
        <h4 class="boss-title">CLASS EMBLEM CHALLENGE: BANDIT</h4>
        <p>
          We are to fight 4 <strong>Terror Terriers</strong>, which look like
          mechanical dogs. Kind of remind me of the AIBO robot dog from like 20
          years ago haha. Anyway, these guys aren't that dangerous BUT they do
          have an attack called <strong>Amok Run</strong> where they shoot missiles
          from their back and hit everyone (including all the enemies) for 30 dmg.
          flat on the party and 50 dmg. flat on each enemy. This can be dangerous
          if they decide to use it at the same time one after the other. Make sure
          to have a Heal All ready for this! They also have their regular attack that
          hits for around 40 dmg. to one character.
        </p>
        <p>
          After the fight we'll get <strong>Hera the Bandit</strong>, the <strong
            >Bandit Class Emblem</strong
          >. Can you guess who's to benefit from this one? Well stat-wise Sienna
          loves this one. Gives you a small boost in both ATK and HP but gives a
          bigger AGI and CRIT boost. My Sienna already has pretty high CRIT so
          giving her some more is not a bad idea.
        </p>
        <p>
          This class emblem also lets you teach other party members how to
          steal. Sadly only Sienna has the 100% chance of stealing but having
          other party members learn it is not so bad. Its passives are great as
          well. Increased AGI and a chance to poison the enemy when attacked is
          great. Poison is horrible (literally) so having a chance to inflict it
          passively is great.
        </p>
      </div>

      <div class="media-container wide">
        <a
          href="https://www.neoseeker.com/chained-echoes/File:Ce_352.jpg"
          target="_blank"
          ><img
            src="https://cdn.staticneo.com/ew/thumb/a/a4/Ce_352.jpg/730px-Ce_352.jpg"
            alt="Bandit Emblem"
          /></a
        >
      </div>

      <p>And with that, move north into the next area.</p>

      <p>
        Once here we'll do a quick sweep of the items you can find. I'll give
        you a rough estimate since we now have the SA and we can fly all over
        the place. On the southwestern side of the area (near the exit to the
        next area) is a <strong>crystal source</strong>. Head to the large
        floating island on the northeastern corner of the area to find a chest
        near the center. You'll need to go around in the crystal maze. The
        entrance is on the southwestern side and just go around counterclockwise
        to reach the chest that has <strong>Treasurer RAM</strong>.
      </p>

      <div class="media-grid">
        <a
          href="https://www.neoseeker.com/chained-echoes/File:Ce_354.jpg"
          target="_blank"
          ><img
            src="https://cdn.staticneo.com/ew/thumb/f/f9/Ce_354.jpg/326px-Ce_354.jpg"
            alt="Crystal Maze Start"
          /></a
        >
        <a
          href="https://www.neoseeker.com/chained-echoes/File:Ce_355.jpg"
          target="_blank"
          ><img
            src="https://cdn.staticneo.com/ew/thumb/e/ec/Ce_355.jpg/326px-Ce_355.jpg"
            alt="Treasurer RAM Chest"
          /></a
        >
      </div>

      <p>
        You can also find an adventurer here... how did he get here? Anyway,
        talking to him till net you some clues for the Unique Monsters.
      </p>
      <ul>
        <li>When you land on an island in the valley you get attacked.</li>
        <li>
          Kill a lot of waterfly enemies to have the mother appear and look for
          you. She's often seen on the highest peak on the north of Kortara.
        </li>
      </ul>

      <p>
        Fly south of that island to find a strange old man and an <strong
          >Android RAM</strong
        > east of him.
      </p>

      <p>
        Go ahead and enter the center area of Kortara. We can now unlock this
        area in our map. Here you can find a <strong>crystal source</strong> in the
        northwestern corner and another on the southwestern corner near the exit south.
        In this area, there is a new enemy named <strong>Alphoarn</strong>, and
        Tomke can learn a new enemy skill from it. There's also the camp of the
        bandits we saw in Rockbottom when playing as Sienna. Looks like they
        left the town and came here. Sadly we cannot approach the area (we get
        kicked out).
      </p>

      <p>
        Exit this area to the south and remember this area? It's where the army
        was before the bridge was blown to pieces. Well the army is of course
        gone but you can open the metal chests in the upper left corner of the
        camp to find <strong>Biologist RAM</strong> and <strong
          >Mage's RAM</strong
        > inside. There's also a pair of <strong>crystal sources</strong> to the southwest.
      </p>

      <div class="media-container wide">
        <a
          href="https://www.neoseeker.com/chained-echoes/File:Ce_356.jpg"
          target="_blank"
          ><img
            src="https://cdn.staticneo.com/ew/thumb/a/a6/Ce_356.jpg/730px-Ce_356.jpg"
            alt="Biologist and Mage RAM"
          /></a
        >
      </div>

      <p>
        If you check east of the crystal sources you'll find the 2 marks for the <strong
          >buried treasure</strong
        >. This one is practically in between them. It has <strong>7009a</strong
        >.
      </p>

      <div class="media-grid">
        <a
          href="https://www.neoseeker.com/chained-echoes/File:Ce_358.jpg"
          target="_blank"
          ><img
            src="https://cdn.staticneo.com/ew/thumb/7/7e/Ce_358.jpg/326px-Ce_358.jpg"
            alt="Marks for Treasure"
          /></a
        >
        <a
          href="https://www.neoseeker.com/chained-echoes/File:Ce_357.jpg"
          target="_blank"
          ><img
            src="https://cdn.staticneo.com/ew/thumb/0/01/Ce_357.jpg/326px-Ce_357.jpg"
            alt="Digging 7009a"
          /></a
        >
      </div>

      <p>
        In the southwestern map, there's a chest containing <strong
          >SP Up RAM</strong
        > near the middle.
      </p>

      <p>
        That's about all we can do here in Kortara. We cannot go north from
        Flandern for some reason and it's the last area to explore. Oh well,
        we'll come back later! For now get on your ship and it's time to go to
        my most dreaded area, <strong>Perpetua Flower Fields</strong>. See you
        there.
      </p>
    </div>
  </section>

  <section id="perpetua-flower-fields" class="walkthrough-section">
    <h2 class="section-title">Perpetua Flower Fields</h2>
    <div class="step-content">
      <p>
        There's a ton to explore here. Don't worry, most of the southern area is
        empty so that's good at least. From where we start (right outside the
        forest that takes us to the lighthouse) head north into the forest and
        follow the path north as if you were going to the lighthouse. When you
        reach the area where we set up camp a scene will play and we'll end up
        having <strong>Pignon</strong> joining the clan. She'll open an onsen once
        we reach certain clan rank.
      </p>

      <div class="media-container wide">
        <a
          href="https://www.neoseeker.com/chained-echoes/File:Ce_371.jpg"
          target="_blank"
          ><img
            src="https://cdn.staticneo.com/ew/thumb/1/15/Ce_371.jpg/730px-Ce_371.jpg"
            alt="Recruiting Pignon"
          /></a
        >
      </div>

      <p>
        Head back south outside and from the quick travel crystal, go east to
        find a chest containing <strong>Passive RAM</strong>.
      </p>

      <p>
        Now we can fly east into the next area. Here there's not much we can
        really do. We can't get off our SA but on the southern side and run
        north. Sadly those huge black Yak enemies are WAY too strong for us.
        It's possible to beat a single one if you grinded proficiencies enough,
        but more than one is too much at this point. There is ONE thing we can
        do though. Open your map and do you see the piece of land in the middle?
        You can land on the northern side where the red tree is. Land here,
        climb down the wall go open the chest for <strong>Sacred Water</strong>.
        Always welcome.
      </p>

      <div class="media-grid">
        <a
          href="https://www.neoseeker.com/chained-echoes/File:Ce_391.jpg"
          target="_blank"
          ><img
            src="https://cdn.staticneo.com/ew/thumb/e/ed/Ce_391.jpg/326px-Ce_391.jpg"
            alt="Landing for Sacred Water"
          /></a
        >
        <a
          href="https://www.neoseeker.com/chained-echoes/File:Ce_392.jpg"
          target="_blank"
          ><img
            src="https://cdn.staticneo.com/ew/thumb/9/98/Ce_392.jpg/326px-Ce_392.jpg"
            alt="Sacred Water Chest"
          /></a
        >
      </div>

      <p>
        Ignore the rest of the area for now and head south into the next one.
      </p>

      <p>
        Here we have a little desert. Again not much going on but going south
        you can find a camp with some scientists. To the east is a <strong
          >crystal source</strong
        > and to the south is a building, which the scientists say it's a church and
        it's the only thing to survive the explosion as if nothing happened. Divine
        protection? Go to the southeastern corner from here to find a metal chest
        with <strong>Offensive Drones O200</strong>.
      </p>

      <div class="media-container wide">
        <a
          href="https://www.neoseeker.com/chained-echoes/File:Ce_388.jpg"
          target="_blank"
          ><img
            src="https://cdn.staticneo.com/ew/thumb/c/c6/Ce_388.jpg/730px-Ce_388.jpg"
            alt="Offensive Drones O200"
          /></a
        >
      </div>

      <p>
        Anyway, to the northwest you can find a rock with one of those blue tree
        mushrooms and next to it a <strong>buried treasure</strong> mark.
      </p>

      <div class="media-container wide">
        <a
          href="https://www.neoseeker.com/chained-echoes/File:Ce_385.jpg"
          target="_blank"
          ><img
            src="https://cdn.staticneo.com/ew/thumb/8/85/Ce_385.jpg/730px-Ce_385.jpg"
            alt="Treasure Mark 1"
          /></a
        >
      </div>

      <p>
        If you follow this northeast you'll find another rock with the second
        mark next to it. Go a little to the left of this rock (near the top) to
        find the treasure. It's <strong>Guarding RAM</strong>.
      </p>

      <div class="media-grid">
        <a
          href="https://www.neoseeker.com/chained-echoes/File:Ce_386.jpg"
          target="_blank"
          ><img
            src="https://cdn.staticneo.com/ew/thumb/1/1e/Ce_386.jpg/326px-Ce_386.jpg"
            alt="Treasure Mark 2"
          /></a
        >
        <a
          href="https://www.neoseeker.com/chained-echoes/File:Ce_387.jpg"
          target="_blank"
          ><img
            src="https://cdn.staticneo.com/ew/thumb/c/ce/Ce_387.jpg/326px-Ce_387.jpg"
            alt="Digging Guarding RAM"
          /></a
        >
      </div>

      <p>
        Go west now into the next area. On the northern side you can find an
        adventurer who gives us hits for the Unique Monsters of this area:
      </p>
      <ul>
        <li>
          You can find the monster in front of some cave in the southwestern
          corner of Perpetua.
        </li>
        <li>Suspicious sand swirls in the southeastern corner of Perpetua.</li>
      </ul>

      <p>
        Open your map and directly south of you is a piece of land that looks
        like a <strong>C</strong>. Head down there to find a <strong
          >crystal source</strong
        > and more importantly a <strong>hidden cave</strong> with <strong
          >Koncerz</strong
        > inside, a weapon for Victor.
      </p>

      <div class="media-grid">
        <a
          href="https://www.neoseeker.com/chained-echoes/File:Ce_655.jpg"
          target="_blank"
          ><img
            src="https://cdn.staticneo.com/ew/thumb/4/47/Ce_655.jpg/326px-Ce_655.jpg"
            alt="C Shaped Area"
          /></a
        >
        <a
          href="https://www.neoseeker.com/chained-echoes/File:Ce_656.jpg"
          target="_blank"
          ><img
            src="https://cdn.staticneo.com/ew/thumb/c/c7/Ce_656.jpg/326px-Ce_656.jpg"
            alt="Hidden Cave Entrance Koncerz"
          /></a
        >
      </div>

      <p>
        If you go to the southwestern corner of the area you'll be able to spot
        a metal chest with <strong>Elemental Canon M200</strong>.
      </p>

      <div class="media-container wide">
        <a
          href="https://www.neoseeker.com/chained-echoes/File:Ce_360.jpg"
          target="_blank"
          ><img
            src="https://cdn.staticneo.com/ew/thumb/0/0b/Ce_360.jpg/730px-Ce_360.jpg"
            alt="Elemental Canon M200"
          /></a
        >
      </div>

      <p>
        You'll notice that there's an arrow made out of rocks pointing
        northeast. Follow this arrow and it'll take you to a large <strong
          >X</strong
        > on the ground (made out of dirt). Check the center of it to find a <strong
          >Soul of Farnese</strong
        >. Neat.
      </p>

      <div class="media-grid">
        <a
          href="https://www.neoseeker.com/chained-echoes/File:Ce_362.jpg"
          target="_blank"
          ><img
            src="https://cdn.staticneo.com/ew/thumb/5/50/Ce_362.jpg/326px-Ce_362.jpg"
            alt="Rock Arrow"
          /></a
        >
        <a
          href="https://www.neoseeker.com/chained-echoes/File:Ce_361.jpg"
          target="_blank"
          ><img
            src="https://cdn.staticneo.com/ew/thumb/9/99/Ce_361.jpg/326px-Ce_361.jpg"
            alt="X Marks the Spot"
          /></a
        >
      </div>

      <p>
        That's about it for this area. Go to the northwestern corner of the area
        to find some <strong>crystal sources</strong>, but after that head west
        into the next area.
      </p>

      <p>
        This here is a puzzle that has us going all over this area. We'll need
        to be making mushroom bridges and whatnot so read closely because it can
        be confusing. From the start get on your SA and simply fly directly
        south to find a chest with <strong>Tough Rips x7</strong>.
      </p>

      <div class="media-container wide">
        <a
          href="https://www.neoseeker.com/chained-echoes/File:Ce_363.jpg"
          target="_blank"
          ><img
            src="https://cdn.staticneo.com/ew/thumb/8/89/Ce_363.jpg/730px-Ce_363.jpg"
            alt="Tough Rips x7"
          /></a
        >
      </div>

      <p>
        Return back north, cross the bridge and place some liquid on the fungus
        to create your first mushroom bridge. Follow this bridge and in the next
        isle go south, place a drop on the fungus on the left and go south to
        another mushroom bridge. Follow this bridge to the far south and place a
        drop on the fungus at the end.
      </p>

      <p>
        Return to the mushroom bridge and as you start going north you'll see
        there's a new path on the right going south.
      </p>

      <div class="media-container wide">
        <a
          href="https://www.neoseeker.com/chained-echoes/File:Ce_364.jpg"
          target="_blank"
          ><img
            src="https://cdn.staticneo.com/ew/thumb/7/7f/Ce_364.jpg/730px-Ce_364.jpg"
            alt="Mushroom Bridge Split"
          /></a
        >
      </div>

      <p>
        Follow it and place a drop on the fungus at the end. This connects this
        little isle to the one to the left but also creates a mushroom bridge to
        the left. There's nothing for us if we follow it right now so ignore it
        for now, return north to where we started so you can board your SA and
        now fly to the bottom middle of the area, to a little isle with a red
        tree.
      </p>

      <div class="media-container wide">
        <a
          href="https://www.neoseeker.com/chained-echoes/File:Ce_365.jpg"
          target="_blank"
          ><img
            src="https://cdn.staticneo.com/ew/thumb/8/8f/Ce_365.jpg/730px-Ce_365.jpg"
            alt="Red Tree Isle"
          /></a
        >
      </div>

      <p>
        Go ahead and place a drop on the fungus here and it connects the
        mushroom bridge above. Nice. Now, while hovering go east on the water
        and north. Keep your eyes on the right side to find a chest with <strong
          >Giant's Hide x8</strong
        > inside.
      </p>

      <div class="media-container wide">
        <a
          href="https://www.neoseeker.com/chained-echoes/File:Ce_366.jpg"
          target="_blank"
          ><img
            src="https://cdn.staticneo.com/ew/thumb/0/00/Ce_366.jpg/730px-Ce_366.jpg"
            alt="Giant's Hide x8"
          /></a
        >
      </div>

      <p>
        Return to the isle with the red tree and now go west until you hit the
        edge then go north. You'll be in between 2 isles: the left one has a
        cave. You can get on the right isle and get off your SA here.
      </p>

      <div class="media-container wide">
        <a
          href="https://www.neoseeker.com/chained-echoes/File:Ce_367.jpg"
          target="_blank"
          ><img
            src="https://cdn.staticneo.com/ew/thumb/2/2e/Ce_367.jpg/730px-Ce_367.jpg"
            alt="West Landing"
          /></a
        >
      </div>

      <p>
        Once you do head south and place a drop on the fungus. Now go east
        across the mushroom bridge and place another drop on the other fungus.
        Return to where you got off the SA and you can now cross the water and
        go into the cave. Do so and it leads to that isle to the east that has a
        fungus. Place a drop on in.
      </p>

      <div class="media-container wide">
        <a
          href="https://www.neoseeker.com/chained-echoes/File:Ce_368.jpg"
          target="_blank"
          ><img
            src="https://cdn.staticneo.com/ew/thumb/d/df/Ce_368.jpg/730px-Ce_368.jpg"
            alt="Fungus Drop"
          /></a
        >
      </div>

      <p>
        And with that head back through the cave and go back south to the isle
        with the red tree. From here we can now go north following the really
        long mushroom bridge we created to reach the golden chest that has
        another <strong>Soul of Farnese</strong>.
      </p>

      <div class="media-container wide">
        <a
          href="https://www.neoseeker.com/chained-echoes/File:Ce_369.jpg"
          target="_blank"
          ><img
            src="https://cdn.staticneo.com/ew/thumb/a/a7/Ce_369.jpg/730px-Ce_369.jpg"
            alt="Soul of Farnese Chest"
          /></a
        >
      </div>

      <p>
        Before we leave this area get on your SA and check the northeastern
        corner of this area to find a cave. Head inside and follow the tunnel to
        find a lever. This is the third one we find! It'll make sense once we
        start a sidequest after the next main quest.
      </p>

      <div class="media-grid">
        <a
          href="https://www.neoseeker.com/chained-echoes/File:Ce_427.jpg"
          target="_blank"
          ><img
            src="https://cdn.staticneo.com/ew/thumb/1/19/Ce_427.jpg/326px-Ce_427.jpg"
            alt="Cave Entrance Lever"
          /></a
        >
        <a
          href="https://www.neoseeker.com/chained-echoes/File:Ce_424.jpg"
          target="_blank"
          ><img
            src="https://cdn.staticneo.com/ew/thumb/b/be/Ce_424.jpg/326px-Ce_424.jpg"
            alt="Lever"
          /></a
        >
      </div>

      <p>
        Exit the cave and go north into the next area. You should be able to
        spot a metal chest here with <strong>Status Resist I RAM</strong>. If
        you haven't done so already, land where the barrier used to be and take
        the mushroom path to the south. This leads to an island on the center
        map containing <strong>750a</strong>.
      </p>

      <div class="media-grid">
        <a
          href="https://www.neoseeker.com/chained-echoes/File:Ce_426.jpg"
          target="_blank"
          ><img
            src="https://cdn.staticneo.com/ew/thumb/8/8f/Ce_426.jpg/326px-Ce_426.jpg"
            alt="Barrier Gone"
          /></a
        >
        <a
          href="https://www.neoseeker.com/chained-echoes/File:Ce_425.jpg"
          target="_blank"
          ><img
            src="https://cdn.staticneo.com/ew/thumb/d/d6/Ce_425.jpg/326px-Ce_425.jpg"
            alt="750a"
          /></a
        >
      </div>

      <p>And that's about it! Time to head on to Farnsport.</p>
    </div>
  </section>

  <section id="farnsport" class="walkthrough-section">
    <h2 class="section-title">Farnsport</h2>
    <div class="step-content">
      <p>
        As you land go east into the next area, then go north and go speak to
        the blacksmith we met hours ago, <strong>Deimsch</strong>. After a
        little talk him and his wife will leave this place and join the clan.
        Neat. We can now upgrade our stuff in the base.
      </p>

      <div class="media-container wide">
        <a
          href="https://www.neoseeker.com/chained-echoes/File:Ce_375.jpg"
          target="_blank"
          ><img
            src="https://cdn.staticneo.com/ew/thumb/0/04/Ce_375.jpg/730px-Ce_375.jpg"
            alt="Recruiting Deimsch"
          /></a
        >
      </div>

      <p>Now go ahead and exit out to Rohlan Fields.</p>
    </div>
  </section>

  <section id="rohlan-fields" class="walkthrough-section">
    <h2 class="section-title">Rohlan Fields</h2>
    <div class="step-content">
      <p>
        There's a couple of things to do here. Near the western exit (the one
        near the bottom of the map) you can find a metal chest on a ledge
        overlooking the water with <strong>All Out RAM</strong> inside.
      </p>

      <div class="media-container wide">
        <a
          href="https://www.neoseeker.com/chained-echoes/File:Ce_395.jpg"
          target="_blank"
          ><img
            src="https://cdn.staticneo.com/ew/thumb/6/6b/Ce_395.jpg/730px-Ce_395.jpg"
            alt="All Out RAM"
          /></a
        >
      </div>

      <p>
        Open your map and look to the area to the west. You see there's an isle
        at the bottom, directly to the right of the name "Seaside Village"? Head
        on over there to find a lone metal chest with <strong
          >4 Element Resist RAM</strong
        >.
      </p>

      <div class="media-container wide">
        <a
          href="https://www.neoseeker.com/chained-echoes/File:Ce_394.jpg"
          target="_blank"
          ><img
            src="https://cdn.staticneo.com/ew/thumb/5/58/Ce_394.jpg/730px-Ce_394.jpg"
            alt="4 Element Resist RAM"
          /></a
        >
      </div>

      <p>
        Now open your map and locate the lake to the north. See that island in
        the middle? Fly over there to find a mansion on it. We can't enter the
        mansion right now but check the right side to find a little isle that
        has a metal chest with <strong>Attacker's RAM</strong> in it.
      </p>

      <div class="media-container wide">
        <a
          href="https://www.neoseeker.com/chained-echoes/File:Ce_393.jpg"
          target="_blank"
          ><img
            src="https://cdn.staticneo.com/ew/thumb/5/53/Ce_393.jpg/730px-Ce_393.jpg"
            alt="Attacker's RAM"
          /></a
        >
      </div>

      <p>
        There's also a cave behind the waterfall to the north of the house but
        I'll cover that in the sidequest where it belongs. We'll get it in an
        hour or so. And that's pretty much it for world exploration! We are
        going to Basil to continue with the main quest. See you there!
      </p>



      <NextSteps />
    </div>
  </section>
</WalkthroughLayout>

<style>
  .story-blurb {
    background: rgba(21, 24, 33, 0.6);
    border-left: 4px solid var(--accent-gold);
    padding: 2.5rem;
    margin-bottom: 2rem;
    font-style: italic;
    font-size: 1.1rem;
    color: var(--text-muted);
  }

  .walkthrough-section {
    margin-bottom: 5rem;
    scroll-margin-top: 2rem;
  }

  .section-title {
    font-size: 2.2rem;
    color: var(--accent-gold);
    border-bottom: 2px solid var(--border-color);
    padding-bottom: 0.5rem;
    margin-bottom: 2rem;
    text-transform: uppercase;
    letter-spacing: 0.05em;
  }

  .step-content p {
    line-height: 1.7;
    margin-bottom: 1.5rem;
    color: rgba(255, 255, 255, 0.9);
  }

  .step-content ul {
    margin-bottom: 1.5rem;
    margin-left: 1.5rem;
  }

  .step-content li {
    margin-bottom: 0.5rem;
    line-height: 1.6;
  }

  .tip-card {
    background: rgba(226, 180, 59, 0.1);
    border: 1px dashed var(--accent-gold);
    border-radius: 8px;
    padding: 1.25rem;
    margin: 2rem 0;
  }

  .inline-icon {
    height: 1.2em;
    vertical-align: middle;
    margin: 0 0.2em;
  }

  .media-container,
  .media-grid {
    margin: 2.5rem 0;
    text-align: center;
  }

  .media-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
  }

  img {
    max-width: 100%;
    height: auto;
    border-radius: 12px;
    border: 2px solid var(--border-color);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }

  img:hover {
    transform: scale(1.03);
    border-color: var(--accent-blue);
    box-shadow: 0 15px 30px rgba(0, 210, 255, 0.2);
  }

  .boss-fight-card {
    background: linear-gradient(
      145deg,
      rgba(200, 50, 50, 0.15),
      rgba(20, 20, 20, 0.8)
    );
    border: 1px solid rgba(200, 50, 50, 0.4);
    border-radius: 12px;
    padding: 2.5rem;
    margin: 3.5rem 0;
    position: relative;
    overflow: hidden;
  }

  .boss-fight-card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 4px;
    height: 100%;
    background: #ff4757;
  }

  .boss-title {
    color: #ff4757;
    font-size: 1.8rem;
    text-align: center;
    margin-bottom: 2rem;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    text-shadow: 0 0 15px rgba(255, 71, 87, 0.4);
  }
</style>
