---
import DlcLayout from "../../layouts/DlcLayout.astro";
import QuestStep from "../../components/QuestStep.astro";
import Image from "../../components/Image.astro";
import Tip from "../../components/Tip.astro";
import EndLogo from "../../components/EndLogo.astro";
import MediaGrid from "../../components/MediaGrid.astro";

const sections = [
  {
    id: "step-into-the-mushroom-forest",
    label: "Step into the Mushroom Forest",
  },
  { id: "find-the-rest-of-the-party", label: "Find the rest of the party" },
  {
    id: "explore-the-realm-beyond-the-rift",
    label: "Explore the realm beyond the rift",
  },
];
---

<DlcLayout title="Beyond the Rift - Ashes of Elrant DLC" sections={sections}>
  <!-- SECTION 1: Step into the Mushroom Forest -->
  <section class="content-section" id="step-into-the-mushroom-forest">
    <h2>Step into the Mushroom Forest</h2>

    <QuestStep
      id="step-into-the-mushroom-forest-quest"
      title="Step into the Mushroom Forest"
    >
      <p>
        There will be several scenes play out and we'll eventually regain
        control. Our party seems to have been split up so make sure to check
        your equipment once you regain control.
      </p>

      <p>
        Once the scenes are over we'll get some info about the "New Features"
        the DLC has to offer. We have <strong>Talents</strong> now. These are, to
        put it in broad terms, they're party skills, but more than that. You unlock
        fishing here, and brew potions, and can even make the party members stronger.
        We also learn that crystals are no longer obtained via crystal sources. Instead,
        enemies drop them now. All of these also have fixed stats. I like this a lot.
      </p>

      <p>
        After all this, welcome to the <strong>Mushroom Forest</strong>.
      </p>
    </QuestStep>
  </section>

  <!-- SECTION 2: Find the rest of the party -->
  <section class="content-section" id="find-the-rest-of-the-party">
    <h2>Find the rest of the party</h2>

    <QuestStep
      id="find-the-rest-of-the-party-quest"
      title="Find the rest of the party"
    >
      <p>
        Once we can move, head right and follow the path around and when it goes
        north, go up the ladder at the fork to find a chest with
        <strong>ATK Up</strong>.
      </p>

      <Image
        src="https://cdn.staticneo.com/ew/1/16/Ec_805.jpg"
        alt="Chest with ATK Up at the fork in the path"
      />

      <p>Head back down and go northeast to find the merchant.</p>

      <Tip type="note">
        <vin
          >How the hell did he get here? Was he stalking us throughout the
          entire burning village area?</vin
        >
      </Tip>

      <p>
        Ahem, he doesn't really have anything and our money is very limited so I
        recommend you don't buy anything. Head northwest from him to find our
        first enemy here, the <strong>Chicock</strong>. We have a Bulletin Board
        note for these guys. We need to kill 17 of them.
      </p>

      <p>
        From where the fight was check the left side to find a ladder going up
        the side of the cliff. Go up to find a chest at the end with
        <strong>Meal x3</strong>.
      </p>

      <Image
        src="https://cdn.staticneo.com/ew/9/91/Ec_806.jpg"
        alt="Ladder going up the side of the cliff"
      />

      <p>Slide down and go inside the cave.</p>

      <p>
        Follow the path in here and we'll be attacked by another new enemy, the <strong
          >Molester</strong
        >. What a name. Still, they're rather harmless. Kill them and continue
        until you exit the cave.
      </p>

      <p>Back outside, you'll see a little thing you can "talk" to...</p>

      <Tip type="note">
        <vin
          >Man, this thing totally looks like a kidney bean, huh? And I just
          made chili the other day haha.</vin
        >
      </Tip>

      <p>
        From this little bean continue and as we go we'll see the rest of our
        party down below. Head further right, kill the Chicock...
      </p>

      <Tip type="tip">
        <strong>Note</strong>: I recommend you unlock the
        <strong>Animal Talk</strong> Talen ASAP. This lets you talk to all animals.
      </Tip>

      <Image
        src="https://cdn.staticneo.com/ew/4/4e/Ec_807.jpg"
        alt="Seeing the rest of the party down below"
      />

      <p>
        ... and afterwards head north. talk to the little bird if you want/can
        and as you go you'll continue seeing the other party members. You'll
        eventually go down the cliff. Down here head north for a scene where
        we'll take control of the other party members.
      </p>

      <p>
        Once we regain control, once again check your equipment and make sure
        you're a-ok. After that go inside the house to find <strong
          >1752a</strong
        >
        inside the pot. Head back outside and go south down the cliff. Down here we'll
        fight another new enemy, <strong>Chrioptera</strong>. Just one to get
        you going.
      </p>

      <p>
        After the fight slide down the right side into the water then follow the
        path north. As you go you'll see a large white mushroom in the middle of
        the water. Climb out the LEFT side first to find a cave. Follow this
        long path. It'll take you back outside and into the water. Head north
        when in the water and follow this path to find a chest with
        <strong>Hideous Hide x5</strong>.
      </p>

      <Image
        src="https://cdn.staticneo.com/ew/5/5f/Ec_808.jpg"
        alt="Chest with Hideous Hide x5"
      />

      <p>
        Slide down the left side and go northwest. Follow this path and fight
        the 2 Chrioptera when you get to them. This is where we saw them before!
        After the fight go south following the white mushroom bridge to reach a
        chest with <strong>Elrant Ore x5</strong>.
      </p>

      <Image
        src="https://cdn.staticneo.com/ew/7/7c/Ec_809.jpg"
        alt="Chest with Elrant Ore x5"
      />

      <p>
        Return to where the Chrioptera were and head north now. Follow this path
        and BEFORE you leave the area, go right through the trees to find a
        chest with <strong>Old Fetish</strong>. Thanks to <strong
          >Zurlabic</strong
        >
        in the comments for this one.
      </p>

      <Image
        src="https://cdn.staticneo.com/ew/9/93/Ec_1014.jpg"
        alt="Chest with Old Fetish hidden through the trees"
      />

      <p>
        Continue to the next area where a scene will play out and our party will
        regroup.
      </p>

      <Tip type="note">
        <vin
          >Man I'm not gonna lie, I completely forgot this game had this many
          party members! I only remembered like 5 of them!</vin
        >
      </Tip>

      <p>
        After the lengthy scene we'll meet a couple of scientists and we'll end
        up fighting some Chicock. Continue watching the scenes after the fight.
      </p>
    </QuestStep>
  </section>

  <!-- SECTION 3: Explore the realm beyond the rift -->
  <section class="content-section" id="explore-the-realm-beyond-the-rift">
    <h2>Explore the realm beyond the rift</h2>

    <QuestStep
      id="explore-the-realm-beyond-the-rift-quest"
      title="Explore the realm beyond the rift"
    >
      <p>
        Once you've regained control, talk to all the scientists here. To the
        left we have the anvil where we can upgrade our weapons/armor. Go right
        and at the fork go south. Talk to the Researcher here then check the
        green barrel. You'll be asked if you want to open it. Go ahead and do
        so. This will put everyone to sleep.
      </p>

      <p>
        From the barrel go south west and climb the cliffs. Follow this path
        until you reach a chest with <strong>Eye of Heimfran x5</strong>.
      </p>

      <MediaGrid columns={2}>
        <Image
          src="https://cdn.staticneo.com/ew/2/22/Ec_810.jpg"
          alt="Path to Eye of Heimfran chest"
        />
        <Image
          src="https://cdn.staticneo.com/ew/8/88/Ec_811.jpg"
          alt="Chest with Eye of Heimfran x5"
        />
      </MediaGrid>

      <p>
        Head back and in the center of the camp you can see a single Researcher
        still standing. Talk to him and he'll mention something about moving the
        camp. Sounds good. For now head back east and go north now.
      </p>

      <p>
        Kill the enemies right after crossing the bridge we have 3 ways to go:
        north to the Researchers, northwest into the cave, or west down into the
        water. Go down into the water first. You can go left and check with the
        merchant if you want, but you'll want to go right to find a chest with <strong
          >Holy Symbol</strong
        >.
      </p>

      <Image
        src="https://cdn.staticneo.com/ew/d/db/Ec_812.jpg"
        alt="Chest with Holy Symbol"
      />

      <p>
        Return and go into the cave now. Follow the path inside and go left at
        the fork to find a chest with <strong>Miranda Fiber x5</strong>.
      </p>

      <Image
        src="https://cdn.staticneo.com/ew/a/ab/Ec_813.jpg"
        alt="Chest with Miranda Fiber x5"
      />

      <p>
        Go right now and south at the fork to be back outside. We'll be where
        the Researchers are. Talk to them if you wish, but you'll want to talk
        to old man Talos on the left side of the waterfall. They'll end up
        moving the camp. Continue right now and you'll see some Chicock enemies
        next to a large one. DO NOT attack it. That's a Sky Armor enemy called <strong
          >Strix</strong
        >. If you attack it it'll hit you for over 1000 dmg. We'll eventually
        have to come back with our Sky Armors to kill some of them as there's a
        Bulletin Board note for them.
      </p>

      <p>
        Instead, we can take it out in a different way. First, check the ground.
        You see how it's different from the rest? There was water here once. We
        need to do something to bring water back. We'll do this a couple of
        times throughout the course of the game so just remember this when you
        see trails like this.
      </p>

      <p>
        Anyway, head north from the enemies and up the cliff (the cave leads
        back to the previous one). Up here check the left side to find a
        beaver's dam. Are there beavers here? Go ahead and do so. This will kill
        the Strix enemy down below and you'll be able to open the chest for <strong
          >TP Cost Down</strong
        >. You'll have to go through the cave to get across the water.
      </p>

      <MediaGrid columns={2}>
        <Image
          src="https://cdn.staticneo.com/ew/0/01/Ec_814.jpg"
          alt="Beaver dam location"
        />
        <Image
          src="https://cdn.staticneo.com/ew/7/7c/Ec_815.jpg"
          alt="Chest with TP Cost Down"
        />
      </MediaGrid>

      <p>
        Head south now and when the path opens up and you see a Researcher, go
        WEST and up the cliff. Up here go north and you'll be in a fork. Go
        right first and hop across the gap to eventually reach a chest with
        <strong>Carbon Bone x5</strong>.
      </p>

      <Image
        src="https://cdn.staticneo.com/ew/5/5c/Ec_816.jpg"
        alt="Chest with Carbon Bone x5"
      />

      <p>
        Return and go west now. We'll be on top of the camp from before with a
        chest that has <strong>Hideous Hide x5</strong>.
      </p>

      <Image
        src="https://cdn.staticneo.com/ew/6/61/Ec_817.jpg"
        alt="Chest with Hideous Hide x5 on top of camp"
      />

      <p>
        Go back to where the Researcher was and take the path south to the next
        area.
      </p>

      <p>
        In this new area, go north across the bridge and from this area with the
        enemies head north first to find a chest with
        <strong>Elrant Ore x5</strong>.
      </p>

      <Image
        src="https://cdn.staticneo.com/ew/8/85/Ec_818.jpg"
        alt="Chest with Elrant Ore x5"
      />

      <p>
        Return and go east now. You'll see a large green orb there. Approach it
        to trigger a scene. These are called "anomalies". It's kinda crazy.
      </p>

      <p>
        After the lengthy scene go south in between the "trees" and west when
        possible to find a chest with <strong>Collector's Coin</strong>.
      </p>

      <Image
        src="https://cdn.staticneo.com/ew/e/e0/Ec_819.jpg"
        alt="Chest with Collector's Coin"
      />

      <p>
        Head northeast now to reach a fast travel crystal. Cool! Upgrade your
        equipment if you want/need and from here go right first. Jump in the
        water and to the north you'll see 3 waterfalls. You can actually go up
        the RIGHT one.
      </p>

      <Image
        src="https://cdn.staticneo.com/ew/5/54/Ec_822.jpg"
        alt="Three waterfalls - you can go up the right one"
      />

      <p>
        Go up it and you'll find a <strong>Pool of Power</strong>. These things
        basically make it so you do more damage and you take less. Instant power
        ups!
      </p>

      <MediaGrid columns={2}>
        <Image
          src="https://cdn.staticneo.com/ew/d/d0/Ec_820.jpg"
          alt="Path to Pool of Power"
        />
        <Image
          src="https://cdn.staticneo.com/ew/4/4f/Ec_821.jpg"
          alt="Pool of Power location"
        />
      </MediaGrid>

      <p>
        Return to the fast travel crystal and go northwest now. We'll reach a
        large open area. Start by going northwest from the entrance and you'll
        see a really odd green tree with a Researcher. Approach it to trigger a
        fight a <strong>Mimic</strong>. This is the tree enemy mentioned in the
        Bulletin Board and it's extremely weak. It'll most likely go down in a
        couple of hits.
      </p>

      <MediaGrid columns={2}>
        <Image
          src="https://cdn.staticneo.com/ew/c/c9/Ec_824.jpg"
          alt="The Mimic tree enemy"
        />
        <Image
          src="https://cdn.staticneo.com/ew/d/d6/Ec_823.jpg"
          alt="Mimic fight"
        />
      </MediaGrid>

      <p>
        Talk to the Researcher afterwards and he'll give you a "sensor" we can
        use to play the Shovel Minigame.
      </p>

      <Tip type="note">
        <strong>Note</strong>: This little game is a pain. When you interact
        with the blue circle on the ground and agree to play the circle will
        expand. Afterwards we need to dig. Press <img
          src="https://cdn.staticneo.com/ew/thumb/6/6f/PSSQUARE.png/21px-PSSQUARE.png"
          alt="PS Square button"
          style="vertical-align: middle"
        /> to have a bunch of gas come up from underground and you're supposed to
        find where you need to dig by seeing where there's a lot of gas coming out
        from.
      </Tip>

      <Image
        src="https://cdn.staticneo.com/ew/0/0f/Ec_825.jpg"
        alt="Shovel minigame gas indicator"
      />

      <p>
        I'm not going to lie, it all looks the same to me to be honest. You can
        kinda tell there's a bit more in the screenshot above, but it's VERY
        hard to tell the difference, at least to me. If it's also for you I
        recommend you press <img
          src="https://cdn.staticneo.com/ew/thumb/6/6f/PSSQUARE.png/21px-PSSQUARE.png"
          alt="PS Square button"
          style="vertical-align: middle"
        />, go with your gut and start pressing <img
          src="https://cdn.staticneo.com/ew/thumb/1/11/PSCROSS.png/21px-PSCROSS.png"
          alt="PS Cross button"
          style="vertical-align: middle"
        /> to see where to dig. The closer you are the bigger the BEEPs you'll see.
      </p>

      <p>
        These minigames are EXTREMELY important because, once you complete it
        (you need to find 4 items), the last item you'll get is a
        <strong>Class Emblem</strong>.
      </p>

      <p>
        Go ahead and play through this one and you'll get the
        <strong>Sage Class Emblem</strong>. This one is great.
      </p>

      <p>
        After completing this, head directly north and you'll spot a green
        monster thing.
      </p>

      <Image
        src="https://cdn.staticneo.com/ew/e/eb/Ec_826.jpg"
        alt="Green monster thing"
      />

      <p>
        Talk to it and when it asks you, reply with "Boo!". This will make it
        run away. Follow it northwest! You'll see it go through the trees. This
        is actually a hidden path so follow it. You'll find a little settlement.
      </p>

      <Image
        src="https://cdn.staticneo.com/ew/7/7f/Ec_827.jpg"
        alt="Hidden settlement"
      />

      <p>
        Check the bottom left corner to find a chest with
        <strong>Crit Up</strong>.
      </p>

      <Image
        src="https://cdn.staticneo.com/ew/7/7c/Ec_828.jpg"
        alt="Chest with Crit Up"
      />

      <p>
        That's all we can do right now but we'll come back. For now head back to
        the main area and go southwest to find a Researcher and a cave. Head
        inside the cave to find a chest with <strong>Fetish x2</strong>.
      </p>

      <Image
        src="https://cdn.staticneo.com/ew/5/50/Ec_829.jpg"
        alt="Chest with Fetish x2"
      />

      <p>
        Back outside, head to the northeastern corner to find some Chicocks and
        Chrioptera. Kill them and note the ladder north of you going up the
        cliff. This is the way to go. Before we go up, enter the cave to the
        west.
      </p>

      <p>
        Inside, go up the ladder and destroy the dam. This will let water flow
        out. Cross the gaps afterwards, kill the Molester enemies on the other
        side and follow the path until you exit the cave. Drop down the ledge on
        the right after that.
      </p>

      <p>
        Follow the little stream south, cross the bridge going west and continue
        south until you reach a spot where you can jump down into the water. Do
        so to find a chest with <strong>Lucky Fang</strong>.
      </p>

      <Image
        src="https://cdn.staticneo.com/ew/4/4d/Ec_830.jpg"
        alt="Chest with Lucky Fang"
      />

      <p>
        Get out of the water and go east now. Talk to the male Researcher here
        and he'll mention a village. It's the little settlement that we saw
        where we chased the little kidney bean. If you tell him where it it the
        monsters will kill him and you can get 5000a by checking the sparkle in
        the northwestern corner.
      </p>

      <p>
        From the Researcher head north while sticking to the right wall to find
        a ladder going up. Climb it then follow the path south up here. Talk to
        the worm to get <strong>5000a</strong>. This only happens if you learned
        how to talk to animals.
      </p>

      <p>
        In between the worm and the Researcher there's a lip on the left where
        you can jump across. From here go left, up, left (fork). Here go down
        first to find a chest with <strong>Crit Up</strong>.
      </p>

      <Image
        src="https://cdn.staticneo.com/ew/1/11/Ec_835.jpg"
        alt="Chest with Crit Up"
      />

      <p>
        Go left now and we'll be above the western cave. Go up the ladder here
        and follow the path until you reach the first
        <strong>"Fishing Spot"</strong>.
      </p>

      <Tip type="note">
        <vin
          >I swear I thought this whole fishing minigame always was in the game!</vin
        >
      </Tip>

      <Image
        src="https://cdn.staticneo.com/ew/f/f2/Ec_831.jpg"
        alt="First Fishing Spot"
      />

      <p>
        Fishing in the game is actually quite fun. You pretty much have a wheel
        of baits and you need to choose the right one based on the fish.
        Afterwards you need to mash <img
          src="https://cdn.staticneo.com/ew/thumb/1/11/PSCROSS.png/21px-PSCROSS.png"
          alt="PS Cross button"
          style="vertical-align: middle"
        /> to reel it in. When it swims in the opposite direction, stop pulling.
      </p>

      <p>
        There's also 2 types of fish: the ones that eat the bait and those that
        don't The ones that don't, they eat fish. Yeah, you need to fish one of
        the smaller ones first and practically feed it to the larger ones.
      </p>

      <p>The bait to use is actually quite simple to figure out:</p>

      <ul>
        <li>Green means that's the bait!</li>
        <li>Orange means it's next to the one you currently have selected.</li>
        <li>Red means it's on the opposite side of the ring.</li>
      </ul>

      <p>
        Below I'll leave a screenshot with all the fish caught and what their
        bait to make your life easier.
      </p>

      <Image
        src="https://cdn.staticneo.com/ew/9/95/Ec_832.jpg"
        alt="All fish and their bait guide"
      />

      <p>
        Go down the ladder on the right and into the cave. In here go left first
        to find a <strong>Pool of Power</strong>. Let's go!
      </p>

      <MediaGrid columns={2}>
        <Image
          src="https://cdn.staticneo.com/ew/b/b6/Ec_833.jpg"
          alt="Path to Pool of Power in cave"
        />
        <Image
          src="https://cdn.staticneo.com/ew/6/66/Ec_834.jpg"
          alt="Pool of Power in cave"
        />
      </MediaGrid>

      <p>
        Return and take the other path to reach the cave from before. We opened
        that chest before! Head back to the northeastern side of the area and go
        up the ladder next to the cave to find an anomaly. Approach it to
        trigger a scene. This one is Glenn's!
      </p>

      <p>
        After the scenes, notice how we have a ladder on the left and one on the
        right. Go up the ladder on the right first, go up a second one to find a
        chest with <strong>Skill Points Voucher</strong>.
      </p>

      <Image
        src="https://cdn.staticneo.com/ew/7/7f/Ec_836.jpg"
        alt="Chest with Skill Points Voucher"
      />

      <p>
        Head back down and now go up the left one. Go up 3 ladders total then
        use the little "lip" here to jump to the far right. At the end of the
        path you'll reach a chest with <strong>Party Points Voucher</strong>.
      </p>

      <Image
        src="https://cdn.staticneo.com/ew/a/a4/Ec_838.jpg"
        alt="Chest with Party Points Voucher"
      />

      <p>
        Return to where the anomaly was and now go north. Go up the ladder and
        open the chest on the left for <strong>Hero's Medal</strong>.
      </p>

      <Image
        src="https://cdn.staticneo.com/ew/9/9b/Ec_837.jpg"
        alt="Chest with Hero's Medal"
      />

      <p>
        Go north into the next area where a scene will play and we'll end up in
        another "boss fight".
      </p>

      <Tip type="note">
        <strong>Note</strong>: Not going to lie here, I kill them in a couple of
        hits. They have a single target attack that hits for around 50 dmg. and
        a Fire spell that hits everyone for around 40 dmg. That's pretty much
        all I saw them do.
      </Tip>

      <p>
        After this fight and scene, simply head north to trigger more scenes and
        eventually this quest will end and the next one will start. You'll have
        to go through a little segment playing as Lenne's past self Tia, but
        it's mostly scenes.
      </p>

      <Tip type="note">
        <vin
          >After all this time, I'm still amazed this game was made by a single
          person. Pretty nuts, huh?</vin
        >
      </Tip>

      <Image
        src="https://cdn.staticneo.com/ew/thumb/6/65/Ce_Crimson_Wings.png/100px-Ce_Crimson_Wings.png"
        alt="Crimson Wings logo"
      />
    </QuestStep>
  </section>

  <EndLogo />
</DlcLayout>
