---
import DlcLayout from "../../layouts/DlcLayout.astro";
import QuestStep from "../../components/QuestStep.astro";
import Image from "../../components/Image.astro";
import Video from "../../components/Video.astro";
import Tip from "../../components/Tip.astro";
import BossFight from "../../components/BossFight.astro";
import MediaGrid from "../../components/MediaGrid.astro";
import EndLogo from "../../components/EndLogo.astro";
import StoryBlurb from "../../components/StoryBlurb.astro";

const baseUrl = import.meta.env.BASE_URL;

const sections = [
  { id: "enter-the-mana-machine", label: "Enter the Mana Machine" },
];
---

<DlcLayout
  title="Deus Ex Machina"
  subtitle="DLC WALKTHROUGH"
  guideId="dlc-deus-ex-machina"
  sections={sections}
>
  <!-- SECTION 1: Enter the Mana Machine -->
  <section id="enter-the-mana-machine" class="content-section">
    <h2>Enter the Mana Machine</h2>

    <QuestStep id="enter-the-mana-machine-quest" title="Enter the Mana Machine">
      <p>
        Once you're ready to head to the end of the game, fast travel to the northern teleportation crystal in the Lost Garden and head north until you reach the end of the stone path. A lengthy scene will play out here and we'll end up in the Mana Machine.
      </p>

      <p>
        Once here, head north to the top of the stairs and go left across the area with the gears on the floor to find a chest with <strong>Nectar</strong>.
      </p>

      <Tip type="note">
        You can fly around in this area but note that you can't land on areas where there's purple electricity. This is to prevent it from being too easy.
      </Tip>

      <Image
        src="https://cdn.staticneo.com/ew/thumb/7/74/Ec_1072.jpg/600px-Ec_1072.jpg"
        alt="Mana Machine area"
      />

      <p>
        Fly and head to the southeastern corner to find another chest, this one with <strong>HP Up</strong>.
      </p>

      <Image
        src="https://cdn.staticneo.com/ew/thumb/5/57/Ec_1075.jpg/600px-Ec_1075.jpg"
        alt="HP Up chest location"
      />

      <p>
        Head north into the next area and make a right when possible to find another chest with <strong>ATK Up</strong>.
      </p>

      <Image
        src="https://cdn.staticneo.com/ew/thumb/d/d5/Ec_1076.jpg/600px-Ec_1076.jpg"
        alt="ATK Up chest location"
      />

      <p>
        Continue north and kill some fly enemies. Continue afterwards, go right at the fork and right into the tiny hallway to find the last chest of the area with <strong>Rainbow Ore x5</strong>.
      </p>

      <Image
        src="https://cdn.staticneo.com/ew/thumb/c/c1/Ec_1077.jpg/600px-Ec_1077.jpg"
        alt="Rainbow Ore chest location"
      />

      <p>
        Continue, destroy the crystal enemy and look directly north of it to find a lever. Press it to reduce the % in the corner by 25%. Proceed to the next area after.
      </p>

      <Image
        src="https://cdn.staticneo.com/ew/thumb/c/c6/Ec_1078.jpg/600px-Ec_1078.jpg"
        alt="First lever location"
      />

      <p>
        Once out here, to the left is a Sky Armor enemy so instead go right and into the next area. In here make a left when you can and open the chest for <strong>Mindful Choker</strong>.
      </p>

      <Image
        src="https://cdn.staticneo.com/ew/thumb/0/0b/Ec_1079.jpg/600px-Ec_1079.jpg"
        alt="Mindful Choker chest location"
      />

      <p>
        From here we want to go south and exit this area BUT before we do that make sure to go to the northeastern most corner of the area to find another lever you have to pull.
      </p>

      <Image
        src="https://cdn.staticneo.com/ew/thumb/b/bf/Ec_1081.jpg/600px-Ec_1081.jpg"
        alt="Second lever location"
      />

      <p>
        Return to the chest and from here go south to be back outside. Make sure to grab the chest to the southeast with <strong>Vanyard's String</strong> right away.
      </p>

      <Image
        src="https://cdn.staticneo.com/ew/thumb/9/9a/Ec_1080.jpg/600px-Ec_1080.jpg"
        alt="Vanyard's String chest location"
      />

      <p>
        Get on your Sky Armor and go right and follow the path around so you can go kill the large face enemies. After killing them head north into the next area where we'll see Endahrt to the far north. Before going to him there are some things we should do.
      </p>

      <p>
        Start by going left when you regain control and going south when possible to find a chest with <strong>Fancy Leather x5</strong>. Continue left after it to end back outside.
      </p>

      <Image
        src="https://cdn.staticneo.com/ew/thumb/9/91/Ec_1082.jpg/600px-Ec_1082.jpg"
        alt="Fancy Leather chest location"
      />

      <p>
        Have you noticed that our % is back up to 100%? We'll need to flip 4 levers to weaken Endahrt. Anyway, out here get on your Sky Armors and go south to find some face enemies you should kill...
      </p>

      <Tip type="note">
        <vin>These guys look like me when I wake up after a not so nice night of sleep haha.</vin>
      </Tip>

      <p>
        Move past them after the fight and check your north to find a chest with <strong>Ambrosia</strong>.
      </p>

      <Image
        src="https://cdn.staticneo.com/ew/thumb/c/cd/Ec_1083.jpg/600px-Ec_1083.jpg"
        alt="Ambrosia chest location"
      />

      <p>
        Continue around the area, kill some more enemies as you go north and enter the northern room when you get to it to find our first lever. Back outside, fly with your Sky Armor to the right and you'll see a crystal enemy. We need to land here, but what to do? Easy!
      </p>

      <p>
        Return to the previous area (where we saw Endahrt) and take the northwestern exit the one going west. This leads to the little area that's next to the crystal enemy. Head to it and kill it (alongside some fly enemies) then go right a bit and get on your Sky Armor right before exiting. Fly to where the crystal enemy was and head inside to lower the second lever. Nice!
      </p>

      <p>
        Return to the Endahrt room (that's what I'm calling this large room where we saw him) and take the northwestern exit, the one going north this time. This takes you to a large room with several cells. Check these to find 3 chests with <strong>Lankintin Star</strong>, <strong>5789a</strong>, and <strong>Adamantium Nugget</strong>.
      </p>

      <Image
        src="https://cdn.staticneo.com/ew/thumb/a/ac/Ec_1084.jpg/600px-Ec_1084.jpg"
        alt="Chest locations in the cell area"
      />

      <p>
        Return to the Endahrt room and go east from where we are. You'll find a teleportation crystal and an anvil. Clearly for now we want to take the eastern exit out of here, but make sure to check the little northeastern dead end to find a chest with <strong>Mythical Skull x5</strong>.
      </p>

      <Image
        src="https://cdn.staticneo.com/ew/thumb/a/aa/Ec_1085.jpg/600px-Ec_1085.jpg"
        alt="Mythical Skull chest location"
      />

      <p>
        In the eastern area, start by going straight, getting on your Sky Armors and flying to the northwestern corner. From here go back down and start moving south to the bottom of the area. Get off your machine down here, kill the enemies and go north to find a chest with <strong>Crit Up</strong>.
      </p>

      <Image
        src="https://cdn.staticneo.com/ew/thumb/8/87/Ec_1086.jpg/600px-Ec_1086.jpg"
        alt="Crit Up chest location"
      />

      <p>
        Get back on your armor and go right now. Follow the path north and here we want to enter the rooms to the left and right to lower the last 2 levers. Of course to the left before the room we have 3 face enemies and to the right we have one and past it we have a chest with <strong>Goddess' Wool x5</strong>.
      </p>

      <Image
        src="https://cdn.staticneo.com/ew/thumb/5/54/Ec_1087.jpg/600px-Ec_1087.jpg"
        alt="Goddess' Wool chest location"
      />

      <p>
        With the levers flipped and our % down to 0%, fast travel back to the crystal, prepare yourself and go north (the fights are super easy). Head north until you reach Endahrt. A scene will play out and then it's boss fight time!
      </p>

      <BossFight title="ENDAHRT">
        <p>
          Time to deal with this guy. Let's see how strong he is.
        </p>

        <p>
          First of all, we're in a Sky Armor fight. We only had a handful of these in the DLC so it's nice to see another one. Right off the bat, he acts twice per turn, making him a bit more annoying than normal.
        </p>

        <p>
          The attack he'll use the most is his triple attack. It hits 3 times and if he uses it twice then it'll hit 6 times. It's relatively weak so it's still nothing to really worry about.
        </p>

        <p>
          The one attack you want to worry about are his Terror attacks. These hits your current HP by 50%, making them super annoying. Just make sure to have any of your characters heal up to keep you in tip top condition. His most powerful attack is the Thunder Lance, but it still doesn't hurt that bad if you're constantly healing.
        </p>

        <ul>
          <li><strong>Releasing x% energy attack:</strong> hits you based on the % of the energy he has. If you dropped it to 0 then this attack will do 0 dmg.</li>
          <li><strong>Triple Attack:</strong> hits 3 times randomly for around 180 dmg. per hit.</li>
          <li><strong>Pure Terror:</strong> hits one party member for 50% of their current HP and inflicts Terrified.</li>
          <li><strong>Full Terror:</strong> same as Pure Terror but for the whole party.</li>
          <li><strong>Thunder Lance:</strong> hits the party for around 650 dmg.</li>
        </ul>
      </BossFight>

      <p>
        After the fight we'll have some scenes. Once they're done head north into the building where we'll have another teleportation crystal. This is the last one. You can go around the rooms in here and talk to your party members, see what everyone's up to. You can even find the merchant here.
      </p>

      <p>
        Now, you see the door near Leonar with the 2 red orbs? We need to get rid of them to get through. To do this go and enter the far right door first. Save your game and go north to trigger a fight.
      </p>

      <Tip type="note">
        It's not even worth making this into a boss fight, especially after defeating all the optional ones. This guy is called <strong>Babi Ngepet</strong> and it's pretty simple.
      </Tip>

      <p>
        The one attack you want to worry about is his <strong>Doom</strong> spell. Of course, as you may know this will kill you in 3 turns. I'm going to be 100% honest with you, I don't remember if there's any protection against Doom or even how to cure it (if you know let me know down below). I legit just took the deaths as they came. He'll use Doom twice which kinda sucks.
      </p>

      <p>
        Still, you can do plenty of damage to the boss and once you die, revive yourself and continue. He does have other attacks, like a headbutt that hits one party member for around 50 dmg., and an ice spell that hits all for around 80 dmg. so nothing that worrying.
      </p>

      <p>
        Defeating this thing will break one of the red orbs back inside. Go back to the door and now take the western door. Save your game once outside and head north for another fight.
      </p>

      <Tip type="note">
        Well, just like the previous fight, this one is so easy I'm not even considering it a boss fight. It has a normal attack that hits for around 100 dmg. and a fire spell that hits for around 70 dmg. to the party. That's it. At least the other pig guy had Doom.
      </Tip>

      <p>
        Once this fight is over the central door in the previous room will now be open. Head back, go through and you'll be told this is it. Save your game and head forward to start a fight against the Mana Machine. Just know that this first fight, don't go all out. You can't do anything to it so just attack it normally until several scenes play out.
      </p>

      <p>
        Once these scenes are over THEN the real fight will start.
      </p>

      <BossFight title="MANA MACHINE">
        <p>
          Ok, time to deal with the final boss of the DLC and, to be honest, it's a complete let down. It's a very easy and simple boss. I thought it would have a second phase with how quick I killed it, but nope, killed it in just a couple of turns.
        </p>

        <p>
          Probably one of the most annoying things this boss has is that it can fully drain your TP. It tells you in advanced so you can have Victor cast his TP Regen on the party, or better yet, have him use his Ultra Move to both fully refill your TP and cast TP Regen. This completely nullifies his move.
        </p>

        <p>
          Once you deal with the first little form, it's true form will come out once you see it perform its Metamorphosis. This is still an easy fight. It does have an attack similar to Endahrt's where it uses the % of the energy. This time it's at 100% but when it's at that it still hits you for around 90 dmg. to the whole party. Still nothing bad. The energy will drop by 50% afterwards. He'll be able to use one once more, but as you could tell it's not really that dangerous.
        </p>

        <p>
          Its most powerful attack, Ultima, hits the party pretty hard. Nothing you can't survive. It gives you a warning before using it so try defending prior to the attack and if you have Victor with you, use his bubble barrier to mitigate some of the damage.
        </p>

        <p>
          And that's about it really. Again, this was such a let down given how easy it was.
        </p>

        <ul>
          <li><strong>Summon Support:</strong> summons 2 weak minions to its side.</li>
          <li><strong>Preparing TP Drain:</strong> fully drains your TP.</li>
          <li><strong>Releasing % energy attack:</strong> hits party for dmg. based on its %.</li>
          <li><strong>Ultima:</strong> hits party for around 150 dmg.</li>
        </ul>
      </BossFight>

      <p>
        Once the fight is over, go ahead and enjoy your well earned ending scenes.
      </p>

      <StoryBlurb>
        I hope you enjoyed this guide as we played through the Chained Echoes DLC together. It was a blast coming back to this game. I remembered liking the game, but I forgot just how much I actually loved it.
        <br /><br />
        So thank you for sticking with me through to the end. Decided to add little notes with my dumb inner thoughts so I hope that made the guide feel a bit more personal. Many things reminded me of other games and anime, some things made me laugh, and some straight up pissed me off haha, but sharing those is just party of the fun. And remember, if you enjoyed the guide be sure to comment below as this guide wouldn't be here without Neoseekers support. Thanks for playing along with me everyone!
      </StoryBlurb>
    </QuestStep>
  </section>

  <EndLogo />
</DlcLayout>

<style>
  .content-section {
    padding: 2rem 0;
  }

  .content-section h2 {
    color: var(--accent-gold);
    border-bottom: 1px solid var(--border-color);
    padding-bottom: 0.75rem;
    margin-bottom: 1.5rem;
    font-size: clamp(1.5rem, 4vw, 2rem);
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  }
</style>
