---
import DlcLayout from "../../layouts/DlcLayout.astro";
import QuestStep from "../../components/QuestStep.astro";
import Image from "../../components/Image.astro";
import Tip from "../../components/Tip.astro";
import BossFight from "../../components/BossFight.astro";
import EndLogo from "../../components/EndLogo.astro";
import MediaGrid from "../../components/MediaGrid.astro";

const sections = [
  {
    id: "reach-the-place-mentioned-by-leonar",
    label: "Reach the place mentioned by Leonar",
  },
];
---

<DlcLayout
  title="The Truth of Elrant"
  subtitle="DLC SIDE QUEST WALKTHROUGH"
  guideId="dlc-the-truth-of-elerant"
  sections={sections}
>
  <!-- SECTION 1: Reach the place mentioned by Leonar -->
  <section class="content-section" id="reach-the-place-mentioned-by-leonar">
    <h2>Reach the place mentioned by Leonar</h2>

    <QuestStep
      id="reach-the-place-mentioned-by-leonar-quest"
      title="Reach the place mentioned by Leonar"
    >
      <p>
        We still can't fully explore, but for starters, go back up to the throne
        room and check the right side to find a hidden chest with <strong
          >Save</strong
        >.
      </p>

      <Image
        src="https://cdn.staticneo.com/ew/thumb/e/e6/Ec_854.jpg/600px-Ec_854.jpg"
        alt="Hidden chest with Save in the throne room"
      />

      <p>
        Head back outside, go down the stairs and grab the sparkle on the left
        for <strong>Angel Wing x2</strong>. Enter the upper left room and check
        the drawers for <strong>998a</strong>, then enter the room directly
        south of this one to find a chest with <strong>Poison Resistance</strong
        >.
      </p>

      <Image
        src="https://cdn.staticneo.com/ew/thumb/e/e3/Ec_855.jpg/600px-Ec_855.jpg"
        alt="Room with drawers containing 998a and chest with Poison Resistance"
      />

      <p>
        Return to the center of the area and go right now. Check the first door
        to the north and grab the sparkle for <strong>Angel Wing x5</strong>.
        Now check the middle bottom room to find <strong>500a</strong> in the dresser,
        and check the room to the right of it to find a chest with <strong
          >Vanyard's String x4</strong
        >.
      </p>

      <Image
        src="https://cdn.staticneo.com/ew/thumb/c/c9/Ec_856.jpg/600px-Ec_856.jpg"
        alt="Area with dresser containing 500a and chest with Vanyard's String x4"
      />

      <p>
        That's all the chests here. Return to the teleportation crystal and head
        north past the guards. In the next room, use the anvil on the right if
        you need to and go north to reach our next area, <strong
          >Lost Gardens</strong
        >.
      </p>

      <p>
        From where we enter, take the left path and you'll reach a little pool.
        The left side there's a path hidden amidst the trees. Follow it north to
        find the only chest in here with <strong>Party Points Voucher</strong>.
      </p>

      <MediaGrid columns={2}>
        <Image
          src="https://cdn.staticneo.com/ew/thumb/f/f2/Ec_857.jpg/363px-Ec_857.jpg"
          alt="Hidden path amidst the trees in Lost Gardens"
        />
        <Image
          src="https://cdn.staticneo.com/ew/thumb/2/26/Ec_858.jpg/363px-Ec_858.jpg"
          alt="Chest with Party Points Voucher"
        />
      </MediaGrid>

      <p>
        There's nothing else around here so head to the center where you'll see
        a chess board. Get on it and you'll end up fighting a Chess Tower and
        Knight. This is great because they attack in the same way real chess
        pieces move: Knight moves in an L-shape while the Tower moves straight.
        This last one hits both characters.
      </p>

      <p>
        After the fight head through the door to the next area. Here, go right
        and you'll find a locked house. What are these? I guess we'll find out,
        eventually. The little pond in the center here there's also a new <strong
          >Fishing Spot</strong
        >. Just like before, I'll leave the screenshot below with all the fishes
        and their bait.
      </p>

      <Image
        src="https://cdn.staticneo.com/ew/thumb/2/21/Ec_859.jpg/600px-Ec_859.jpg"
        alt="Fishing Spot in the Lost Gardens"
      />

      <p>
        From here we can go north to a part that's not in the map. This is one
        of those garden mazes you see in movies and anime. Honestly there's not
        much to it and it's not difficult. At the center of it you can find <strong
          >Captain's Anchor</strong
        >.
      </p>

      <Tip type="note">
        <p>
          If you want the directions, they are: left x2, right, up, left, up,
          up, right, up, left, down, left. Easy.
        </p>
      </Tip>

      <Image
        src="https://cdn.staticneo.com/ew/thumb/9/92/Ec_860.jpg/600px-Ec_860.jpg"
        alt="Garden maze with Captain's Anchor at the center"
      />

      <p>
        Fast travel back to the fishing pond and go left to find another fork.
        There are 2 ways to enter the next area but take the bottom path to
        enter it.
      </p>

      <p>
        In this new area, go left at the upcoming fork to find a chest with <strong
          >Collector's Coin</strong
        >.
      </p>

      <Image
        src="https://cdn.staticneo.com/ew/thumb/6/6a/Ec_861.jpg/600px-Ec_861.jpg"
        alt="Chest with Collector's Coin"
      />

      <p>
        Head north now to find another chess board. Another little fight here.
        Do note that we're fighting a Chess Pawn now. This is very important.
        They are not dangerous but, just like their chess counterpart, they move
        forward (in our case away from us) and once they reach the edge of the
        board they'll transform into a Queen, which is much dangerous (still not
        that bad). Note that we have a note in our bulletin board about these,
        but that is only until the boss fight.
      </p>

      <p>
        Anyway, after the fight here check the bottom right corner to find our
        second <strong>Fishing Spot</strong>. Check the image below for the fish
        and their bait.
      </p>

      <Image
        src="https://cdn.staticneo.com/ew/thumb/1/19/Ec_862.jpg/600px-Ec_862.jpg"
        alt="Second Fishing Spot in the Lost Gardens"
      />

      <p>
        After this, go west from the chess board to find a chest at the end with <strong
          >Flesh Shield</strong
        >.
      </p>

      <Image
        src="https://cdn.staticneo.com/ew/thumb/3/32/Ec_863.jpg/600px-Ec_863.jpg"
        alt="Chest with Flesh Shield"
      />

      <p>
        Head north from the board now and we'll be in a fork. Make a quick right
        at the corner and go around to the eastern side of the pool to find yet
        another chest, this one with <strong>Counter Attack</strong>.
      </p>

      <Image
        src="https://cdn.staticneo.com/ew/thumb/6/60/Ec_864.jpg/600px-Ec_864.jpg"
        alt="Chest with Counter Attack"
      />

      <p>
        Return and go west now for a chest with <strong>2000a</strong>. MAKE
        SURE to go southwest from the chest to find a large golden one with <strong
          >Flesh of Farnese</strong
        >.
      </p>

      <MediaGrid columns={2}>
        <Image
          src="https://cdn.staticneo.com/ew/thumb/c/ca/Ec_865.jpg/363px-Ec_865.jpg"
          alt="Chest with 2000a"
        />
        <Image
          src="https://cdn.staticneo.com/ew/thumb/7/70/Ec_866.jpg/363px-Ec_866.jpg"
          alt="Large golden chest with Flesh of Farnese"
        />
      </MediaGrid>

      <p>
        Return to the fork once again and go north now. The path going east
        leads back to the previous area so ignore it and instead go west to
        another chess board. Kill the Pawns ASAP. Don't let them turn into
        Queens so you can end this fight real quick.
      </p>

      <p>After the fight head north into the next area.</p>

      <p>
        Nothing really going on in this area. Follow the path until you reach
        the anvil. From the anvil there's a hidden path on the right side in
        between the trees that takes you to a chest with <strong
          >Hero's Medal</strong
        >.
      </p>

      <Image
        src="https://cdn.staticneo.com/ew/thumb/f/fa/Ec_867.jpg/600px-Ec_867.jpg"
        alt="Hidden path from anvil leading to chest with Hero's Medal"
      />

      <p>
        Go left from the anvil and you'll find another spot to play the <strong
          >Digging Minigame</strong
        >. It's the same as before. Go through it and you'll get the <strong
          >Two Face Class Emblem</strong
        >.
      </p>

      <Image
        src="https://cdn.staticneo.com/ew/thumb/5/59/Ec_868.jpg/600px-Ec_868.jpg"
        alt="Digging Minigame spot"
      />

      <p>
        Now go ahead and prep yourself because as you go north we'll have a boss
        fight!
      </p>

      <BossFight title="FAERDRAKE">
        <p>
          Ok, this boss is something else. The boss itself, that green blob
          thing, isn't really difficult. Yes, this is a really easy fight.
        </p>

        <p>
          BUT, remember how I mentioned the bulletin board? Well, this is where
          we need to do that! If you didn't check, there's a square that
          requires us to let 4 Pawns become Queens, then kill them all in a
          single fight. <strong>THIS</strong> right here is what makes the fight a
          bit more difficult because not only are you fighting the boss, but you want
          to "wait" and take hits just so you can let the boss summon more Pawns,
          then wait more so you let them become Queens, then kill them AND kill the
          boss.
        </p>

        <Tip type="note">
          <vin>
            This fight is more of a hassle than anything else, but we gotta do
            what we gotta do to get that bulletin board filled up. I'll update
            the strat later on if we're able to do this whole Queen thing once
            we can fly.
          </vin>
        </Tip>

        <p>
          Anyway, like mentioned above, if you're like me and are killing
          everything in just a couple of hits, then you'll want to wait your
          turns just so you don't accidentally kill the boss. Let him do
          whatever he wants. Let him summon the Pawns, let them become Queens,
          and once you've killed 4 of them total, feel free to kill the boss
          ASAP.
        </p>

        <p>
          One thing that's annoying about the boss is that it can poison you. If
          he uses it a lot he'll miss a ton which is good. One thing to note is
          that the fight starts with 2 pawns. Let these 2 become queens and kill
          them. I say this because halfway through the fight he'll summon 5
          pawns at the same time. It takes them 3 turns to become queens. If you
          killed the previous 2 queens, you only need 2 more so make sure to
          kill 3 pawns so you don't have to deal with 5 queens.
        </p>

        <p>
          And that's pretty much it. Like I said, this is a really easy boss if
          you don't have to do the 4 pawn/queen killing.
        </p>

        <Image
          src="https://cdn.staticneo.com/ew/thumb/6/6b/Ec_869.jpg/600px-Ec_869.jpg"
          alt="Faerdrake boss fight"
        />

        <ul>
          <li>
            <strong>Blinding Light</strong>: hits all party members for around
            50 light dmg.
          </li>
          <li><strong>Resummon...</strong>: summons 2 chess pieces.</li>
          <li>
            <strong>Poison Wind</strong>: does no dmg. but poisons your party.
            The more he uses it the more it misses.
          </li>
          <li><strong>Summon Army</strong>: summons 5 pawns.</li>
        </ul>
      </BossFight>

      <p>
        After the fight head north to the next area where a scene will play out
        when we move forward.
      </p>

      <p>
        Once the scenes are over, head east and follow the path to the very end
        (north side) where we'll spot another anomaly. Afterwards, head west
        from the fast travel crystal for many more scenes.
      </p>

      <Tip type="note">
        <vin
          >These scenes surprised me! I was not expecting what we saw here!</vin
        >
      </Tip>

      <p>
        Eventually we'll wake up back in the palace. Once the scenes are over,
        Leonar will officially join the party and the quest will come to an end,
        starting the next one, <a
          href="https://www.neoseeker.com/chained-echoes/The_Open_Way"
          >The Open Way</a
        >.
      </p>
    </QuestStep>
  </section>

  <EndLogo />

  <style>
    .content-section {
      padding: 2rem 0;
    }

    .content-section h2 {
      color: var(--accent-gold);
      border-bottom: 1px solid var(--border-color);
      padding-bottom: 0.75rem;
      margin-bottom: 1.5rem;
      font-size: clamp(1.5rem, 4vw, 2rem);
      text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    }
  </style>
</DlcLayout>
