---
import WalkthroughLayout from "../../layouts/WalkthroughLayout.astro";
import QuestStep from "../../components/QuestStep.astro";
import StoryBlurb from "../../components/StoryBlurb.astro";
import Image from "../../components/Image.astro";
import MediaGrid from "../../components/MediaGrid.astro";
import Tip from "../../components/Tip.astro";
import NextSteps from "../../components/NextSteps.astro";

const sections = [
  { id: "follow-mikah-into-the-ograne-grottos", title: "Follow Mikah into the Ograne Grottos", label: "Follow Mikah into the Ograne Grottos" },
  { id: "find-help-to-defeat-the-megaloworm-in-rockbottom", title: "Find help to defeat the Megaloworm in Rockbottom", label: "Find help to defeat the Megaloworm in Rockbottom" },
  { id: "meet-up-at-the-briefed-location", title: "Meet up at the briefed location", label: "Meet up at the briefed location" },
  { id: "head-deeper-into-the-megaloworm", title: "Head deeper into the Megaloworm", label: "Head deeper into the Megaloworm" }
];
---

<WalkthroughLayout
  subtitle="SIDE QUEST WALKTHROUGH" title="For the Love of Food" sections={sections} guideId="for-the-love-of-food">
  <StoryBlurb>
    <em>Tomke has got a unique little family. Help out his granddaughter Mikah.</em>
  </StoryBlurb>

  <Image src="https://cdn.staticneo.com/ew/thumb/d/d3/Ce_525.jpg/730px-Ce_525.jpg" alt="For the Love of Food Quest Start" />

  <p>To start this quest you need to have your clan reach Rank 3. To do this you need to recruit every character the game has to offer (at least up to this point). Once you reach Rank 3 you'll now have buildings on your island. Enter the top left building where you'll see a character named Mikah and the quest will start.</p>

  <Tip type="note">
    goes without saying that you need to have gotten Tomke to join the party. You can find him in Arkant Archipelago where you can start his sidequest.
  </Tip>

  <section id="follow-mikah-into-the-ograne-grottos" class="walkthrough-section">
    <QuestStep id="follow-mikah-into-the-ograne-grottos" title="Follow Mikah into the Ograne Grottos">
      <p>Time to head to Ograne Grottos. I'm going to expect you to have been in here already (<a href="/sidequests/the-gates-of-nhysa">CLICK HERE</a> for help in here if you need it).</p>

      <p>Go ahead and fast travel to the crystal and from here head north then northwest at the fork and follow this path all the way until you trigger a scene where we find Mikah at the end. Damn, looks like we'll have to find a way to kill this worm (this is gonna be a crazy fight I can feel it already!)</p>
    </QuestStep>
  </section>

  <section id="find-help-to-defeat-the-megaloworm-in-rockbottom" class="walkthrough-section">
    <QuestStep id="find-help-to-defeat-the-megaloworm-in-rockbottom" title="Find help to defeat the Megaloworm in Rockbottom">
      <p>Fast travel to Rockbottom now and go inside the building. Head up to the inn part of this building and a scene should play with the bald man with the white shirt. If it doesn't head outside and head back inside. As you talk to the miner you'll learn that they did indeed try to kill the Megaloworm 6 years ago, or at least that was the plan. He'll charge us 5000a to help us out. Nice, super cheap!</p>

      <Image src="https://cdn.staticneo.com/ew/thumb/a/a8/Ce_528.jpg/730px-Ce_528.jpg" alt="Speaking to the miner" />
    </QuestStep>
  </section>

  <section id="meet-up-at-the-briefed-location" class="walkthrough-section">
    <QuestStep id="meet-up-at-the-briefed-location" title="Meet up at the briefed location">
      <p>Go ahead and fast travel to the southern crystal so we can get into our SAs faster then fly north into the next area where our objective is. Land here and interact with the marker to have the scenes continue. These are actually REALLY good. I still can't believe only one man worked on this game haha.</p>

      <Image src="https://cdn.staticneo.com/ew/thumb/1/1c/Ce_529.jpg/730px-Ce_529.jpg" alt="Briefed location SAs" />

      <p>Eventually... we'll end up eaten haha. But the good thing is that Mikah will officially join the party. Micah is a fist user and she's REALLY good. She really reminds me of Monk in Final Fantasy XIV. Unlike everyone else, she has combos. You go from one attack, then in your next turn to do your second attack. Doing this will dramatically increase her second attack and also gives you procs similar to Sienna so you can activate an even stronger attack. She can also buff your party's offensive and defensive stats, and even boost your speed. Sadly, given that we already have Victor (and he most likely learned by this point his skill that buffs everything with just one skill) these don't really do much for me at least BUT the Speed buff is amazing because it's a high buff and lasts forever.</p>

      <p>You can pair her with Sienna or Glenn given how both are mostly damage dealers. I would recommend Sienna since Glenn has his skill that lowers all of the enemy's stats.</p>

      <Image src="https://cdn.staticneo.com/ew/thumb/4/4b/Ce_530.jpg/730px-Ce_530.jpg" alt="Mikah joins the party" />
    </QuestStep>
  </section>

  <section id="head-deeper-into-the-megaloworm" class="walkthrough-section">
    <QuestStep id="head-deeper-into-the-megaloworm" title="Head deeper into the Megaloworm">
      <p>As you regain control go ahead and open the chest here with <strong>Angel Wing x3</strong>. Head north now and open a second chest, this one with <strong>Meal x4</strong>. Head north now to find some <strong>Antibody</strong> enemies haha. Of course! They're not hard at all so you'll have an easy time.</p>

      <p>After the fight go right and jump into... gastric acid? Piss? Ugh. Go under the spiky balls (inspect the bubbles) and check the fungus on the other side.</p>

      <Image src="https://cdn.staticneo.com/ew/thumb/3/3b/Ce_531.jpg/730px-Ce_531.jpg" alt="Jumping into the acid" />

      <p>Return to the fork and go north now. Jump across the little gap once you reach it and before go jump down into the... liquid, head south and notice that you can go right through the wall. Do so to find a chest with <strong>Cestus</strong>, and amazing upgrade for Mikah.</p>

      <Image src="https://cdn.staticneo.com/ew/thumb/4/43/Ce_532.jpg/730px-Ce_532.jpg" alt="Hidden Cestus chest" />

      <p>Head back and jump into the liquid now. As you jump in the liquid you'll notice the bubble right next. Before you follow them go north first and under the spiky balls. This leads to a fungus we can interact with. Do so, return to the bubbles you just ignored and head north through the path that just opened.</p>

      <p>This will lead us to a large wall with 3 spots where we can climb.</p>

      <Image src="https://cdn.staticneo.com/ew/thumb/e/e9/Ce_533.jpg/730px-Ce_533.jpg" alt="Climbing spots" />

      <p>Climb the middle path first to find a chest with <strong>Leather Gear</strong>. Head back down and go up the right side now. You'll have to fight 5 Antibodies here but it still shouldn't be a problem. Kill them and interact with the fungus at the top. Continue left now and jump down. Now continue northwest and at the fork follow the path on the right. Grab the <strong>crystal source</strong> and at the end, after killing some more Antibodies, you can find a chest with <strong>Rayon Fiber x5</strong>.</p>

      <p>Return to the fork and go north now to trigger a scene where we find... other people that have been eaten up? Wow! Enjoy the scenes here where we make our way out of here and after much talk, the quest will come to an end. This was a nice one! Thank god we didn't have to fight the Megaloworm haha.</p>
    </QuestStep>
  </section>

  <NextSteps links={[
    { href: "/sidequests/a-goblins-dilemma", label: "A Goblin's Dilemma" }
  ]} />
</WalkthroughLayout>
